[2020-03-28 17:56] yj2303 commented on #403
I am using ** purecss-sass** to fix this problem.

[2020-03-28 18:40] Prahitha commented on #610
![Screenshot (41)](https://user-images.githubusercontent.com/44160152/77830833-5a548680-7151-11ea-8ddf-dbbae4514f30.png)

I think the cards would look better (on hover), if they have some margin around them.

[2020-03-28 20:23] Adyasha8105 commented on #695
@Paarmita Can you check my PR?

[2020-03-28 20:41] divyanshu-rawat commented on #403
@yj2303 yes but which components due you to convert into pure css?

[2020-03-28 21:03] divyanshu-rawat opened #705 "Migration of Images top GCP."
**Is your feature request related to a problem? Please describe.**
Images are unnecessary slowing down the application we plan to migrate them to GCP.

**Describe the solution you'd like**
Solution is already Implemented we have to migrate the new ones.

**Describe alternatives you've considered**
N.A

**Additional context**
GCP Buckets

[2020-03-29 11:46] divyanshu-rawat commented on #644
@akansha006 are you still working on this ?

[2020-03-29 14:22] divyanshu-rawat commented on #705
#708 closes this.

[2020-03-29 14:22] #705 closed

[2020-03-29 14:59] divyanshu-rawat opened #709 "Remove Prop-Types ★"
Just search for prop-types in the code base & keep removing it occurrence as we are migrating to typescript we don't to make use of prop-Types anymore.

You can even a send a PR by removing it in any one of the the file. 🎯

[2020-03-29 20:34] Adyasha8105 commented on #695
@divyanshu-rawat  Can you update my scorecard as the issue #695 was already merged?

[2020-03-29 20:47] divyanshu-rawat commented on #695
@Adyasha8105 I have added labels to you PR, `gsoc` should grab your score from the labels.

[2020-03-29 21:21] shreyakapoor08 commented on #709
@divyanshu-rawat can I work on this?

[2020-03-30 06:57] prangya244 commented on #709
I would like to take up the issue.

[2020-03-30 07:38] Adyasha8105 commented on #695
@divyanshu-rawat Okay :)

[2020-03-30 08:55] divyanshu-rawat commented on #709
hey @prangya244 , @shreyakapoor08 you both can work on removing prop-Types from different components, before starting please write here in which Component are you removing it, so that there won't be merge conflicts.

[2020-03-30 09:37] shreyakapoor08 commented on #709
I will remove it from
1.  team.tsx
2. Login.jsx
3. SignUp.tsx
4. JobConfirmation.jsx
5. dashBoardHeader.js

[2020-03-30 09:55] divyanshu-rawat commented on #649
@Meghana-12 @Prahitha Would you like to work on other inputs from this issue?

[2020-03-30 09:55] #695 closed

[2020-03-30 09:57] #672 closed

[2020-03-30 10:00] #684 closed

[2020-03-30 10:48] #664 closed

[2020-03-30 11:56] dibakar95 commented on #668
Hi. I'm a participant of GSSoC20. And a member of Ignitus-client Slack Channel. I am a react enthusiast.  And I would like to take upon this issue.

[2020-03-30 19:29] Satyam3976 commented on #618
@Paarmita Please assign me this issue, I want to work on this.

[2020-03-30 19:31] Satyam3976 commented on #618
Please assign me this Issue. I wanted to work on this.

[2020-03-31 04:35] Marvin9 opened #719 "Student Signup: ambiguous invalid email message"
**Describe the bug**
Invalid email message sticking unnecessarily.

**To Reproduce**
1. Go to [Student Signup](http://www.ignitus.org/signup/student)
![issue_ignitus](https://user-images.githubusercontent.com/17699717/77984561-80378200-732f-11ea-9f61-0029d4ed9316.gif)

**Expected behaviour**
There should not be invalid email message if not obligatory.

[2020-03-31 19:28] ashishnagpal2498 commented on #719
Hi , can I work on this issue.

[2020-04-01 00:13] #397 closed

[2020-04-01 03:30] BhuwanChandra commented on #618
@Paarmita I would like to work on this issue. please assign this to me.

[2020-04-01 21:21] aditianshu commented on #668
Hi, @Paarmita would like to work on this issue, GSSoC '20 participant, I have prior experience in React.
Thank You.

[2020-04-01 22:12] divyanshu-rawat commented on #668
Hey 👋  Siddhi are you still working on this issue? Hey Dibakar lets wait until Siddhi replies,  Hey aditi sorry please pick up another issue until Dibakar & Siddhi are working on it. If they both will not work they I will be happy to assign it to you :)

[2020-04-02 05:33] Meghana-12 commented on #649
I would like to continue working on this!

[2020-04-02 08:42] Paarmita commented on #649
@Meghana-12 That's great, you can take up this input UI with an icon
https://user-images.githubusercontent.com/26546816/77146796-2fe93600-6a8c-11ea-8fdb-80615842c782.png

[2020-04-02 08:46] siddhishree commented on #668
Hey @divyanshu-rawat, I couldn't start working because I didn't get any confirmation from the mentor. However, I'll start working now if I am assigned the issue.

[2020-04-02 08:54] divyanshu-rawat commented on #668
@siddhishree Please go ahead 👍

[2020-04-02 16:36] quinnbee opened #731 "Error in creating files while cloning"
**Describe the bug**
While **cloning the repo** using **MINGW64 (Git Bash)** or **Cygwin**, an error appears stating that the files in src/ignitus-UserInterfaceBook/Components/Atoms/interfaceSeparator/Components cannot be created.
**To Reproduce**
Steps to reproduce the behavior:
1. Git Bash on the directory you want to clone or create a directory.
2. Use command
[code]

**Expected behaviour**
[co

[2020-04-02 18:58] yj2303 commented on #731
Have a look at https://github.com/t-b/git-pre-commit-hook-windows-filenames .

[2020-04-02 19:01] quinnbee commented on #731
This didn't help.

[2020-04-03 05:55] yj2303 commented on #731
Check git checkout -f HEAD
Hope, it will help you.

[2020-04-03 06:51] quinnbee commented on #731
The issue is with the folder name Components having a space and hence, git checkout breaks. The issue arises out of error in creation of files under Components, not with git checkout.The maintainers just need to rename it without space. Also, -f is usually not advised. Thanks! :)

[2020-04-03 08:56] divyanshu-rawat commented on #731
@shreyakapoor08 this might be something you were also encountering :)

[2020-04-03 08:59] shreyakapoor08 commented on #731
Ohh yess :)🙈

[2020-04-03 09:00] divyanshu-rawat commented on #731
@shreyakapoor08  , @quinnbee  I am working on it :)

[2020-04-03 10:35] quinnbee commented on #731
Thank you! :)

[2020-04-03 11:19] divyanshu-rawat commented on #731
it should be fixes please give it a try, @shreyakapoor08 , @quinnbee.

[2020-04-03 11:19] divyanshu-rawat commented on #731
hey, thanks for the inputs, If you are using mac/linux it won't be a problem for you, if it windows & running fine for you then you can let us know your solution to the problem :)

[2020-04-03 16:02] #731 closed

[2020-04-05 06:54] Adyasha8105 commented on #644
@Paarmita @divyanshu-rawat Can I do this?

[2020-04-05 06:57] Adyasha8105 commented on #629
@divyanshu-rawat @Paarmita  Can I work on this issue?

[2020-04-05 11:37] Paarmita commented on #644
@Adyasha8105 Yes, you can take up, as @akansha006 haven't responded.

[2020-04-05 18:03] divyanshu-rawat opened #740 "DropDown z-index in opportunity filters 🔨"
**Describe the bug**
I just refactored #723 , durning refactoring I removed presence of css property position, which we avoid to use, so removing it causes z-index to not work properly.

**To Reproduce**
You can check the behaviour here.
https://deploy-preview-710--peaceful-nightingale-55a1b7.netlify.com/interface/opportunityPosted

**Expected behaviour**
Expected behaviour is to not increase the

[2020-04-06 09:25] Marvin9 commented on #719
@ashishnagpal2498 Are you working on it?

[2020-04-06 11:38] Paarmita opened #743 "Dashboard: Profile detail view"
**Describe the solution you'd like**
Implementation of the attached Profile detail section UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This Section will be viewed on profile. Please try to use the components from the existing design system.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignit

[2020-04-06 11:41] ashishnagpal2498 commented on #719
Yes @Marvin9 I am working , sorry for delay.

[2020-04-06 12:57] divyanshu-rawat commented on #743
@Meghana-12 Would you like to work on it?

[2020-04-06 12:59] Meghana-12 commented on #743
sure!

[2020-04-06 13:36] parsa-webdev opened #746 "White space on right side of screen in mobile version"
On the mobile version, there's unwanted white space on the right side of screen, which is preventing content to be 100% of screen width.

This starts to occur if the screen size in less than 400 pixels.
This problem has been seen only on the Homepage so far.

![issue](https://user-images.githubusercontent.com/60968775/78564176-dc256d80-783d-11ea-82e6-6e47f167dd28.png)

[2020-04-06 14:20] Meghana-12 commented on #743
where should this be added?

[2020-04-06 16:33] Paarmita commented on #743
@Meghana-12 Create a different route `/profile` and add this section.

[2020-04-06 17:04] Paarmita opened #747 "Scrollbar for Side Navigation in Interface has some unwanted white space"
**Describe the bug**
In the interface, Sidebar has a separate scrollbar that appears at some distance and some extra white space is seen.

**Expected behavior**
Removing the extra white space

**Screenshots**
![Capture](https://user-images.githubusercontent.com/26546816/78584877-33750f00-7839-11ea-8367-05cef840d700.PNG)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]  *

[2020-04-06 22:12] #747 closed

[2020-04-06 22:16] Paarmita commented on #649
@Prahitha You can take up this input
Make sure you see the input with the icon on the right and make this accordingly.

<img width="800" alt="Screenshot 2020-04-07 at 12 14 54 AM" src="https://user-images.githubusercontent.com/26546816/78610309-db540200-7864-11ea-9914-c4490bedcbf3.png">

[2020-04-07 06:26] Marvin9 commented on #719
Fixes #745

[2020-04-07 06:26] #719 closed

[2020-04-07 09:48] shreyakapoor08 commented on #709
@divyanshu-rawat Should I remove it from the rest of the files too ?

[2020-04-08 08:13] Sapna2001 opened #750 "Update Readme"
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 15:27] #683 closed

[2020-04-08 15:33] #526 closed

[2020-04-08 15:34] Paarmita commented on #629
@Adyasha8105 Sure

[2020-04-08 15:39] Paarmita opened #754 "Text area not expanding as we type in 🤷‍♀️"
**Describe the bug**
The text area in the Multimedia input UI is not increasing automatically as the user types in.

**Expected behavior**
There could be 2 possible solutions for this-
Either add a scrollbar in the textarea itself or increase the text area size automatically and simultaneously decreasing the fon-size(like in Facebook post)

**Screenshots**
<img width="776" alt="Screenshot 2020-04-

[2020-04-08 16:00] aysp-99 commented on #558
Is Priyadarshini still working on it?

[2020-04-08 18:04] Marvin9 commented on #750
You can still create pull request.

[2020-04-08 18:34] Paarmita opened #756 "Dashboard: Tooltip UI"
**Describe the solution you'd like**
Implementation of the attached Tooltip UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Atoms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms) under [Tooltips](http://www.ignitus.org/interface/tooltips) whic

[2020-04-08 23:10] Paarmita commented on #558
No Asfiya, you can go ahead & work on it. :)

On Wed 8. Apr 2020 at 18:00, Asfiya Shaikh <notifications@github.com> wrote:

[2020-04-09 08:02] nooras commented on #682
Hello @Paarmita  I am student of GSSOC . Can i do this ?? Will you assing it to me ??Thanks

[2020-04-09 08:12] nooras commented on #740
Hello @divyanshu-rawat  Can I work on this ??

[2020-04-09 08:16] Adyasha8105 commented on #644
@Paarmita Can you explain this issue as I am unable to understand it?

[2020-04-09 09:29] ashishnagpal2498 opened #757 "Bug in login/sign up screen"
**Alert messages**
The alert messages , invalidEmail , password Mismatch , User not found Field empty persist even If the fields are correct or not yet filled as error was in previous case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sign in 'page. Try to sign in with student account. Account should not exist.
2. Click on 'Signup' . The error is shown as user is not found.
3. Go t

[2020-04-09 09:35] ashishnagpal2498 opened #758 "CSS minor issue in login/signup screen"
**Login/SignUp as Student/Professor Card**
When a user hover on the card the scale transition occur on the card but link to the next page only available on the image , even though the cursor is pointer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Signup/login'
2. Hover on professor/student card
3. Try to click outside image

**Expected behaviour**
Either card should not have curso

[2020-04-09 09:48] ashishnagpal2498 opened #759 "CSS Improvement in our team cards"
**CSS Issue**
1) Card overlaps on hover
2) Abrupt Links display on hover

**Expected behaviour**
1) margin should be increased between the cards.
2) Instead of display - opacity or visibility will look better I think.

**Screenshot**
![image](https://user-images.githubusercontent.com/36301481/78882076-45db8c80-7a75-11ea-8610-25da06228753.png)

[2020-04-09 09:53] ashishnagpal2498 opened #760 "Minor issue in Header nav"
**Description**
The navbar automatically gets open initially when I switch from desktop to mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the view to responsive

**Screenshot**
![image](https://user-images.githubusercontent.com/36301481/78882641-f77abd80-7a75-11ea-94a6-9cf1691d0007.png)

[2020-04-09 10:00] divyanshu-rawat commented on #760
Thanks for opening this up @ashishnagpal2498 👍

[2020-04-09 10:01] divyanshu-rawat commented on #759
I think it needs discussion 👍  cc - @Paarmita , @gittysachin , @Marvin9

[2020-04-09 10:02] divyanshu-rawat commented on #758
Thanks for opening this up @ashishnagpal2498 👍 , let me know if you want to fix this.

[2020-04-09 10:04] ashishnagpal2498 commented on #758
Yes , I want to fix this.

[2020-04-09 10:05] ashishnagpal2498 commented on #760
Yeah sure.

[2020-04-09 10:16] divyanshu-rawat commented on #757
This is clearly a bug, I was planning to open an issue for it since long time.

[2020-04-09 10:21] Paarmita commented on #759
@ashishnagpal2498 We have aligned this by considering the width of the card, font and other factors and I think the current UI looks fine to me for now.
Nevertheless, on the mobile view, we can remove the hover and show the icons on the cards, because hover does not make sense in small screens.

[2020-04-09 10:21] divyanshu-rawat commented on #750
@Sapna2001 I think issue is not relevant, Ignitus is not only participating in GSSOC.
Nevertheless, its an open-source project so there are no fixed mentors here, only contributors & maintainers, who are doing their job well by reviewing the pull requests.

[2020-04-09 10:21] #750 closed

[2020-04-09 10:22] divyanshu-rawat commented on #644
cc @Paarmita

[2020-04-09 10:24] divyanshu-rawat commented on #618
@Satyam3976 go ahead, and let me know if you still want to work on it else we will assign it to @BhuwanChandra  :)

[2020-04-09 10:24] Paarmita commented on #644
@Adyasha8105 I guess everything is mentioned in the description like which files to add the component, just follow the code structure and implement the component.

[2020-04-09 10:30] ashishnagpal2498 commented on #759
Yes I agree, mobile view and hover doesn't make any sense. So icons should be displayed.
But in desktop view when you hover, do you see a text takes few seconds to get stable, its bit blurry for minimal seconds. Also what are your view on changing that icons to opacity instead of display ?. As card is scaling and also the content in transforming in Y direction due to icons.

[2020-04-09 10:31] ashishnagpal2498 commented on #758
No GSSOC label ?

[2020-04-09 10:31] Marvin9 commented on #759
Overlapping is not issue as far as any content is not hidden because of it. Design also looks fine.

However I noticed if we hover on any card in 2nd row, It seems like the card above is still on the top of hovered one.

Any thoughts on removing hover effect? @divyanshu-rawat @Paarmita

[2020-04-09 10:33] Marvin9 commented on #757
This issue should be given priority. Also please check if there is any other side effects.

[2020-04-09 11:36] Paarmita commented on #759
Then, we can completely get rid of the hover effect and add the icons in the card itself.

[2020-04-09 12:47] divyanshu-rawat opened #761 "Getting rid of default exports 💡"
**Is your feature request related to a problem? Please describe.**
Currently we are exporting some components as `default` & some components as `const`.

**Describe the solution you'd like**
Now we plant to completely get rid of default export at all, reason being are stated in the blog attached in additional context.

**Describe alternatives you've considered**
N.A

**Additional context**
https:/

[2020-04-09 12:48] divyanshu-rawat commented on #761
I will soon create a PR for some components then anyone who is willing to take up this issue can follow the same process. cc - @Paarmita , @gittysachin , @Marvin9

[2020-04-09 14:00] divyanshu-rawat commented on #761
To ensure better `dev` experience if we are exporting a single component out of directory then we will name the file that is exporting the component as `index.tsx` instead of naming it as a name of the component.

[2020-04-09 14:15] Marvin9 commented on #761
Agreed.
What should be our approach on components with error boundries? Should be stick with ```export default``` there?

[2020-04-09 14:21] Marvin9 commented on #759
@ashishnagpal2498 Can you fix that?

[2020-04-09 14:25] divyanshu-rawat commented on #761
example of `exporting const with HOC.`

I am updating the PR.

[code]

[2020-04-09 14:25] divyanshu-rawat commented on #761
We will be exporting everything as `const`. what do you say @Marvin9 ?

[2020-04-09 14:26] divyanshu-rawat commented on #761
I am also deleting selectors, sagas, actionTypes in those file that will never be calling any server endpoint, I will pushing major cleanup in develop soon.

[2020-04-09 14:27] Marvin9 commented on #761
I strongly agree with migration to ```export const```.

[2020-04-09 14:27] divyanshu-rawat commented on #761
Great 👍

[2020-04-09 14:28] divyanshu-rawat commented on #761
export const along with `index.tsx/index-ts` inside `Components` directory, I will be sending PR soon for some components.

[2020-04-09 14:28] Marvin9 commented on #761
Sure. Do we need migrate slowly? Or in one PR.

[2020-04-09 14:33] divyanshu-rawat commented on #761
I will migrate some then you can pick up some :)

[2020-04-09 14:45] ashishnagpal2498 commented on #757
I can work on this.

[2020-04-09 14:46] ashishnagpal2498 commented on #759
Ya sure.

[2020-04-09 15:12] Marvin9 commented on #754
Is it necessary to decrease font size on increment of text area size?

[2020-04-09 15:17] divyanshu-rawat commented on #754
I think it may have performance effects of we do something like that?
I believe listeners should be involved in doing so?

[2020-04-09 15:40] Marvin9 commented on #754
Yes, ```onChange``` is involved. We need to check each time whether height is increased or decreased and set font size accordingly. It is also required to bound minimum and maximum font size.

Second approach works fine without decreasing the font.

![multimedia](https://user-images.githubusercontent.com/17699717/78913270-65d77400-7aa6-11ea-8954-8b3ab2dfdee0.gif)

[2020-04-09 15:45] Paarmita commented on #754
@Marvin9 According to user experience, we should not increase the height of the box this much, we should limit to some height and accordingly decrease the font-size to adjust that height, also look smooth to the user.

Let's say, if the user entered the paragraph of the full page height, then this box will keep on increasing, which is bad user experience.

[2020-04-09 15:48] Marvin9 commented on #754
Ook @Paarmita
Can you give some more reference? So I can try further.

[2020-04-09 19:40] Paarmita commented on #629
@Adyasha8105 Sorry, it's a priority task so some maintainer of the project will be working on it.
@Marvin9 Can you please take this up?

[2020-04-09 19:43] Marvin9 commented on #629
Sure

[2020-04-09 20:02] Dishebh commented on #615
@Paarmita can I take up the issue?

[2020-04-09 20:03] Dishebh commented on #669
@Paarmita if the issue is still open for take, can I work on this?

[2020-04-10 05:12] Marvin9 commented on #757
Thanks @ashishnagpal2498 but as It is priority and you are working on other issues as well, I will take this up.

[2020-04-10 06:30] parsa-webdev commented on #746
This may work. Changing the font size of the intro text (Welcome To Ignitus) from 78px to 60px or lower seems to fix the issue.

![fontSize](https://user-images.githubusercontent.com/60968775/78968693-0d948680-7b27-11ea-9793-5e9a44107766.png)

[2020-04-10 06:34] Paarmita commented on #746
@parsa-webdev Thanks a lot for your suggestions, but I am planning to change the layout of the hero section to some simpler UI, so this issue won't be there now.

[2020-04-10 06:36] Paarmita commented on #669
@arpita-in Are you still working on it?
@Dishebh If Arpita doesn´t reply in a day, then you can take this up.

[2020-04-10 06:36] parsa-webdev commented on #746
That would be great, thanks!

[2020-04-10 06:36] #746 closed

[2020-04-10 06:36] Paarmita commented on #615
@vishnupriyareddy12 Are you still working on it?

[2020-04-10 08:24] vishnupriyareddy12 commented on #615
yes sir due to some network issues we are lagging

On Fri, Apr 10, 2020 at 12:07 PM Paarmita Bhargava <notifications@github.com>
wrote:

[2020-04-10 08:31] Dishebh commented on #615
*ma'am

[2020-04-10 13:43] #557 closed

[2020-04-10 14:57] Marvin9 commented on #757
Fix #765

[2020-04-10 14:57] #757 closed

[2020-04-10 16:28] Dishebh opened #768 "Get rid of the console warnings"
**Describe the bug**
A clear and concise description of what the bug is.
There are some console warnings that pop up while running the project locally.

**Expected behaviour**
A clear and concise description of what you expected to happen.
There should no warnings on running the project.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-04-10 21-5

[2020-04-10 16:29] Dishebh commented on #768
Working on it.

[2020-04-10 16:53] Marvin9 commented on #754
Fix #763

[2020-04-10 16:53] #754 closed

[2020-04-10 16:59] Marvin9 commented on #768
Sure @Dishebh
Try to reduce them as much as possible.

[2020-04-10 18:26] hudlerr commented on #756
Hey, @Paarmita - Am I good to work on this

[2020-04-10 19:06] divyanshu-rawat opened #771 "Pushing to PR fails."
**Describe the bug**
I am getting this err while pushing my changes to any PR.

**Screenshots**
<img width="277" alt="Screenshot 2020-04-10 at 21 05 19" src="https://user-images.githubusercontent.com/13464678/79016393-1a3ccd00-7b6f-11ea-8e3f-68d38914f0c5.png">

**Additional context**
@Marvin9 seems to be caused by recent changes of pr-preview. ? do you have any idea.

[2020-04-10 19:21] divyanshu-rawat commented on #756
@hudlerr please go ahead 👍

[2020-04-10 19:22] divyanshu-rawat commented on #771
It would be great if it can be resolved soon then I will merge everything to master as develop has  grown bigger. 😅

[2020-04-10 20:10] divyanshu-rawat commented on #771
Just to experiment I deleted the fie in this PR, and then I can push back to `github`. #753

[2020-04-10 20:35] divyanshu-rawat commented on #771
closing this the problem is that once you add a workflow you need to refresh tokens of an other git client you are using to take care of git workflow.

[2020-04-10 20:35] #771 closed

[2020-04-10 22:57] divyanshu-rawat opened #773 "Replace Axios => Fetch"
**Is your feature request related to a problem? Please describe.**
Should we replace our `axios` calls with fetch api?

**Describe the solution you'd like**
As fetch is native to browser, so do we need an additional NPM package like `axios` to communicate to server from client.

**Describe alternatives you've considered**
N.A

**Additional context**
https://developer.mozilla.org/en-US/docs/Web/API

[2020-04-10 22:58] divyanshu-rawat commented on #773
what do you think @Marvin9 , @abhu-A-J , @Paarmita ? :)

[2020-04-10 23:16] divyanshu-rawat commented on #709
@shreyakapoor08 They are all removed I removed remaining, please pick up something else if you want to, nevertheless thanks for your interest. 😊

[2020-04-10 23:16] #709 closed

[2020-04-11 05:23] Marvin9 commented on #773
I read [this article](https://medium.com/@thejasonfile/fetch-vs-axios-js-for-making-http-requests-2b261cdd3af5), I think we should stick with axios.

[2020-04-11 05:28] Marvin9 commented on #771
Sorry @divyanshu-rawat , didn't expect that. I saw you already solved 😀 Let's keep an eye on action tab for some time.

[2020-04-11 05:29] abhu-A-J commented on #773
@divyanshu-rawat I think we can replicate all the features of Axios with fetch. The only reason why I might prefer Axios is for its backward compatibility I guess!
Also sometimes fetch can handle `bad request` a  little weird if you place catch before then Something like this:
[code]

It's still gonna run `then` block. Axios handles this as well! But it is a minor thing!
I think you should keep `A

[2020-04-11 05:40] Marvin9 commented on #768
Fix #772

[2020-04-11 05:41] Marvin9 commented on #768
Fix #772

[2020-04-11 05:41] #768 closed

[2020-04-11 16:58] #540 closed

[2020-04-11 16:58] #629 closed

[2020-04-11 16:59] #759 closed

[2020-04-11 17:00] Paarmita commented on #560
@Meghana-12 Are you working on this?

[2020-04-11 17:00] Marvin9 commented on #761
@divyanshu-rawat

By wrapping component in ```withErrorBoundry```, props definitions are being untracked.

[code]

Solution could be

[code]
However I think It will become cluttered. What do you think?

[2020-04-11 17:02] #554 closed

[2020-04-11 17:02] #541 closed

[2020-04-11 17:05] #218 closed

[2020-04-11 17:06] #607 closed

[2020-04-11 17:07] #649 closed

[2020-04-11 17:16] Marvin9 commented on #573
@divyanshu-rawat I would take this up. Please update endpoints link.

[2020-04-11 18:10] Marvin9 commented on #454
Any update on this issue?

[2020-04-11 18:17] divyanshu-rawat commented on #573
@Marvin9 no please go ahead 👍

[2020-04-11 18:18] Marvin9 commented on #477
Migration is completed in v6.2.0 🎉 Can we close this one?

[2020-04-11 18:24] #477 closed

[2020-04-11 18:26] divyanshu-rawat commented on #454
@Marvin9 due to major api changes I had to close the old PR, it's not a priority now.

[2020-04-11 18:29] divyanshu-rawat commented on #761
@Marvin9 So it is the question of code readability right ? or props definitions are being untracked are causing any trouble to typescript complier.

[2020-04-11 18:32] Marvin9 commented on #761
Code readability. I would prefer components defined as ```Component: React.FC<Props>```

[2020-04-11 20:03] Dishebh commented on #669
Can you pls share the path where you added the tags component folder?

[2020-04-12 16:28] Paarmita opened #778 "Skeleton UI for dashbaord"
**Is your feature request related to a problem? Please describe.**
After signup/log in the loader is displayed during the duration request is made.

**Describe the solution you'd like**
As a good user experience, I suggest using a skeleton UI page that will be displayed just after the user clicks the signup/login. And this skeleton will be displayed till the request from the backend is complete an

[2020-04-12 16:34] Paarmita commented on #669
@Dishebh You need to create a route under atoms and add there.

[2020-04-12 16:41] Paarmita opened #779 "Convert loader gif of Ignitus into CSS"
**Is your feature request related to a problem? Please describe.**
Currently, ignitus has 2 loaders in an animated gif format and has some background that does not look good on some backgrounds.

**Describe the solution you'd like**
I suggest to make the animation in CSS, so the problem of user interface and optimization of the image both are solved.

**Describe alternatives you've considered**
Fo

[2020-04-12 16:42] #481 closed

[2020-04-13 04:56] Marvin9 opened #780 "Few console errors in Browser due to Styled Component."
**Describe the bug**
What I understood is, when passing props to styled component, They are forwarded further. However pure HTML Element does not recognize it.

**To Reproduce**
1. Go to 'homepage'
2. Open browser console.
3. Go to ```/interface```
4. Open browser console.

**Expected behaviour**
Clean console.

**Screenshots**
![Screenshot from 2020-04-13 10-16-56](https://user-images.githubuserc

[2020-04-13 10:30] #609 closed

[2020-04-13 10:42] #758 closed

[2020-04-13 21:40] Dishebh commented on #780
@Marvin9 can i work on this?

[2020-04-14 05:07] Marvin9 commented on #780
Sure @Dishebh

[2020-04-14 08:00] Dishebh opened #784 "Website incompatible with higher node versions"
**Describe the bug**
A clear and concise description of what the bug is.
The web application only works in 10.* versions of node. Incompatible with higher node versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the application locally, with higher / lower node versions installed.
2. check out the console errors.

**Expected behaviour**
A clear and concise description of what you e

[2020-04-14 08:48] divyanshu-rawat commented on #784
1 - `rm -rf node_ modules`
2 - `Remove package-lock.json`
3 - `switch node version`.
4 -` npm install`
5 - `npm start`

I think this should fix the problem, your node sass bindings are for different version, so you switched the version after npm install I suppose, let me know.

[2020-04-14 09:23] Dishebh commented on #784
The issue still remains. I removed the `node_modules` and `package-lock.json`, switched to the latest version of node and did `npm install`.

[2020-04-14 15:44] Dishebh commented on #780
I'm a bit puzzled. The console throws a warning, saying `isexpanded` is not a `boolean` attribute which, contradicts the type saying it is actually a boolean attribute.

[2020-04-14 15:44] Dishebh commented on #780
I'm a bit puzzled. The console throws a warning, saying `isexpanded` is not a `boolean` attribute which, contradicts the type saying it is actually a boolean attribute.

[2020-04-14 18:57] divyanshu-rawat commented on #403
Removed bootstrap 4

[2020-04-14 18:57] #403 closed

[2020-04-14 18:59] divyanshu-rawat commented on #476
Migrated entire codebase to Emotion styled CSS

[2020-04-14 18:59] #476 closed

[2020-04-14 18:59] #580 closed

[2020-04-14 19:02] #404 closed

[2020-04-14 19:04] #618 closed

[2020-04-15 07:58] Paarmita opened #787 "Add icons: Slack, Youtube and Medium"
Add the mentioned icons similar to the ones here
https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Assets/ignitus-Icons

Take SVG icons from here
Medium Icon-
[Monogram.svg.zip](https://github.com/Ignitus/Ignitus-client/files/4479798/Monogram.svg.zip)
Slack Icon- https://brandfolder.com/s/q8tkjq-ekzow-348pqp
Youtube Icon-
[youtube_monochrome_ligh

[2020-04-15 08:31] Paarmita commented on #761
Changed all default exports to constants

[2020-04-15 08:32] #395 closed

[2020-04-15 08:33] Paarmita commented on #601
Resolved

[2020-04-15 08:33] #601 closed

[2020-04-15 08:34] Paarmita commented on #479
Adding the SVG icons in the footer will resolve this.
The issue for adding those icons- #787

[2020-04-15 17:23] Dishebh commented on #787
@Paarmita Do we have to replace the font-awesome icons present in the footer with their respective svg icons?

[2020-04-16 05:35] divyanshu-rawat commented on #584
If you plan to work on lazy-loading of images, then please don't use any additional `NPM` package to do so, it would be great if you can find some way to do the same without relying on NPM Package.

[2020-04-16 05:48] Paarmita commented on #787
@Dishebh Yes, we need to but only after this PR gets merged https://github.com/Ignitus/Ignitus-client/pull/789.

[2020-04-16 06:12] Meghana-12 commented on #560
Yes, @Paarmita.

[2020-04-16 06:37] Marvin9 commented on #780
DOM Element attributes only accept strings ```class="xyz"``` if you pass anything but string, It is likely to show error.

That's why attribute is expecting ```string``` but got boolean ```attr=true``` which is invalid.

[2020-04-16 08:15] YoussefEgla opened #790 "prettier config and houndci specification not aligned"
This is a minor issue related to code formatting.

- **prettier** :  "bracketSpacing": false
-  **houndci**: "bracketSpacing": true

[2020-04-16 10:21] Paarmita opened #791 "Dashboard: Share Overlay UI"
**Describe the solution you'd like**
Implementation of the attached Overlay UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UserInterfaceBook](ht

[2020-04-16 21:20] #790 closed

[2020-04-16 21:24] #546 closed

[2020-04-16 21:25] #547 closed

[2020-04-16 21:26] #542 closed

[2020-04-16 21:26] #543 closed

[2020-04-17 07:24] nandanasreeraj123 commented on #791
Can i do this??

[2020-04-17 14:33] Paarmita commented on #791
Sure @nandanasreeraj123

[2020-04-18 06:56] Marvin9 opened #795 "Easy dev experience."
**Is your feature request related to a problem? Please describe.**
Currently we have to dig deeper to access component of ```ignitus-Shared```.
[code]

**Describe the solution you'd like**
It could be better if we can directly access from ```ignitus-Shared```.
[code]
To achieve that, we need to identify static named components and provide them in ```ignitus-Shared/index.ts```.

**Describe alternat

[2020-04-18 11:38] trblackw commented on #780
@Marvin9 looks like this issue should be closed

[2020-04-18 11:40] #780 closed

[2020-04-18 12:23] Paarmita opened #796 "Avatar component to get random avatar images from an array"
Idea is to create a component that will have avatar array and would provide a random avatar PNG image.

Use case: If in future any user didn't add his/her image in the profile, so we can call this component and assign the avatar to that specific profile. Or we can also provide the user option to choose from all these avatars and add that instead of the image.

We will be using the free avatar gene

[2020-04-18 12:28] #787 closed

[2020-04-18 12:29] Paarmita commented on #743
Fixed

[2020-04-18 12:29] #743 closed

[2020-04-18 12:29] #573 closed

[2020-04-18 12:30] Paarmita commented on #479
Removed Font-awesome!

[2020-04-18 12:30] #479 closed

[2020-04-19 05:52] Marvin9 commented on #796
I would like to take this up. Is 10 random avatars enough?

[2020-04-19 06:46] Dishebh commented on #676
I guess this issue is resolved now.

[2020-04-19 09:31] Paarmita commented on #676
No, there is an option for adding the icon on the right of the text, but the logic needs to be solved for the icon on left in the button.

[2020-04-19 10:06] Paarmita commented on #796
@Marvin9 Cool, we are planning to render these SVG files from GCP, so it would be great if you could create a component from the existing avatars that are already stored in GCP. In the future, I will change these avatars with the new ones.
Some of the links are here -
[code]

[2020-04-19 14:33] divyanshu-rawat commented on #784
@Dishebh please have a look in this PR, https://github.com/Ignitus/Ignitus-client/pull/793 in develop we are running node.js v11.
Implying app is compatible with higher node version, so I am closing the issue for now.

[2020-04-19 14:33] #784 closed

[2020-04-19 16:20] #796 closed

[2020-04-19 18:21] divyanshu-rawat opened #799 "TS Types"
**Is your feature request related to a problem? Please describe.**
Fortunately we are able to migrate entire legacy-code to TS, unfortunately at lot of places types are either missing or are defined as `any`.

**Describe the solution you'd like**
It would be if we step-by-step replace `any` with appropriate `types`, and define types at those place where it is missing.

**Describe alternatives you'

[2020-04-19 19:02] Paarmita commented on #454
We have planned not to add the username support, so closing this.

[2020-04-19 19:02] #454 closed

[2020-04-19 21:42] Paarmita opened #801 "Add icon in header to differentiate student and professor dashboards"
Presently, in the user dashboard, he/she doesn't see whether it is logged in from Student or Professor. I thought of adding an icon beside the email, to differentiate the 2.

I have added 2 SVG icons with this issue, the idea is to show one for student dashboard and other with Professor(with glasses) on the right of the email in the Header.

You need to check the user role and accordingly add the

[2020-04-22 14:45] #668 closed

[2020-04-22 20:40] Dishebh commented on #676
@Paarmita can I work on this?

[2020-04-22 20:41] Dishebh commented on #669
@Paarmita I guess the issue can be closed now.

[2020-04-22 20:57] #669 closed

[2020-04-22 20:58] #558 closed

[2020-04-22 21:24] Paarmita commented on #676
Sure @Dishebh

[2020-04-23 08:11] #795 closed

[2020-04-23 09:09] Dishebh commented on #676
@Paarmita there are already some buttons that have icons on their right (as you mentioned) in the `/interface/Buttons` route, and so what I have to do is to add some buttons that should have the icons on their left as well, and in the same path i.e, `interface/Buttons`.

Please correct me here if I am wrong.

[2020-04-23 10:12] Paarmita commented on #676
Yes @Dishebh, you understand that right.

[2020-04-23 20:17] aysp-99 commented on #779
May I try this? @Paarmita
Is there any `.svg` file for the logo? I couldn't find one in the repository.

[2020-04-24 05:56] Paarmita commented on #779
@aysp-99 There is no animated SVG file for these loaders, for now, I have attached the GIF in the issue for your reference.
Although, if you need to manipulate the SVG in order to make a CSS animation, I have attached both loaders here.

1. This is a typical loader example, so you can see some reference examples from codepen.
[loader.svg.zip](https://github.com/Ignitus/Ignitus-client/files/4526890

[2020-04-24 08:58] Meghana-12 commented on #801
I would like to work on this issue.

[2020-04-26 06:29] steric85 commented on #778
Can I take this up?

[2020-04-26 08:07] Paarmita commented on #778
@steric85 You can try it. But we prefer to not use external packages, as it increases the bundle size of the application. You can try to add rectangles and give them animations using CSS. Ex- https://codepen.io/jordanmsykes/pen/RgPqgV, https://codepen.io/alyseadlard/pen/WGLorb

Also, do you need the skeleton UI for it? I plan to have a skeleton for the dashboard page.

<img width="400" alt="Screen

[2020-04-29 09:14] Meghana-12 commented on #396
I would like to work on this issue.

[2020-04-29 09:17] steric85 commented on #778
Sure. Will check out these examples
Yes, I'll be needing a skeleton UI

[2020-04-30 06:36] Dishebh commented on #676
Done✔️. @Paarmita can you please add the gssoc labels to the PR as well?

[2020-04-30 06:39] Dishebh commented on #644
Can I take this issue, if no one else is working on it?

[2020-04-30 07:28] #676 closed

[2020-04-30 10:14] Paarmita commented on #560
@Meghana-12 Would you like to work on other dropdown UI also?

[2020-04-30 19:23] Paarmita opened #816 "After signup/login, change the content in Signup button"
**Describe the bug**
After the user signup/login in the dashboard, he/she sees the signup button on the main screen.
![1](https://user-images.githubusercontent.com/26546816/80750601-a7e55a00-8b28-11ea-88f4-67117f41d8ad.PNG)
![2](https://user-images.githubusercontent.com/26546816/80750608-a9af1d80-8b28-11ea-8182-c3a0c9075cb9.PNG)

**Expected behavior**
So, the text in the button should change to` J

[2020-05-01 03:47] aditianshu commented on #816
Can I work on this issue?
I'm a GSSoC participant

[2020-05-01 11:43] Paarmita commented on #816
@aditianshu Sure

[2020-05-01 16:22] Dishebh commented on #644
@Paarmita do I have to make a new `interfaceToggleButtons` under `Molecules` at `/interface/toggleButtons` route?

[2020-05-01 16:40] Paarmita commented on #644
@Dishebh Yes

[2020-05-02 07:25] aditianshu commented on #816
@Paarmita , I've done it.
In the bottom-left corner the link can be seen which it'll open up to.

![image](https://user-images.githubusercontent.com/55697933/80857973-dd4a8e80-8c73-11ea-8f8c-c3e42cacb585.png)

![image](https://user-images.githubusercontent.com/55697933/80857981-ecc9d780-8c73-11ea-9653-3dd26cddedc0.png)

[2020-05-02 07:27] Paarmita commented on #816
@aditianshu Looks perfect! Can you please send a PR for the it.

[2020-05-02 07:39] aditianshu commented on #816
@Paarmita Thanks!
I've made a PR but there's some issue with the checks which I can't figure out.😅
Could you help me with it?

[2020-05-02 08:01] Paarmita commented on #816
@aditianshu, I have seen your PR, so wait for @divyanshu-rawat review and he might help you with the checks.

[2020-05-02 08:43] Dishebh commented on #644
![image](https://user-images.githubusercontent.com/43489708/80859486-150b0380-8c7f-11ea-8bb8-c4d1c0fdc563.png)

Are these icons available in the repo?

[2020-05-02 18:39] Paarmita commented on #644
@Dishebh I guess no, you need to add them from material rounded icons.

[2020-05-04 20:53] Dishebh commented on #519
Is the issue resolved now? If not, can I work on it?

[2020-05-05 04:56] Marvin9 commented on #519
Unit tests for ```Atoms``` are done. You can take reference from there & write for other parts.

[2020-05-08 15:44] kichloo opened #827 "PR template"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
PR template
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scree

[2020-05-08 15:44] kichloo commented on #827
It can have Medium as the label

[2020-05-09 05:25] Paarmita commented on #827
@kichloo I see it is a feature request template. Also, we have a template for PR. https://www.github.com/Ignitus/Ignitus-client/tree/master/.github%2FPULL_REQUEST_TEMPLATE.

[2020-05-09 05:26] #816 closed

[2020-05-09 05:27] #644 closed

[2020-05-09 10:17] aditianshu commented on #816
@Paarmita my GSSoC score doesn't reflect that I've solved it, could you look into it please?

[2020-05-09 13:00] Meghana-12 commented on #615
I would like to work on this.

[2020-05-10 08:20] Dishebh commented on #530
I would like to work on the issue.

[2020-05-10 08:31] #827 closed

[2020-05-10 08:32] #396 closed

[2020-05-12 11:31] divyanshu-rawat commented on #816
@aditianshu should be updated by now :)

[2020-05-12 14:19] Dishebh commented on #799
@divyanshu-rawat I guess there is already an issue, having same the purpose. Issue: #530 Please have a look.

[2020-05-13 10:22] Dishebh commented on #671
@Paarmita I would like to work on the issue.

[2020-05-16 08:22] Paarmita commented on #615
@Meghana-12 Sorry, can you please add the side section also in this page, so we can complete this UI. I forgot to mention that in the issue.

<img width="415" alt="Screenshot 2020-05-16 at 10 19 56 AM" src="https://user-images.githubusercontent.com/26546816/82114793-1e0bd280-975f-11ea-8b8d-dc311512b67a.png">

[2020-05-16 08:37] Paarmita opened #833 "Dashboard: Main UI"
**Describe the solution you'd like**
Implementation of the attached UI of the Dashboard section based on code guidelines.
After Login the user will be directed to the dashboard before the below UI is shown, I plan to have a skeleton UI for this screen which will be displayed till the data of the dashboard is loaded.
For skeleton check [issue#778](https://github.com/Ignitus/Ignitus-client/issues/77

[2020-05-16 08:38] Paarmita commented on #801
@Meghana-12 What's the progress on this?

[2020-05-16 09:17] Meghana-12 commented on #615
okay, sure. I'll add that.

[2020-05-16 18:53] Meghana-12 commented on #801
Sorry for the delay, it's almost done. I'll put up a PR tonight.

[2020-05-16 19:05] Meghana-12 commented on #833
I would like to work on this.

[2020-05-17 00:16] #583 closed

[2020-05-17 00:16] #605 closed

[2020-05-17 09:35] Dishebh commented on #519
@divyanshu-rawat @Marvin9 I have added tests for `Organisms`. Pls review, thanks!

[2020-05-18 08:29] Dishebh commented on #519
Unit tests are done for `Layouts` as well.

[2020-05-19 05:41] Marvin9 opened #843 "side-navigation-react"
**Is your feature request related to a problem? Please describe.**
We are excited to announce that we just released side navigation package that we use at ```Ignitus interface``` with additional functionality. Here is the [npm link](https://www.npmjs.com/package/side-navigation-react).

The goal is to use this package.

@divyanshu-rawat What are your thoughts on it?

[2020-05-19 17:57] Dishebh commented on #740
@divyanshu-rawat I would like to work on the issue.

[2020-05-20 09:56] Dishebh commented on #740
@divyanshu-rawat shouldn't adding a height to the container solve the issue? I tried the links you mentioned above, but did not get any fruitful results. Maybe we should try fixing the height using max-height on hover state, or maybe even assigning a height to the whole container so it won't overlow?

[2020-05-20 17:47] Dishebh commented on #791
@Paarmita I would like to work on the issue.

[2020-05-20 17:52] Paarmita commented on #791
@Dishebh  Sure🙂

[2020-05-20 17:56] Dishebh commented on #791
@Paarmita Is there reddit icon in the repo? I couldn't find it.

[2020-05-21 12:09] Dishebh commented on #791
![Screenshot from 2020-05-21 17-38-04](https://user-images.githubusercontent.com/43489708/82557730-e7342300-9b89-11ea-83a4-e070238e2e82.png)

@Paarmita is the layout fine? I didn't add the reddit icon because I couldn't find it.

[2020-05-21 12:11] divyanshu-rawat opened #844 "Migration to SSR? 💭"
Should we render the react components server-side?
We are not sure but this is just an idea, feel free to write your views in comments.
Currently, comments are being rendered client-side, we are still researching whether we should move to SSR or not?

[2020-05-21 12:12] divyanshu-rawat commented on #799
@Dishebh yes kind of similar, would you like to work on it?

[2020-05-21 12:40] Paarmita commented on #791
@Dishebh download the svg icon from flaticon or somewhere else and add the icon.
Layout looks fine to me for now.

[2020-05-23 07:22] Dishebh commented on #671
@Paarmita I guess the issue can be closed now.

[2020-05-23 07:24] Dishebh commented on #761
@divyanshu-rawat can I take up the issue, if it is available under gssoc?

[2020-05-24 03:38] Marvin9 commented on #844
```NextJS``` would be good choice for that. But we have to change whole architecture I think.

[2020-05-24 09:41] divyanshu-rawat commented on #844
@Marvin9 I think there are several ways we need to transform completely there are easier ways to migrate CRA -> Next is one way, and if you got time do some search you will definitely find some fruitful insights :).

[2020-05-25 17:05] divyanshu-rawat commented on #530
@Dishebh if you are interested you can also pick this up. :)

[2020-05-25 17:16] Dishebh commented on #530
@divyanshu-rawat Sure!

[2020-05-27 00:32] #399 closed

[2020-05-28 00:37] #628 closed

[2020-05-28 12:34] Dishebh opened #855 "Shift all tests to a single test folder in the root directory? :thought_balloon:"
**Is your feature request related to a problem? Please describe.**
Should we shift all the unit tests to a single test directory? That way, it might become easier to locate the tests for a particular component, and it might prove out to be consistent with the current architecture.

[2020-05-28 12:35] Dishebh commented on #855
cc: @divyanshu-rawat @Marvin9 @Paarmita

[2020-05-31 00:26] #575 closed

[2020-06-01 20:23] divyanshu-rawat opened #858 "Add GitBook as supporter 👋"
Add GitBook as Ignitus supporter at Ignitus `Supported By section`.
We can make use of this [logo](https://spng.pngfind.com/pngs/s/94-945871_gitbook-logo-hd-png-download.png).

![Screenshot 2020-06-01 at 22 19 11](https://user-images.githubusercontent.com/13464678/83450676-01a5b080-a456-11ea-943e-fa87fab1a344.png)

[2020-06-02 00:26] #530 closed

[2020-06-02 11:00] steric85 commented on #858
@divyanshu-rawat I've made the changes in #859 . Can you please check?

[2020-06-02 11:10] divyanshu-rawat commented on #858
I will have a look soon @steric85 :)

[2020-06-03 13:08] Dishebh opened #860 "Add a PR template"
**Is your feature request related to a problem? Please describe.**
As of now when a PR gets merged, the corresponding issue needs to be closed manually.

**Describe the solution you'd like**
The issue closing process can be automated by adding `Resolves #{issueNumber}` in the PR description. This can be added in the PR template. It might also make the review process easier.

[2020-06-03 13:08] Dishebh commented on #860
cc: @divyanshu-rawat @Marvin9 @Paarmita

[2020-06-03 13:12] Paarmita commented on #860
Sure @Dishebh . Go ahead

[2020-06-04 10:30] Meghana-12 commented on #560
sure, I'll work on it.

[2020-06-05 08:33] tarang75490 commented on #791
Mam can i address this issue ??

[2020-06-05 08:40] tarang75490 commented on #756
Can i do this??

[2020-06-05 09:11] tarang75490 commented on #756
can i do this??

[2020-06-05 11:06] hudlerr commented on #756
I haven't had the time, so im happy to pass it on

[2020-06-07 16:20] #858 closed

[2020-06-07 16:23] divyanshu-rawat commented on #855
@Dishebh good suggestion, but generally convention is to place them in the same dir. where the component is placed. closing this as of now.

[2020-06-07 16:23] #855 closed

[2020-06-07 16:25] #801 closed

[2020-06-07 16:26] divyanshu-rawat commented on #791
@tarang75490 it already resolved :).
Thanks for your interest :)

[2020-06-07 16:26] #791 closed

[2020-06-07 16:30] divyanshu-rawat commented on #671
sure @Dishebh :)

[2020-06-07 16:30] #671 closed

[2020-06-07 17:05] divyanshu-rawat opened #865 "Page Insights Improvements 🎯"
Here is the attached google page insights report for Ignitus with the pretty well ratings, but still suggests some ways to improve font/Img loading performance 🚀.

Feel free to work on any of the optimize suggestion & raise the pull request for it :)
Let me know if you have any other Questions 💭

![screencapture-developers-google-speed-pagespeed-insights-2020-06-07-18_48_40](https://user-images.gi

[2020-06-10 08:21] #556 closed

[2020-06-10 08:21] #560 closed

[2020-06-10 08:23] #778 closed

[2020-06-10 09:04] Paarmita opened #867 "Notification cards and the page UI"
**Describe the solution you'd like**
Implementation of the attached Notifications UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms)

**Additional context**
Refer [Figma](https://www.

[2020-06-10 09:09] Paarmita opened #868 "Message Cards"
**Describe the solution you'd like**
Implementation of the attached Notifications UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms)

**Additional context**
Refer [Figma](https://www.

[2020-06-11 07:40] tarang75490 commented on #756
Mam please assign it to me

[2020-06-11 12:08] tarang75490 commented on #756
Mam what exactly i have to do ??
I have to make a prototype of tool tip...

[2020-06-11 12:36] divyanshu-rawat opened #869 "Add Atlassian as supporter."
Add [Atlassian](https://www.atlassian.com/) as Ignitus supporter at Ignitus Supported By section.

![Screenshot 2020-06-01 at 22 19 11](https://user-images.githubusercontent.com/13464678/84384837-e291e600-abee-11ea-9b1f-4fcfbadb1bbf.png)

Feel free to use the SVG logo from here https://www.atlassian.com/company/news/press-kit

[2020-06-12 17:31] Dishebh commented on #867
@Paarmita I would like to work on this.

[2020-06-13 05:22] Marvin9 opened #871 "Improvement in tests."
**Describe the bug**
If you observe, in every test we set value of ```wrapper``` inside ```beforeEach()``` function, however it is never used in first test case (in most of them, it is snapshot test case). Now we have more than 15 test cases, so this unnecessary call could be overhead.

**To Reproduce**
Examples

https://github.com/Ignitus/Ignitus-client/blob/master/src/ignitus-Shared/ignitus-Desi

[2020-06-13 11:53] #760 closed

[2020-06-14 09:16] #869 closed

[2020-06-15 16:35] lilicaetano commented on #868
@Paarmita Can I work on this one?

[2020-06-18 00:27] #773 closed

[2020-06-21 00:29] #610 closed

[2020-06-23 00:28] #584 closed

[2020-06-24 10:40] Meghana-12 opened #875 "Extra white space in About Page in mobile view"
**Describe the bug**
There is some extra white space in About us Page in mobile view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to About us page in mobile view
2. Drag to left.
3. You'll see an extra white space to the right.

**Screenshots**
![Screenshot 2020-06-23 at 3 54 24 PM](https://user-images.githubusercontent.com/44519203/85540925-2811d280-b635-11ea-8270-a133eb56e895.png)

[2020-06-24 18:04] Meghana-12 commented on #875
I would like to fix this.

[2020-06-26 21:34] divyanshu-rawat opened #876 "Replace Signup Progress Img => Component"
**Is your feature request related to a problem? Please describe.**
Currently, if you navigate to http://www.ignitus.org/flow/welcomeFlow & follow the flow by clicking on `Save & Continue` you will notice that a progress bar is updating but currently what we do is we show different images on each transition from one page to another for example. The transition from http://www.ignitus.org/flow/welcom

[2020-06-26 22:50] divyanshu-rawat opened #877 "User signUp flow 🎯"
**Is your feature request related to a problem? Please describe.**
At Ignitus in order to on-board users, we have designed a signUp flow, which helps us to collect user information.
If you navigate to http://www.ignitus.org/flow/studentSignUpFlow and click on `Save & Continue` you will transition to the next page in the flow.
Currently, we have Implemented `welcomeFlow`, `interestFlow`, `emailFlow

[2020-06-26 23:20] divyanshu-rawat opened #878 "Client username support 🚀"
**Is your feature request related to a problem? Please describe.**
We have decided to add username support to Ignitus.
Currently, the `ignitus-server` has an open PR to add username support to the Ignitus web application.
Here is the PR - https://github.com/Ignitus/Ignitus-rest-api/pull/154

**Implementation can be divide into 2 steps:**
1 - Add username support to signUp.
2 - Add username support

[2020-06-26 23:23] divyanshu-rawat opened #879 "Inline-Checkbox 📦"
**Describe the bug**
Checkbox here is not displayed in-line http://www.ignitus.org/interface/defaultCheckbox

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.ignitus.org/interface/defaultCheckbox

**Expected behavior**
Should be displayed inline-block 🔨

**Additional context**
Please let me know if you have any Questions regarding this issue we can have a conversation here o

[2020-06-26 23:27] divyanshu-rawat opened #880 "Technical docs. 📃"
**Is your feature request related to a problem? Please describe.**
We plan to write technical docs. for the reusable components, we have in our design kit reflected here http://www.ignitus.org/interface

e.g - Writing `props` received by buttons component we make use of http://www.ignitus.org/interface/buttons

**Describe the solution you'd like**
Existing docs. are written here https://ignitus-do

[2020-06-27 00:38] divyanshu-rawat opened #881 "Lazy-load 🌄"
**Is your feature request related to a problem? Please describe.**
In order to improve performance & initial loading time, we have decided to lazy-load images at the Ignitus web application.
We don't plan to use any third-party library to do this for us as it will unnecessarily increase the bundle size.

**Describe the solution you'd like**
Here is the one that I think fits our requirement https:/

[2020-06-27 07:15] #868 closed

[2020-06-27 10:30] divyanshu-rawat opened #883 "General settings UI 🎨"
**Is your feature request related to a problem? Please describe.**

**Minimum Requirement:**
Create a new route `/settings` &  implement general user settings UI, you have to implement the part outlined in a black border.
Add route as `private route `so that it can't be accessed without authentication, private routes are listed here https://github.com/Ignitus/Ignitus-client/blob/master/src/ignitus

[2020-06-27 11:57] divyanshu-rawat opened #884 "Add DigitalOcean as supporter."
Add [DigitalOcean](https://www.digitalocean.com/) as Ignitus supporter at Ignitus Supported By section.
Logo can be found here https://www.digitalocean.com/press/

<img width="933" alt="Screenshot 2020-06-27 at 13 56 53" src="https://user-images.githubusercontent.com/13464678/85921676-14a57800-b87e-11ea-9851-e4f6ccc8c7df.png">

[2020-06-27 15:35] daniel-j-davis commented on #884
Hi @divyanshu-rawat, just submitted a PR for this as my first contribution to the code.

[2020-06-28 12:52] Dishebh commented on #884
@divyanshu-rawat the issue can be closed now :)

[2020-06-28 13:19] divyanshu-rawat commented on #875
great @Meghana-12 go-ahead 👍

[2020-06-28 13:24] #884 closed

[2020-06-30 10:19] Dishebh commented on #879
It can be closed now :)

[2020-07-01 00:36] #779 closed

[2020-07-02 16:25] sharadcodes commented on #779
@Paarmita What about removing the white background and making it transparent ?

[2020-07-02 21:21] #879 closed

[2020-07-05 06:26] Dishebh commented on #871
@Marvin9 Can we try [scoping](https://jestjs.io/docs/en/setup-teardown#scoping) here? We can write a snapshot test case outside the `describe` block and do a `beforeEach` inside `describe`.

[2020-07-05 10:33] Dishebh opened #893 "The navbar remains opened even when redirected to a different route"
**Describe the bug**
When navigated to a different route using navbar, the navbar remains opened.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open ignitus.org in small screen resolutions, for eg, mobile devices.
2. Click on the navbar, and click on any of its items.
3. You will see that the navbar remains opened even when you have landed on a different page.

**Expected behaviour**
The

[2020-07-05 10:40] Marvin9 commented on #871
Go ahead @Dishebh

[2020-07-05 11:54] Dishebh commented on #871
@Marvin9 opened a PR #895

[2020-07-06 17:16] Dishebh commented on #682
@Paarmita I guess the issue can be closed now :)

[2020-07-08 04:57] Dishebh commented on #893
Solved via #894

[2020-07-08 04:57] #893 closed

[2020-07-09 18:37] Dishebh commented on #871
@Marvin9 the issue can be closed now :)

[2020-07-11 14:09] #871 closed

[2020-07-13 10:26] Dishebh commented on #867
@divyanshu-rawat it can be closed now

[2020-07-13 10:26] Dishebh commented on #876
@divyanshu-rawat this as well

[2020-07-13 10:27] Dishebh commented on #682
@divyanshu-rawat this too

[2020-07-13 10:28] Dishebh commented on #615
@divyanshu-rawat this too

[2020-07-13 11:20] #876 closed

[2020-07-17 16:28] Dishebh opened #900 "No component displayed under Dashboard in Organisms"
**Is your feature request related to a problem? Please describe.**
Currently, there is no component displayed at route `/interface/dashboardNavigation`, which can be accessed under Organisms in `Side Navigation/Dashboard`.

[2020-07-19 22:59] divyanshu-rawat opened #902 "Location API 🌍"
**Is your feature request related to a problem? Please describe.**
Navigate to http://www.ignitus.org/flow/studentSignUpFlow, you will notice here you will be asked for `Country/Region`, `TimeZone ` you can leave province-input as of now we will remove it soon.

Would be great if we can call location API once the user starts typing his/her location.

**Describe the solution you'd like**

![Screens

[2020-07-19 22:59] divyanshu-rawat commented on #900
any insights @Paarmita, @Dishebh thanks for pointing out!.

[2020-07-19 23:00] #878 closed

[2020-07-25 00:39] #519 closed

[2020-07-26 15:49] Dishebh commented on #902
@divyanshu-rawat to use the google maps api here, we would need a google developer's account with billing enabled on it. Please let me know if you know of any other alternatives?

[2020-07-26 15:51] Dishebh commented on #900
@Paarmita can you please help me with what component should come under this route?

[2020-07-27 00:40] #740 closed

[2020-07-28 00:39] #799 closed

[2020-07-28 02:39] amuchand47 commented on #902
There are few alternative of Google Map API like **Tom Tom, MapBox , OpenLayers** etc . @divyanshu-rawat @Dishebh

[2020-07-28 12:37] Dishebh opened #906 "Update manifest.json file"
**Is your feature request related to a problem? Please describe.**
The current manifest.json file seems outdated and throws some errors and warnings.

**Describe the solution you'd like**
Update the file to get rid of as many errors / warnings as possible.

### Screenshot describing the issue:
![Screenshot from 2020-07-28 18-05-25](https://user-images.githubusercontent.com/43489708/88666065-2ee0a9

[2020-07-28 12:38] Dishebh commented on #906
@divyanshu-rawat @Marvin9  let me know if I can work on it?

[2020-07-30 00:40] #761 closed

[2020-07-30 10:35] divyanshu-rawat commented on #902
@Dishebh , feel free to analyse what @amuchand47 suggested :)

[2020-07-31 00:41] #844 closed

[2020-08-05 10:24] Dishebh opened #908 "add a messageDetail component in Organisms"
**Describe the solution you'd like**
Implementation of the attached `messageDetails` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-User

[2020-08-05 10:25] Dishebh commented on #908
@divyanshu-rawat @Paarmita pls see if the above issue is correct, and can be worked upon.

[2020-08-05 10:38] divyanshu-rawat commented on #908
@Dishebh looks good to me, anyone willing to take this issue can ask his/her doubts before taking up either to @Dishebh , @divyanshu-rawat or design related concerns to @Paarmita  :)

[2020-08-05 15:58] Dishebh opened #909 "add a deleteAccount component in Organisms"
**Describe the solution you'd like**
Implementation of the attached `deleteAccount` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-UserI

[2020-08-05 16:04] Dishebh opened #910 "add a deleteFinal component in Organisms"
**Describe the solution you'd like**
Implementation of the attached `deleteFinal` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-UserInt

[2020-08-05 18:20] divyanshu-rawat commented on #910
Thanks @Dishebh for opening this up, feel free to reach any of us if you are facing problem while working on this issue :)

[2020-08-05 18:20] divyanshu-rawat commented on #909
Thanks @Dishebh for opening this up, feel free to reach any of us if you are facing problem while working on this issue :)

[2020-08-06 04:24] Dishebh commented on #883
Closing it via #891

[2020-08-06 04:24] #883 closed

[2020-08-06 04:26] Dishebh commented on #682
Closing it via #872

[2020-08-06 04:26] #682 closed

[2020-08-06 04:26] Dishebh commented on #867
Closing it via #898

[2020-08-06 04:26] #867 closed

[2020-08-06 04:28] Dishebh commented on #615
Closing it via #832

[2020-08-06 04:28] #615 closed

[2020-08-10 00:44] #860 closed

[2020-08-11 14:56] Dishebh opened #919 "add a modalApply component under Molecules"
**Describe the solution you'd like**
Implementation of the attached `modalApply` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UserInte

[2020-08-11 15:19] Dishebh opened #920 "add a blockedUsers component under Organisms"
**Describe the solution you'd like**
Implementation of the attached `blockedUsers` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-UserIn

[2020-08-11 15:33] Dishebh opened #921 "add a messageSettings component under Organisms"
**Describe the solution you'd like**
Implementation of the attached `messageSettings` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-Use

[2020-08-11 15:40] Dishebh opened #922 "add a savedJobs component under Organisms"
**Describe the solution you'd like**
Implementation of the attached `savedJobs` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-UserInter

[2020-08-12 13:03] Dishebh opened #924 "use cacheAPI in the browser"
**Is your feature request related to a problem? Please describe.**
Currently, the `Service Worker` in the web-app does not make use of `Cache Interface` or `Cache API` in the browser. The `Cache Api` can be used to store static and dynamic assets of the website to make the website load minimal assets and work, even when one is offline.

**Describe the solution you'd like**
Make the use of `Cache A

[2020-08-12 13:03] Dishebh commented on #924
@divyanshu-rawat @Marvin9 would like your views on it.

[2020-08-12 14:26] AudreyKj commented on #919
@Dishebh @divyanshu-rawat @Paarmita hello! i'm a first-timer and would love to work on this. is it still available?

[2020-08-12 14:32] Dishebh commented on #919
@AudreyKj unfortunately, there's already an open PR for it. You can try out #921 or any other issue that you feel like to work upon :)

[2020-08-12 14:35] AudreyKj commented on #921
@Dishebh would love to work on this - is it still open?

[2020-08-12 14:38] Dishebh commented on #921
Yeah! I will assign this issue to you :)

[2020-08-12 14:43] AudreyKj commented on #921
great! will work on it asap :)

[2020-08-13 04:49] Dishebh commented on #919
Closing it via #923

[2020-08-13 04:49] #919 closed

[2020-08-14 00:44] #843 closed

[2020-08-14 06:39] hrahul2605 commented on #922
Hey, can i work on this?

[2020-08-14 06:53] Dishebh commented on #922
@hrahul2605 Sure. Will assign this issue to you :)

[2020-08-14 08:18] Dishebh opened #925 "add a newMessage component under Organisms"
**Describe the solution you'd like**
Implementation of the attached `newMessage` component based on [code guidelines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Organisms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Organisms) which is displayed in the [ignitus-UserInte

[2020-08-14 18:06] Sasha411 commented on #908
I have added some more variables for formatting message.
You can see it here : https://imgur.com/C9EteqC

[2020-08-14 18:22] AudreyKj commented on #921
@Dishebh sorry i won't be able to take care of this, I have too much work!

[2020-08-14 18:32] Dishebh commented on #908
@Sasha411 Looks great! But there's already an open PR for it, so you should have asked (or mentioned) before working on the issue. Nevermind, you can still open a PR for it if you have solved the issue :)

[2020-08-15 10:00] Sasha411 commented on #925
I would like to work on this, could you please assign this to me?

[2020-08-15 10:02] Sasha411 commented on #908
@Dishebh My bad,I am new to this, gonna ask before I work on something.

[2020-08-15 10:29] Dishebh commented on #925
Sure! Go ahead :+1:

[2020-08-15 11:27] hrahul2605 commented on #921
Hey @Dishebh  , can i work on this now?

[2020-08-15 11:29] Dishebh commented on #921
Sure :+1:

[2020-08-16 07:36] Sasha411 commented on #925
Should I add all the new SVG icons in the icons folder and then import the icons for the new message component or just add icons by using svg tag inside newMessage component under DesignSystem?

Work done till now: https://imgur.com/gallery/473wDZ0

[2020-08-16 08:05] Dishebh commented on #925
@Sasha411, add the required icons (in SVG format) in the icons folder and then import them for the `newMessage` component.

P.S The work looks great up till now!

[2020-08-16 10:00] Sasha411 commented on #925
I am getting this error when I created new branch from develop and committing changes to develop branch.

husky > pre-commit (node v12.16.3)

'CI' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! ignitus-client-side-development@5.0.0 ci: `CI=true react-scripts test && npm run lint`
npm ERR! Exit status 1
npm ER

[2020-08-16 10:02] Dishebh commented on #925
@Sasha411 can you paste a screenshot of the error here? Along with the command you typed

[2020-08-16 10:05] Sasha411 commented on #925
![image](https://user-images.githubusercontent.com/65828306/90331933-1bc34980-dfd6-11ea-8441-ec2678abd55a.png)

[2020-08-16 10:06] Sasha411 commented on #925
I think I have to delete CI file which is empty present in root directory

[2020-08-16 10:09] Dishebh commented on #925
Try removing the `package-lock.json` file, and deleting the `node_modules`, and then do `npm install` again. See if it fixes the issue.

[2020-08-16 10:14] Marvin9 commented on #925
@Sasha411 For temporary solution, Inside package.json replace ```CI=true``` => ```set CI=true``` and then commit. (make sure you don't commit package.json)

If that doesn't work. run ```npm run test``` & ```npm run lint```, if there is no error you can commit with ```--no-verify``` flag. I will try to investigate this issue.

[2020-08-16 10:42] Sasha411 commented on #925
@Dishebh after reinstalling it still didn't worked and @Marvin9  after changin CI=true to set CI=true and not committing package.json I ran npm run test, all test passed but in npm run lint it gives this error:

![npm run lint](https://user-images.githubusercontent.com/65828306/90332536-4794fe00-dfdb-11ea-8030-d3fa21c3838b.png)

[2020-08-16 11:41] Marvin9 commented on #925
```npm run lint:fix``` to fix lint errors automatically, rest ones you have to fix manually or if not possible then disable eslint for that line.

I wonder how you got so many errors on the first place.

[2020-08-17 08:56] Sasha411 commented on #925
@Marvin9 So I used `npm run lint:fix` and I am down to 3 errors and 28 warnings.

![image](https://user-images.githubusercontent.com/65828306/90377389-91dab580-e095-11ea-980a-0c967199a2f3.png)

[2020-08-17 09:06] lilicaetano commented on #920
Hi! Can I work on this one?

[2020-08-17 09:43] Dishebh commented on #920
@lilicaetano sure!

[2020-08-18 07:37] Dishebh opened #928 "component opportunitySideCard not listed under Organisms"
**Describe the bug**
Currently, the component `opportunitySideCard` is not titled under `Organisms` at `/interface` route, though the component is already implemented.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/interface` route.
2. Under `Organisms`, you won't find any component titled `Opportunity Side Card`

**Expected behaviour**
There should be a component under `Organisms`

[2020-08-18 07:41] Dishebh opened #929 "write Unit test for Dashboard Navigation Dropdown component"
**Describe the solution you'd like**
write Unit test for [`Dashboard Navigation Dropdown`](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms/ignitus-navDropdown) component present under `Atom`. You can view the component at route: `/interface/dashboardNavigationDropdown`.

We are using [enzyme](https://enzymejs.github.io/enzyme/#basic-usage

[2020-08-18 07:47] Dishebh opened #930 "write Unit test for modalApply component"
**Describe the solution you'd like**
write Unit test for [`Modal Apply`](https://github.com/Ignitus/Ignitus-client/tree/develop/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules/ignitus-Modal/ignitus-ModalApply) component present under `Molecules`. You can view the component at route: `/interface/modalApply`.

We are using [enzyme](https://enzymejs.github.io/enzyme/#basic-usage) to test Re

[2020-08-18 08:25] Dishebh opened #931 "write Unit test for Opportunity Side Card component"
**Describe the solution you'd like**
write Unit test for `Opportunity Side Card` component present under `Organisms`. You can view the component at route: `/interface/opportunitySideCard`.

[2020-08-18 08:27] Dishebh opened #932 "write Unit test for Loader component"
**Describe the solution you'd like**
write Unit test for [`Loader`](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms/ignitus-Loader/Components) component present under `Atom`. You can view the component at route: `/interface/loader`.

We are using [enzyme](https://enzymejs.github.io/enzyme/#basic-usage) to test React components and [jest](

[2020-08-18 09:59] Sasha411 commented on #925
Just one last thing left can anyone help me with this? No more errors in lint now used verify bypass command to commit that is done last thing is to push changes but question is where?

![image](https://user-images.githubusercontent.com/65828306/90499696-7a6bfd00-e167-11ea-9718-63f33b504d43.png)

[2020-08-18 10:08] Sasha411 commented on #928
Can I work on this please ?

[2020-08-18 10:16] Dishebh commented on #928
Sure!

[2020-08-18 10:17] Dishebh commented on #925
@Sasha411 Push the changes to your origin, not upstream

[2020-08-18 10:18] Dishebh commented on #925
`git push origin <branch_name>`

[2020-08-18 10:47] Sasha411 commented on #925
It gives me this error:

![image](https://user-images.githubusercontent.com/65828306/90503786-a7bba980-e16d-11ea-838c-1d348d08c46a.png)

[2020-08-18 11:04] Marvin9 commented on #925
Set git origin to forked repo. Your origin should point to this one https://github.com/Sasha411/Ignitus-client.

Then push your updates and make pull request to develop branch.

[2020-08-18 11:14] Sasha411 commented on #925
@Marvin9  thanks

[2020-08-18 13:03] AmanRaj1608 commented on #932
I would like to work on this.
Can you give some more insight on this?

[2020-08-18 13:22] Marvin9 commented on #932
Updated 👍

@Dishebh Can you please follow same template in all test issues?

[2020-08-18 18:10] Dishebh commented on #756
@tarang75490 any lead on this?

[2020-08-19 08:19] Dishebh opened #935 "component Progress implemented under Molecules but listed under Templates"
**Describe the bug**
Currently, the component `Progress` is titled under `Templates` at `/interface` route, though the component is implemented under `Molecules`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/interface` route.
2. Under `Templates`, you will find the component titled `Signup Progress`, which is actually implemented under `ignitus-Molecules`.

**Expected behaviour**

[2020-08-19 13:46] hrahul2605 commented on #935
Can i do this?

[2020-08-19 15:31] hrahul2605 commented on #931
Hey @Dishebh can i try this one?

[2020-08-19 15:39] Dishebh commented on #935
You can take this up after completing #931

[2020-08-20 16:47] #928 closed

[2020-08-20 16:50] Dishebh commented on #932
@upieez, would be great if you could mention here first before starting to work on an issue. Seems like @AmanRaj1608 was also interested in working on it.

[2020-08-20 16:52] upieez commented on #932
@Dishebh Oh right so sorry about that I'll take note the next time

[2020-08-20 16:54] upieez commented on #930
hey @Dishebh can I take up this one?

[2020-08-20 17:00] Dishebh commented on #930
Sure!

[2020-08-21 04:22] #932 closed

[2020-08-24 17:37] #930 closed

[2020-08-24 18:01] Dishebh opened #940 "redirected to home page when clicked on navbar in smaller resolutions"
**Describe the bug**
Currently, when clicked on navbar in smaller screen resolutions (such as mobile device), we get redirected to the landing page `/`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the `signin` page (for example).
2. Click on the `navbar` in smaller screen resolution devices
3. You will get redirected to the landing page `/`

**Expected behaviour**
You should not ge

[2020-08-24 23:26] RathiJ commented on #940
@Dishebh  ,  Hi ,  I am a beginner , looking for easy good first issue to start contribute.  Shall i fix this ?.

[2020-08-25 03:37] Dishebh commented on #940
Sure!

[2020-08-27 04:42] #922 closed

[2020-08-27 04:42] #910 closed

[2020-08-27 04:42] #909 closed

[2020-08-27 04:42] #908 closed

[2020-08-28 14:58] Marvin9 commented on #929
Fixed by #941

[2020-08-28 14:58] #929 closed

[2020-08-29 13:00] abhu-A-J commented on #940
Hi @Dishebh if it's still open I can take up this task?

[2020-08-29 14:25] Dishebh commented on #940
@RathiJ, any lead on this?

[2020-08-30 05:01] RathiJ commented on #940
@Dishebh  ,  Hi , Thanks for assigning this to me, just now started looking into it .  so far i have seen , the issue is not specific to the small screen, i am seeing the same issue in my laptop chrome browser too.  I went through few folder , i could not find exact html file the site points too. In a brief period of exploring the site, i see  many bugs.
Since I just started working on it,  if you

[2020-08-30 05:51] Dishebh commented on #940
@RathiJ thanks for me briefing me in about this. You can check out some more beginner-friendly issues and may start working on them. Also, feel free to raise issues if you encounter some/any bugs while exploring the project. @abhu-A-J, assigning to you this issue, you can start working on it. :)

[2020-08-30 14:11] abhu-A-J commented on #940
Thanks! I'll start working on it!

[2020-08-31 04:54] #940 closed

[2020-09-10 00:50] #880 closed

[2020-09-11 05:28] #925 closed

[2020-09-11 05:29] #877 closed

[2020-09-11 05:31] #921 closed

[2020-10-06 00:59] #902 closed

[2020-10-13 01:03] #906 closed

[2020-10-13 01:03] #875 closed

[2020-10-13 01:03] #900 closed

[2020-10-13 01:03] #833 closed

[2020-10-16 01:05] #881 closed

[2020-10-17 01:04] #865 closed

[2020-10-19 01:06] #924 closed

[2020-10-25 01:11] #756 closed

[2021-01-06 01:18] #920 closed