[2018-07-05 04:43] divyanshu-rawat opened #5 "HyperLinks To Jump To Specific Sections"
**Describe the bug**
Create HyperLinks to jump to specific sections on the page.
As of now when you click on any of the Link in navigation-bar it doesn't take you to specfic sections in the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.ignitus.org.
2. Click on Links at Navigation Bar.
3. Scroll down to check whether it works or not.
4. Validate the problem yourself.

**Expe

[2018-07-05 09:17] shoutoutloud commented on #5
Hi. Can I work on this issue ?

[2018-07-11 11:14] divyanshu-rawat commented on #5
@shoutoutloud yes 👍

[2018-07-11 19:19] Shreya4444 commented on #5
hey why have you sent this github link?

What am I supposed to do from there?

________________________________
From: Paarmita Bhargava <notifications@github.com>
Sent: Wednesday, July 11, 2018 10:56 AM
To: Ignitus/Ignitus-Client-Side-Development
Cc: Subscribed
Subject: Re: [Ignitus/Ignitus-Client-Side-Development] HyperLinks To Jump To Specific Sections (#5)

@shoutoutloud<https://github.com/shou

[2018-07-12 05:11] divyanshu-rawat commented on #5
@Shreya4444 didn't get you?

[2018-07-12 06:06] shoutoutloud commented on #5
Thanks @divyanshu-rawat @Paarmita .Can you please guide me on what do I have to do?

[2018-07-12 06:12] Paarmita commented on #5
@shoutoutloud Create HyperLinks to jump to a section like 'How it works?' link takes to the section 'what we do?'

[2018-07-12 10:46] shoutoutloud commented on #5
How can I run the project on my local machine?

[2018-07-12 11:35] Paarmita commented on #5
@shoutoutloud see [CONTRIBUTION.md](https://github.com/Ignitus/Ignitus-Client-Side-Development/blob/master/CONTRIBUTION.md)

[2018-07-13 05:52] shoutoutloud commented on #5
Can you tell me where would `Features` and `Why Ignitus?` point to?

[2018-07-13 06:14] Paarmita commented on #5
@shoutoutloud I will let u know till then u can work on How it works?

[2018-07-13 06:30] shoutoutloud commented on #5
Sure.

[2018-07-13 06:49] shoutoutloud commented on #5
@Paarmita I have made a pull request. Please have a look.

[2018-07-24 15:06] desiby opened #14 ""Join" link goes to Slack"
**Describe the bug**
When clicking on the "join" link, I am directed to the Ignitus Slack workspace. I am not sure if this link is needed at all since Users on only need to register ("Sign up") then sign in. @divyanshu-rawat Unless directing to Slack is a way to "acquire" users in the meantime.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage
2. Click on 'Join'
3. See error

**

[2018-07-24 15:19] desiby opened #15 ""Sign Up" link goes to slack"
**Describe the bug**
clicking on link directs to Slack
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'homepage'
2. Scroll down to 'Sign Up.'
3. Click on 'Sign Up'
4. See error

**Expected behavior**
Should go to sign up page

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [Mac OS Sierra]
 -

[2018-07-24 16:41] #14 closed

[2018-08-03 06:02] #15 closed

[2018-08-03 06:03] #5 closed

[2018-08-03 06:06] Paarmita opened #18 "HyperLinks To Jump To Specific Sections"
**Describe the bug**
Clicking on the link in navbar should direct to specific sections
As of now when you click on any of the Link in navigation-bar it doesn't take you to specific sections in the page and the routes are also not correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to develop branch and run it locally.
2. Click on Links at Navigation Bar.
3. Scroll down to check wheth

[2018-08-14 08:14] amitmangotra opened #19 "Content on Homepage doesn't align/wrap properly in mobile view"
### Content on Home Page doesn't align properly
The text in Testimonial component is aligned to center which, in case of lengthy texts, doesn't align/wrap properly in the Carousel. Similarly, the images for CardLayout component and content for Contributors, Supporters and Partners doesn't align to center properly.
The screenshots for these bugs are given under **Screenshots** section

### Steps to

[2018-09-02 19:05] #19 closed

[2018-09-25 13:27] divyanshu-rawat opened #21 "Add Travis CI"
Travis CI is a hosted, distributed continuous integration service used to build and test software projects hosted at GitHub. Open source projects may be tested at no charge via travis-ci.org.

Adding .travis.yml will do the job.  👍

[2018-09-25 13:28] divyanshu-rawat opened #22 "Add Reselect to the application."
​Reselect is a simple library for creating memoized, composable selector functions.
Please follow the resources to know more 👍

- https://medium.com/@parkerdan/react-reselect-and-redux-b34017f8194c
- https://hackernoon.com/usage-of-reselect-in-a-react-redux-application-fcdca05cc00d
- https://redux.js.org/recipes/computingderiveddata

[2018-09-25 13:28] divyanshu-rawat opened #23 "Dockerize the Application"
Dockerizing an application is the process of converting an application to run within a Docker container. While dockerizing most applications is straight-forward, there are a few problems that need to be worked around each time.

Please follow the thread to know more 👍

- https://mherman.org/blog/dockerizing-a-react-app/
- https://medium.com/@thexap/how-to-dockerize-your-reactjs-app-ad618a48ad6b

[2018-09-25 13:29] divyanshu-rawat opened #24 "Add Istanbul Code Coverage"
Istanbul instruments your ES5 and ES2015+ JavaScript code with line counters, so that you can track how well your unit-tests exercise your codebase. 👍

Please follow the resource to know more 👍

- https://istanbul.js.org/docs/tutorials/jest/

[2018-09-25 13:30] divyanshu-rawat opened #25 "Add Service Workers!!"
A service worker is a script that your browser runs in the background, separate from a web page, opening the door to features that don't need a web page or user interaction. Today, they already include features like push notifications and background sync.

[2018-09-25 13:31] divyanshu-rawat opened #26 "Add Redux"
Redux is an open-source JavaScript library for managing application state. It is most commonly used with libraries such as React or Angular for building user interfaces. Similar to Facebook's Flux architecture, it was created by Dan Abramov and Andrew Clark.

Please follow the resource to know more 👍

- https://hackernoon.com/adding-redux-to-a-react-blog-97f5fea606c2

[2018-09-25 13:33] divyanshu-rawat opened #27 "Intergration Ignitus client-server"
Integrate client side application with the Restful API 👍
Link of the API - https://github.com/Ignitus/Ignitus-rest-api

[2018-09-26 06:18] divyanshu-rawat opened #28 "Add Flow! for typechecking!"
Adds static typing to JavaScript to improve developer productivity and code quality.
Please follow the given resource to know more about adding it to existing react app. 👍

- https://hackernoon.com/building-a-modern-react-js-app-with-flow-876ff829a5cd

[2018-09-26 16:46] Paarmita opened #29 "Add Testimonials UI in React"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI  in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternativ

[2018-09-26 17:30] Paarmita opened #30 "Implement Landing page UI in React"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI (Header, Footer, What we provide, Introduction) sections of Landing Page in terms of components, in client-side

[2018-09-26 17:41] divyanshu-rawat opened #31 "Implement Login/Logout Component"
**Is your feature request related to a problem? Please describe.**
User Authentication/Authorization/

**Describe the solution you'd like**
Implement Login/Logout routes in client side.

**Describe alternatives you've considered**
JWT Authentication on the rest-api.

**Additional context**
Rest API - https://github.com/Ignitus/Ignitus-rest-api

[2018-09-29 05:31] Paarmita opened #33 "Implement Contributors and Partners UI in ReactJS"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI of Contributors and Partners in terms of components, in client-side library React.js, and UI Framework Bootstrap

[2018-09-30 11:01] sunilsj99 commented on #33
Can you explain the issue ?? i would like to contribute !! @Paarmita

[2018-09-30 11:06] Paarmita commented on #33
@sunilsj99 You need to implement this UI in React under each of the component folders for contributors and Partners.

[2018-09-30 13:31] debck commented on #21
can u please describe what do you want to do in this issue as the travis.yml file is already there.

[2018-09-30 17:28] Paarmita commented on #21
@debck Thanks! yeah, It was added earlier. You can try some other issue.

[2018-09-30 17:28] #21 closed

[2018-10-01 07:51] debck commented on #23
I want to work on this isssue

[2018-10-01 08:09] Paarmita commented on #23
@debck Sure! Go ahead.

[2018-10-01 08:41] divyanshu-rawat commented on #23
@debck it is failing travis ci, so kindly look at the log and figure out the reaseon why it is failing?

[2018-10-04 07:16] manuelfs12 commented on #30
I'll try to tackle this one.

[2018-10-04 07:27] divyanshu-rawat commented on #30
@manuelfs12 It's Great if you want to try it. 👍
Although you need to implement it from scratch like footer is already in there, but with a cahnge in color scheme, and testimonial are also there, you can go through the codebase to get more insights on the same.

[2018-10-04 07:29] divyanshu-rawat opened #36 "Travis CI build"
Travic CI build is failing, kindly check the build and try to fix the issue. 👍

[2018-10-04 12:48] #36 closed

[2018-10-04 13:34] divyanshu-rawat commented on #24
Sure it's great 👍

[2018-10-04 13:37] divyanshu-rawat opened #38 "ADD JEST/Enzyme"
Adding Unit tests with Jest and Enzyme 👍.
Jest and Enzyme are different but complimentary tools, that integrate well together to provide flexible and creative testing abilities. We will briefly look at the differences between the two.

Kindly follow the blog to learn more about it.
- https://medium.com/codeclan/testing-react-with-jest-and-enzyme-20505fec4675

[2018-10-04 13:38] divyanshu-rawat opened #39 "Add PropTypes"
There are three popular ways to handle types in React: PropTypes, TypeScript and Flow.

Follow medium blog to know more 👍

- https://medium.freecodecamp.org/react-pattern-centralized-proptypes-f981ff672f3b

[2018-10-04 13:40] divyanshu-rawat opened #40 "Modular Design Pattern"
Modular Design Pattern.
It would be great if we can follow this kind of folder structure.
Kindly see the repo. to get more insights.

- https://github.com/mozilla-frontend-infra/js-perf-dashboard

[2018-10-04 15:36] divyanshu-rawat commented on #38
@marcelorl sure go ahead 👍

Feel free to add few examples I guess by adding tests for some components!

[2018-10-04 16:42] shaminmeerankutty commented on #39
@divyanshu-rawat I can add Proptypes to this project.

[2018-10-04 16:44] manuelfs12 commented on #30
Will do, thanks.

[2018-10-04 16:50] shaminmeerankutty commented on #26
@divyanshu-rawat Can I help with this one?

[2018-10-04 16:59] divyanshu-rawat commented on #26
@shaminmeerankutty go ahead 👍 :)

[2018-10-04 17:00] divyanshu-rawat commented on #39
@shaminmeerankutty  sure you can take this up 👍

[2018-10-04 17:00] shaminmeerankutty commented on #39
@divyanshu-rawat I have a pull request can you please check that one?

[2018-10-04 17:08] royderks commented on #40
Gotcha!

[2018-10-05 02:03] divyanshu-rawat commented on #39
@shaminmeerankutty sure 👍

[2018-10-05 02:15] divyanshu-rawat opened #43 "Airbnb JavaScript Style Guide"
Airbnb maintains a very popular JavaScript Style Guide that is used by many JavaScript developers worldwide. Following this style guide will ensure your code has a level of clarity that makes reading and maintaining your code easier for anyone who has to work on it.

ESLint is a tool for “linting” your code. It can analyze your code and warn you of potential errors. In order for it to work, you ne

[2018-10-05 02:37] kabollinger commented on #43
Hi, I enjoy whitespace/style refactors and would like to work on this, but I am having trouble deciphering what the problem is and how I can help. Can you explain what I can do for you please?

[2018-10-05 03:14] divyanshu-rawat commented on #43
@kabollinger, Thanks for your Interest, I was thinking of adding airbnb style guidelines for css,js. Apart from that if you want to do style refactors in js, css then you are most welcome to do so.
Go ahead 👍 .
Let me know if you have any other Questions 😄

[2018-10-05 04:41] divyanshu-rawat opened #44 "Help Building The Ignitus Community"
Ignitus runs as a non-profit and works towards the upliftment of education equity worldwide by decentralizing research, skill-acquisition and employment opportunities.

At Ignitus, we want to become a hub that gathers active search of work and internship, creation and development of collective projects, including learning, application development (sorting, summarizing, recommending) to be used on

[2018-10-05 06:46] #23 closed

[2018-10-05 12:33] #26 closed

[2018-10-05 20:35] Paarmita opened #47 "Add bootstrap, jquery and popper by npm module"
**Is your feature request related to a problem? Please describe.**
Initially, they are added in index.html with the script and link tags.

**Describe the solution you'd like**
Bootstrap(latest version 4.1), jquery for bootstrap and popper should be included with npm module and the links should be removed.

https://github.com/Ignitus/Ignitus-Client-Side-Development/blob/112382df025d0947d06f1dd9d6f0

[2018-10-05 20:36] #18 closed

[2018-10-05 20:46] mx0c commented on #47
on it :)

[2018-10-06 06:02] vindu939 commented on #24
@divyanshu-rawat since I don't see any pull request for this so far, I am raising one

[2018-10-06 06:49] debck opened #50 "Add proper URL to the Links section on footer"
**Describe the bug**
The Links in the footer doesn't render to correct page.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version [e.g. 22]

[2018-10-06 10:29] louillustrator commented on #50
I will take a look at this. :)

[2018-10-06 19:12] debck commented on #24
As the PR is merged so the issue should be closed @divyanshu-rawat

[2018-10-07 03:02] debck commented on #28
I would like to work on this

[2018-10-07 03:54] vindu939 commented on #47
@Paarmita Since the issue was open I raised a PR,please go through them and merge it if it solves your purpose.

[2018-10-07 05:16] #47 closed

[2018-10-07 05:18] #28 closed

[2018-10-07 05:31] divyanshu-rawat opened #53 "ShouldComponentUpdate"
In Testimonial.js we have a carousel for testimonial, that is updating/ calling componentDidUpdate on every slide change, as activeslide is getting changed.
So, we want a way to not update componentDidUpdate on every slidechange because it doesn't make sense.

![screen shot 2018-10-07 at 10 59 46 am](https://user-images.githubusercontent.com/13464678/46578520-25fe7f00-ca20-11e8-87cd-da01042c3cfc.p

[2018-10-07 05:36] divyanshu-rawat opened #54 "Fix ESLINT Warnings"
On running ```npm run lint``` ESLINT is showing 1081 problems (1075 errors, 6 warnings)
 621 errors and 0 warnings potentially fixable with the `--fix` option.
Fix as much as you can then feel free to send the PR.
We will be more than happy to merge it 👍

![screen shot 2018-10-07 at 11 05 29 am](https://user-images.githubusercontent.com/13464678/46578578-fdc35000-ca20-11e8-8be0-87642b1070e8.png)

[2018-10-07 06:45] razi-ed commented on #53
can i claim this please?

[2018-10-07 06:52] nirmalks commented on #50
Is this only for the URL's present under "Links" column (About us link)? If not to which URL's should "features" links and some of "community" links point to?

[2018-10-07 07:16] divyanshu-rawat commented on #53
@razi-ed sure 👍

[2018-10-07 10:50] divyanshu-rawat opened #56 "Add BOT"
Add bot to the Ignitus repository for instance gitMate, Netlify etc.
Feel free to add any bot that you think is help to the community/ IgnitusClient side repository.

[2018-10-07 11:12] sinha-p commented on #54
i can also help on this..

[2018-10-07 12:31] vindu939 commented on #27
@divyanshu-rawat Can you add more description so that I can help with this task.

[2018-10-07 15:17] darrylsepeda commented on #54
@divyanshu-rawat I have created pull request for this issue, please kindly review.

[2018-10-07 15:45] divyanshu-rawat opened #58 "Add SCSS to the project"
**Is your feature request related to a problem? Please describe.**
Add SCSS to keep things organised and allows you to create style sheets faster

**Describe the solution you'd like**
Add SCSS to the project.

**Describe alternatives you've considered**
We already have css written in the project for every component, wouldn't it be great if we can repalce css in some components or in all components

[2018-10-07 16:07] debck commented on #25
Can anyone suggest any resources for solving this issue ?

[2018-10-07 16:19] Bharat23 commented on #53
Can I claim this issue?

[2018-10-07 17:12] WolfKay commented on #58
Hello!, I would like to contribute with your project Can I take this Issue? :)

[2018-10-08 05:46] #25 closed

[2018-10-09 08:40] divyanshu-rawat commented on #58
@WolfKay are you working on this?

[2018-10-09 09:28] #31 closed

[2018-10-09 09:31] divyanshu-rawat opened #64 "Implement Login/Logout"
**Is your feature request related to a problem? Please describe.**
User Authentication/Authorization

**Describe the solution you'd like**
Implement Login/Logout routes in client side.

**Describe alternatives you've considered**
JWT Authentication on the rest-api.

**Additional context**
Rest API - https://github.com/Ignitus/Ignitus-rest-api
We have already writen the restful api for user registr

[2018-10-09 09:58] agoiabel commented on #64
I would like to take up this

[2018-10-09 11:52] divyanshu-rawat commented on #64
Yes @agoiabel go ahead 👍

[2018-10-09 12:18] agoiabel commented on #64
Finding it hard to install this locally.

[2018-10-09 12:46] divyanshu-rawat commented on #64
@agoiabel for setting up locally kindly follow - https://github.com/Ignitus/Ignitus-Client-Side-Development/blob/master/CONTRIBUTION.md

[2018-10-09 13:25] Paarmita opened #66 "Change UI for Login/Signup"
**Describe the bug**
Update UI of Login/Logout page, follow the link to know more - http://www.ignitus.org/signup/professor

**Expected behavior**
below-mentioned screenshot is the UI of updated UI.

![screenshot from 2018-07-16 18-46-12](https://user-images.githubusercontent.com/26546816/46672298-abd32380-cbf4-11e8-95e3-0689ff42b909.png)

[2018-10-09 13:30] divyanshu-rawat opened #67 "Code organization"
**Is your feature request related to a problem? Please describe.**
We have tried our level best to follow best practises while writing code for Ignitus.

**Describe the solution you'd like**
We still think that the code we have written can be improved in terms of best practises and scalability and we have in turn implement some js design patterns to have more organized code.

**Additional context*

[2018-10-09 13:36] meyfleur commented on #66
i can have a look on it

[2018-10-09 13:40] Paarmita commented on #66
@meyfleur We have not integrated the button with backend API. You only need to change the UI for it 👍

[2018-10-09 13:46] divyanshu-rawat opened #68 "FORK/RUN/SUGGEST"
Fork the Ignitus repository and run it locally, improve something on it and then send the PR for the same, or suggest something to us that we can improve, you can also star it if you like what we are doing 👍

[2018-10-09 15:19] TashaPenwellHC commented on #39
Is this issue still open and is @shaminmeerankutty - I can't really tell from the comments.  Thanks!

[2018-10-09 15:20] LazzyGuy commented on #66
@meyfleur  can I work on the UI too?

[2018-10-09 15:21] TashaPenwellHC commented on #68
I can give this one a go.  May open it up to students this afternoon for suggestions as well.

[2018-10-09 15:38] divyanshu-rawat commented on #39
@TashaPenwellHC browse through the components in the project and if you find any component that lacks propTypes, feel free to add PropTypes in that component 👍

[2018-10-09 15:38] divyanshu-rawat commented on #68
@TashaPenwellHC  great 👍

[2018-10-09 16:19] outsourcegb opened #71 "Get Navigation and Footer component out"
**Is your feature request related to a problem? Please describe.**
Navigation and Footer components are being added in all other components.
We should take them out may be in App component.

**Describe the solution you'd like**
The code is redundant.
And we should only call main component at somewhere.

**Describe alternatives you've considered**
As mentioned we can update App component such that

[2018-10-09 16:33] outsourcegb opened #72 "Client side validation in Login and Registration form"
**Is your feature request related to a problem? Please describe.**
Suggestion wanted to validation in login and registrations forms.

**Describe the solution you'd like**
Currently we are not using any validation at client side. We can  check what we can include there so that when user (student / professor) fills the form, any error can be prompt instantly or when submit is clicked.

**Describe al

[2018-10-09 18:05] meyfleur commented on #71
i can work on this

[2018-10-09 18:11] divyanshu-rawat commented on #71
@meyfleur go ahead 👍

[2018-10-09 18:30] Paarmita commented on #66
@LazzyGuy Thanks for the interest :) but this issue has been resolved by @meyfleur. You could take up other issues 👍

[2018-10-09 18:30] #66 closed

[2018-10-09 18:32] Paarmita commented on #72
@outsourcegb You can check #64 as this issue looks similar to this 👍

[2018-10-10 02:15] karan171996 commented on #71
can i work on this ?

[2018-10-10 04:01] outsourcegb commented on #71
@Paarmita and @karan171996 , it seems be handled already. There is a PR for the same with some conflicts.
https://github.com/Ignitus/Ignitus-Client-Side-Development/pull/73

[2018-10-10 05:32] divyanshu-rawat commented on #71
@outsourcegb that PR seems to have much conflicts and she have also deleted sagas.js selectors.js etc files inside every folder that are not meant to be deleted, so I guess @karan171996 can go ahead with this. what do you think @outsourcegb ?

[2018-10-10 06:48] meyfleur commented on #71
no problem to put it back in
maybe good to consider there is a lot of duplicated code in the project which should be cleaned up

[2018-10-10 06:50] divyanshu-rawat commented on #71
@meyfleur feel free to cleanup ir-releavent code but do not delete any exisiting file :)

[2018-10-10 06:53] Paarmita opened #75 "Implement Aboutus and Team UI in ReactJS"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI of About Us and Team in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

*

[2018-10-10 07:50] divyanshu-rawat commented on #75
kindly let us if you need graphics/Images for the mentioned UI.

[2018-10-10 09:06] LazzyGuy commented on #72
@divyanshu-rawat I would like to check this out any suggestions on libraries

[2018-10-10 09:34] LazzyGuy commented on #72
I think there is no need for a library if the task is to only validate signup forms but still, we can use parsleyjs [http://parsleyjs.org/](url)  it depends on jQuery but it's already included in the project.

[2018-10-10 17:14] outsourcegb commented on #72
Ok, checkout if its suitable for other forms and we can use it.

[2018-10-10 17:41] agoiabel commented on #72
@LazzyGuy @outsourcegb , I could create a sample custom validation for just the login, then you could follow that format to work on sign up.

I think we should not use an external library for this.

[2018-10-11 07:13] divyanshu-rawat commented on #72
@agoiabel I also think that we should not use any library for this 👍

[2018-10-11 07:14] divyanshu-rawat commented on #67
yes I am thinking of placing them all here - [](https://github.com/Ignitus/Ignitus-Client-Side-Development/blob/master/src/ignitus-Api/constants.js)

[2018-10-11 08:44] meyfleur commented on #75
i could work on it and maybe also on #58 as I prefer using scss if this issue is still not resolved.
Who designed the nice profile images? :D

[2018-10-11 08:59] divyanshu-rawat commented on #75
@meyfleur If you are interested in helping Ignitus kindly join our slack channel 👍 .
Kindly join our slack (https://goo.gl/RCeffA) channel for further communication on design and development of this project,once you join let us know, it's great that you would like to work on it.

[2018-10-11 08:59] divyanshu-rawat commented on #75
@Paarmita , @nefouci are working on UI design as of now 👍

[2018-10-11 09:38] meyfleur commented on #75
a lot of components have /Containers/TestimonialContainer.js but it is only used in the App.js,
so if they are not necessary i would suggest to remove it everywhere.
same for the files actions, reducer, .etc which all refer to the testimonial or have no functionality. Is there a special reason for it?

[2018-10-11 10:56] divyanshu-rawat commented on #75
Actually there is a special reason to do that, as if you can see we are making use of selectors.js, reducers.js actionTypes.js etc in testimonials, so as of now it's boilerplate 👍 but we will soon make use of them in almost every component that communicates with rest API. I hope you understand :)

[2018-10-11 14:49] meyfleur commented on #58
anyone may can help with that?

[2018-10-11 15:13] divyanshu-rawat commented on #58
@meyfleur would you like to take it?

[2018-10-11 19:06] shaminmeerankutty opened #82 "Showing 404 for direct visit to a page"
**Describe the bug**
There is an error in the nginx configuration of the website. If you visit directly to a route other than `/` nginx is showing a 404 page. For example, if you directly visit to http://www.ignitus.org/aboutus a 404 error page is shown. So all the requests should be directly given to the `index.html` so that the routing will be handled by react router from there.

**To Reproduce*

[2018-10-11 19:30] PedAltuve commented on #82
I'd like to take this issue

[2018-10-11 21:16] divyanshu-rawat commented on #82
sure @PedAltuve 👍

[2018-10-12 03:07] debck commented on #38
I would like to write unit test for some component

[2018-10-12 03:40] shaminmeerankutty commented on #82
The same problem is described here.
https://stackoverflow.com/questions/41772411/react-routing-works-in-local-machine-but-not-heroku

[2018-10-12 07:18] Utkarsh-vishnoi commented on #82
Is your application running on heroku??

[2018-10-12 10:52] divyanshu-rawat commented on #38
@debck go on 👍

[2018-10-12 12:29] #38 closed

[2018-10-12 16:33] divyanshu-rawat commented on #82
@Utkarsh-vishnoi yes it is.

[2018-10-12 18:46] divyanshu-rawat opened #85 "Implement Introduction UI"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI (Header, Footer, What we provide, Introduction) sections of Landing Page in terms of components, in client-side

[2018-10-14 07:36] agoiabel commented on #85
Do you have the sketch file or adobexd file for the expected UI?

[2018-10-14 07:46] divyanshu-rawat commented on #85
@agoiabel this UI has to be implemented in html/css/react.js this has been designed using figma?
If you need the file @Paarmita can help 👍

[2018-10-14 07:49] divyanshu-rawat opened #87 "Fix Travis CI build"
Fix Travis CI Build, it is failing because of the faliure of 2 test cases, kindly have a look on log of it - https://travis-ci.com/Ignitus/Ignitus-Client-Side-Development/builds/87861083 👍

[2018-10-14 07:54] agoiabel commented on #85
@Paarmita, Can you give me the link to the designed in figma ?

[2018-10-14 08:10] divyanshu-rawat opened #88 "Prevent unnecessary state updates."
Testimonial state is getting updated on every slide, can we figure out a way to prevent unnecessary state update. 👍

![screen shot 2018-10-14 at 1 38 45 pm](https://user-images.githubusercontent.com/13464678/46914101-a55af800-cfb6-11e8-9a34-fcf4146ceea8.png)

[2018-10-14 08:49] divyanshu-rawat commented on #87
#fixed

[2018-10-14 08:49] #87 closed

[2018-10-14 08:54] Paarmita commented on #85
@agoiabel You can see the prototypes here: https://goo.gl/5NvmBe

[2018-10-14 14:03] agoiabel commented on #85
I have seen it, I must say the design looks great. I think we need a mobile version for every screen, as I code using the mobile first approach.

[2018-10-16 05:32] debck commented on #56
I think adding Netlify will be good one

[2018-10-16 05:44] divyanshu-rawat commented on #56
@debck can you add one?

[2018-10-16 06:15] debck commented on #56
No, I was just keeping my view that if someone wants to add anything , then Netlify would be good choice.:smile:

[2018-10-16 09:59] debck commented on #56
Okay @divyanshu-rawat  I will add

[2018-10-16 10:16] debck commented on #56
But, How should I login into Netlify, use my own GitHub account, or from the org.

[2018-10-16 20:37] razi-ed commented on #88
can i claim this?

[2018-10-17 08:58] outsourcegb commented on #88
@razi-ed , Sure

[2018-10-17 10:15] divyanshu-rawat commented on #88
Thanks @razi-ed  it works Thanks for the PR 👍

[2018-10-17 10:18] divyanshu-rawat opened #90 "localstorage to cookie"
Migrate localstorage based authentication to cookis based authentication 👍 .
before migrating add your opinion on the current authentication, although it works well, but let me know if moving to cookie based is the more optimum or not?

[2018-10-17 10:19] divyanshu-rawat commented on #56
@debck will DM you ignitus-bot github account credentials.

[2018-10-17 13:06] razi-ed commented on #88
welcome :)

[2018-10-17 17:18] divyanshu-rawat commented on #88
#53 solved this 👍

[2018-10-17 17:18] #88 closed

[2018-10-17 19:15] divyanshu-rawat opened #102 "Test welcome bot!"
Test Wlcome bot!

[2018-10-17 19:15] #102 closed

[2018-10-17 19:19] divyanshu-rawat opened #103 "Test welcome bot!"
Test Welcome bot!

[2018-10-17 19:36] divyanshu-rawat opened #105 "first issue"
my first issue!

[2018-10-17 19:41] #105 closed

[2018-10-17 21:24] divyanshu-rawat opened #109 "Lacking PWA Features"
Google LightHouse Reports .
Web is lacking PWA Features.
Improve any of the suggestion by attached Lighthouse report and send the PR for the same 👍 .

![screencapture-googlechrome-github-io-lighthouse-viewer-2018-11-11-01_57_23](https://user-images.githubusercontent.com/13464678/48305693-70aa7400-e555-11e8-9afd-9e2cc9801b6e.png)

Apart from that you can add google lighthouse chrome extension to ge

[2018-10-18 07:07] Rupeshiya opened #110 "Target is not set to _blank and Links to cross-origin destinations are unsafe in footer section"
**Describe the bug**
 To improve performance and prevent security vulnerabilities of external links

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/Ignitus/Ignitus-Client-Side-Development/tree/master/src/ignitus-Footer/Components'
2. Click on 'footer.js'
3. Scroll down to 'community' section
4. See error

**Expected behavior**
Add target="_blank" and add rel="noopen

[2018-10-18 07:07] Rupeshiya commented on #110
@divyanshu-rawat  express your view ?

[2018-10-18 07:11] Rupeshiya opened #111 "External links is not provide in footer --> feature section."
**Describe the bug**
href is not assigned any external links

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/Ignitus/Ignitus-Client-Side-Development/tree/master/src/ignitus-Footer/Components'
2. Click on 'footer.js'
3. Scroll down to 'features' section
4. See error

**Expected behavior**
href should be assigned with external links.
**Screenshots**
If applicable, add

[2018-10-18 07:12] Rupeshiya commented on #111
@divyanshu-rawat  please give your view , I would like to fix this.

[2018-10-18 07:38] Rupeshiya opened #112 "In navigation section cursor is not changing with respect to context."
**Describe the bug**
When the pointer moves over Sign Up link it is not changing into a hand.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.ignitus.org/'
2. Hover over 'Sign Up'
3. See error

**Expected behavior**
When the pointer moves over  Sign Up link it should change into a hand, indicating that the user can "click" the link.

**Screenshots**
If applicable, add scree

[2018-10-18 07:39] Rupeshiya commented on #112
@divyanshu-rawat  Please give your view , I would like to fix this .

[2018-10-18 07:52] divyanshu-rawat commented on #110
@Rupeshiya go ahead 👍

[2018-10-18 07:55] divyanshu-rawat commented on #111
@Rupeshiya currently we are not pointing to any external URL.
For Instance consider this code snippet.
Here as of now ```Opportunities``` section is under work! . So, we are not pointing it anywhere.
It not an issues as per my opinion.

[code]

[2018-10-18 07:55] #111 closed

[2018-10-18 07:57] divyanshu-rawat commented on #112
yes @Rupeshiya go ahead 👍 .
It's a minor change waiting fot the PR.

[2018-10-18 08:10] divyanshu-rawat opened #114 "Integrating Push Notifications"
Integrating Push Notifications

Please go through A walk through of integrating the Push API through the use of Service Workers into your Node.js back end and your React.js front end before integrating it.

Web push notification are one of the many features at the heart of giving Progressive Web Apps a truly competitive experience to their Native App counterparts.

Please see the attached medium p

[2018-10-18 09:08] divyanshu-rawat commented on #114
@sidbentifraouine go ahead 👍

[2018-10-18 09:55] divyanshu-rawat opened #117 "Add CodeCov"
I have already codecol.yml but CodeCov is still not configured and travis is getting failed, so I have removed CodeCov configuration from travis, now we need to show/send code coverage reports to CodeCov and want CodeCov bot to show them here in github.

Feel free to integrate CodeCov in anyway you want👍

[2018-10-18 09:57] divyanshu-rawat commented on #56
@debck I have already added that 👍

[2018-10-18 10:20] debck commented on #117
Okay will try to add that. 👍

[2018-10-18 10:29] divyanshu-rawat commented on #117
Great @debck  👍

[2018-10-18 13:33] #112 closed

[2018-10-19 17:41] #114 closed

[2018-10-19 17:48] Rupeshiya commented on #110
@divyanshu-rawat  since the issue is fixed so closing this issue.

[2018-10-19 18:18] #110 closed

[2018-10-19 18:56] Martskin commented on #58
PR opened for this issue here:
https://github.com/Ignitus/Ignitus-Client-Side-Development/pull/126

[2018-10-20 12:20] divyanshu-rawat opened #127 "Project Contributors!"
Add your name to the list of supporters in README.md if you have contributed to the project!
I tried adding as many as I can.
Please add you name and send the PR.

@debck , @afreen23 , @outsourcegb , @suleymantekin  , @paperlambda etc.

[2018-10-20 16:50] #24 closed

[2018-10-20 16:50] #22 closed

[2018-10-20 16:51] #43 closed

[2018-10-20 18:59] #33 closed

[2018-10-20 18:59] divyanshu-rawat commented on #127
@paperlambda  now you can add yourself in list of contributors in readme.md

[2018-10-23 17:18] divyanshu-rawat opened #133 "Add React 16 ErrorBoundary"
Add React 16 ErrorBoundary, by leveraging react's new lifecycle Hook, componentDidCatch().

With error boundaries, even if one of your component’s results in an error, the entire react app would not get unmounted and instead only the erroneous component would display a fallback UI and the entire app would still be fully functional.

Error boundaries are React components that catch JavaScript error

[2018-10-24 07:55] nirmalks commented on #133
I would like to work on this

[2018-10-24 09:10] divyanshu-rawat opened #134 "Add @material-ui/core to the project."
Feel free to add material-ui react components in the project. 👍

[2018-10-24 09:11] divyanshu-rawat commented on #133
@nirmalks go ahead 👍

[2018-10-24 09:53] outsourcegb commented on #134
Should we use material-ui and bootstrap together?

[2018-10-24 10:02] divyanshu-rawat commented on #134
@outsourcegb thanks for pointing this out let me know your thought in it I was thinking of switching to css-in-js model.
If you think we are fine with bootstrap then it is also fine.

[2018-10-24 10:20] divyanshu-rawat opened #137 "Code-Splitting via React Loadable"
**Is your feature request related to a problem? Please describe.**

Bundling is great, but as our app grows, our bundle will grow too. Especially we you are including large third-party libraries. we need to keep an eye on the code we are including in your bundle so that we don’t accidentally make it so large that our app takes a long time to load.

To avoid winding up with a large bundle, it’s goo

[2018-10-24 11:04] masihtamsoy commented on #137
Hi, I want to pick this up. Is it available?

[2018-10-24 12:04] debck opened #138 "Update from HTTP/1.1 to HTTP/2"
Currently our project uses HTTP/1.1 version.
We should update to HTTP/2.0 as it has many features which would also enhance issue here #109 (to increase PWA features)

* HTTP/2 supports queries multiplexing, headers compression, priority and more intelligent packet streaming management.

[2018-10-24 12:07] divyanshu-rawat commented on #138
@debck Thanks for pointing this out 👍

[2018-10-24 12:51] divyanshu-rawat commented on #137
The main intention here is to lazyload some of the components that we won't need on intial rendering,  which in turn will reduce the amount of code needed during the initial load.

[2018-10-24 13:11] outsourcegb commented on #134
css-in-js is good. We can move gradually to material-ui.

[2018-10-24 13:55] divyanshu-rawat commented on #134
Thanks @outsourcegb 👍

[2018-10-24 16:32] divyanshu-rawat commented on #137
@masihtamsoy  I have added react-loadable in the last commit for Aboutus section feel free to improve it or do whatever you think is the right approac 👍

[2018-10-25 06:42] akshaygulhane commented on #54
I will try to fix some ESLint warnings.

[2018-10-25 10:19] divyanshu-rawat commented on #54
@akshaygulhane go ahead 👍

[2018-10-25 16:11] masihtamsoy commented on #137
Starting with publicRoute.js file. You have wrapped react-Loader HOC around AboutUs component, it works. I was thinking to  wrap LoginProfessor, SignupProfessor and other components in `publicRoute` with good practise? I think all the parent component will be wrapped with Loader HOC, thoughts ?

[2018-10-25 16:55] Rupeshiya opened #142 "Unexcpected behaviour of Signup button ."
**Describe the bug**
 On clicking Signup button (which is below Supporters & Partners ) it redirects to http://www.ignitus.org/signup.

**Expected behavior**
  It should give two options like as in navbar .Then after choosing one of them redirects accordingly.

@divyanshu-rawat  give your view.

[2018-10-25 18:15] masihtamsoy commented on #137
Hi, I have created a Component level Loadable. `publicRoutes.js` have option to import either Sync component or Async component. Feedback?

[2018-10-26 01:01] ATLowther commented on #53
It looks like maybe this issue should be closed? @divyanshu-rawat

[2018-10-26 06:46] vvit5827 commented on #133
I'm also working on this :smile:

[2018-10-26 08:09] nirmalks commented on #133
I'm passing the issue up, since PR is already raised

[2018-10-26 12:52] #133 closed

[2018-10-26 12:53] divyanshu-rawat commented on #127
@masihtamsoy , @vvit5827  👍

[2018-10-26 13:30] #53 closed

[2018-10-26 13:33] divyanshu-rawat commented on #142
@Rupeshiya Great catch even when you move to http://www.ignitus.org/signup you are able to see footer and header wihout any content in between👍

[2018-10-26 13:33] divyanshu-rawat commented on #142
Kindlt tc of it @Rupeshiya 👍

[2018-10-26 13:34] divyanshu-rawat commented on #137
@masihtamsoy Thanks for the PR 👍

[2018-10-26 16:00] steaward commented on #142
@Rupeshiya you going to work on this? If not, I can do it.

[2018-10-26 16:04] Rupeshiya commented on #142
@steward If you want to work on this go ahead but keep the points in mind .👍

[2018-10-26 16:48] steaward commented on #142
Do you want the sign-up button to be a drop down?
Or do you want it to be a link to an actual sign-up page(this is where the user can choose to sign up as a professor or a student)

[2018-10-26 17:10] HankBrown commented on #142
I am steward. Never heard of this project until I got a notification.

Looking at the thread, I guess you want **steaward**.

[2018-10-26 17:16] Rupeshiya commented on #142
sorry @steward ,that was a typo .

[2018-10-27 07:39] masihtamsoy commented on #137
@divyanshu-rawat What about other component in `publicRoute.js` should I create Loadable for them too?

[2018-10-27 15:42] divyanshu-rawat opened #148 "Login/Logout BUG"
**Describe the bug**
Login/Logout works fine first time, but when user again tries to login it shows err.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to studentLogin
2. Log userself in.
3. then Log yourself out.
4. then again head over to studentLogin, it will throw an err.

**Expected behavior**
Once user is logged in and logout himself/herself out, then if user tries to log himself/

[2018-10-27 16:13] Rupeshiya commented on #142
@divyanshu-rawat  closing this issue since fixed .

[2018-10-27 16:13] #142 closed

[2018-10-28 04:14] Rupeshiya opened #150 "Implement signup for professor"
**Describe the Feature**
Login/Signup for Student has already been done.
We are looking forward to implement Login/Signup for professor as well.

We have a node.js based rest-api (https://github.com/Ignitus/Ignitus-rest-api) on the backend, having ``` /authentication ``` and ``` /registration ``` routes.
Feel free to use that api for implmenting Login/Signup for proeffesor on client side.

For ref

[2018-10-28 08:35] Rupeshiya commented on #150
Oh I did not knew that . @divyanshu-rawat

[2018-10-28 13:16] divyanshu-rawat opened #151 "Generate documentation for Ignitus :)"
**Is your feature request related to a problem? Please describe.**
There's no doubt that project documentation is a vital part of project management. It is substantiated by the essential two functions of documentation: to make sure that project requirements are fulfilled and to establish traceability with regard to what has been done, who has done it, and when it has been done

**Describe the solu

[2018-10-28 15:44] jonathanjwatson commented on #148
<img width="1440" alt="screen shot 2018-10-28 at 11 44 00 am" src="https://user-images.githubusercontent.com/9114299/47618211-d4896300-daa6-11e8-885c-be2c9025e840.png">

[2018-10-28 15:50] divyanshu-rawat commented on #148
@jonathanjwatson that is the bug.

[2018-10-28 16:17] debck commented on #151
thanks @divyanshu-rawat Can you please tell the subtopics that need to be included (or some example documentation ).  I had never written  any project documentation before 😄

[2018-10-28 17:05] divyanshu-rawat commented on #151
@debck It generates it automatically I guess feel free to give it a try :) Let's see.
You can include subtopics as per your choices 👍

[2018-10-28 20:29] divyanshu-rawat commented on #151
@debck  maybe you can also use your documentation experience here as well - https://docs.google.com/presentation/d/1ABqCc5uAoQv9aqGCxmNqOJ9S_Tst-adNV3fcWQ2Quwc/edit#slide=id.g42b115f18c_0_0

[2018-10-28 20:32] divyanshu-rawat commented on #151
and for more info. refer this  [youtube](https://www.youtube.com/watch?v=5vG28udwfcA&index=1&list=PLMV09mSPNaQmFLPyrfFtpUdClVfutjF5G)  tutorial 👍

[2018-10-31 10:00] plxity opened #156 "Scroll Effect when clicked on Navbar elements."
**Is your feature request related to a problem? Please describe.**
 As to make Homepage better, We can add scroll effect on the NavBar elements. So instead of going directly to that section, we can add some effect during that transition.

**Describe the solution you'd like**
Using react-scroll npm module we can implement this functionality.

**Additional context**
Check this link for the module: -

[2018-10-31 13:08] plxity commented on #156
Can I work on this?

[2018-10-31 13:21] divyanshu-rawat commented on #156
@plxity go ahead 👍

[2018-11-01 13:04] #156 closed

[2018-11-01 15:36] Paarmita opened #160 "Implement Get started section UI"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI  in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternatives you've considered**
We have updated

[2018-11-01 16:03] Paarmita opened #161 "Implement Navbar UI"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI of Navbar in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternatives you've considered**
We have

[2018-11-03 12:31] meyfleur commented on #58
i think this issue could be closed? scss is already added to the project :)

[2018-11-03 12:43] Paarmita commented on #58
🖒

[2018-11-03 12:43] #58 closed

[2018-11-05 13:13] meyfleur commented on #75
can be closed too :D

[2018-11-05 13:16] meyfleur commented on #161
i can go for it. Maybe also the footer too?

[2018-11-05 13:30] divyanshu-rawat commented on #161
@meyfleur So, make it fixed then 😃.

[2018-11-05 13:33] divyanshu-rawat commented on #75
sure @meyfleur 👍 apart from then if you think of any feature that we should add or any module like redux-persists for persisting data, then feel free to open the issue fot the same. 👍

[2018-11-05 13:33] #75 closed

[2018-11-05 13:35] divyanshu-rawat commented on #127
@plxity

[2018-11-08 08:05] Paarmita commented on #161
@meyfleur Navbar should be fixed on the top. And the color scheme should be like this and not the triangle one.
![screenshot from 2018-11-08 13-33-44](https://user-images.githubusercontent.com/26546816/48185437-fc0be580-e35a-11e8-96ca-a4859708d7f7.png)

[2018-11-08 19:26] Paarmita opened #169 "Add Hover effect in Team UI"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI of Team on hover in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternatives you've considered**

[2018-11-09 23:54] Paarmita commented on #161
@meyfleur or on scrolling the navbar should change to white background blue text and fixed on top.

[2018-11-11 08:23] Paarmita opened #173 "Align images in the box to center"
**Describe the solution you'd like**
Align the images for Partners in the middle of the box, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Additional context**
Refer [UI Toolkit](https://github.com/Ignitus/Ignitus-UI-Kit) for User-Interface and other styles related issue.

![screenshot from 2018-11-11 13-51-37](https://user-images.githubusercontent.com/26546816/48310700-20fd9

[2018-11-12 18:05] plxity opened #176 "Padding between two section will the UI/UX better."
**Is your feature request related to a problem? Please describe.**
Padding between the first two section of the homepage will make it look better.

**Describe the solution you'd like**
We can add padding-top to make the UI better.

Original
![2018-11-12 2](https://user-images.githubusercontent.com/28510494/48366214-24853e00-e6d3-11e8-9f6c-5a19b3e85928.png)

After adding little padding
![2018-11-12

[2018-11-12 18:18] Paarmita commented on #176
@plxity Do u want to take up this issue?

[2018-11-13 04:37] plxity commented on #176
Yes sure!:)

[2018-11-14 11:55] #176 closed

[2018-11-20 14:58] trblackw commented on #173
I'm going to look into this!

[2018-11-20 15:06] Paarmita commented on #173
@trblackw Sure :)

[2018-11-20 20:30] trblackw commented on #173
I've added an object-fit property to the images making them look a bit nicer, but what else are you looking for here? The images appear fairly centered as is.

[2018-11-20 20:48] trblackw commented on #173
I accidentally left a console.log in there, my apologies

[2018-11-20 21:00] Paarmita commented on #173
@trblackw it looks nicer now. I will also make dimensions for all images same so that they fit in the center and looks identical.

[2018-11-20 21:10] trblackw commented on #173
I added the property to the contributors as well, but the effect was less
noticeable

On Tue, Nov 20, 2018 at 4:00 PM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-11-22 10:17] Rupeshiya commented on #150
@divyanshu-rawat  sigup above the footer is also not working now ,I don't know the reason but previously it was working ?

[2018-11-24 18:31] divyanshu-rawat commented on #150
@Rupeshiya signup with student?

[2018-11-24 18:36] Rupeshiya commented on #150
@divyanshu-rawat  Nothings happen on clicking Signup button which is jsut above footer.

[2018-11-24 18:40] divyanshu-rawat commented on #150
@Rupeshiya it is working fine, just tested it kindly follow - http://www.ignitus.org/signup/student and register with your email ID it will send you below mentioned confirmation, verify your email, then try logging it, you will be good to go.
![screenshot 2018-11-25 at 12 08 51 am](https://user-images.githubusercontent.com/13464678/48971916-82584500-f046-11e8-9b5d-0c13f7bdf6ad.png)

[2018-11-24 18:45] Rupeshiya commented on #150
@divyanshu-rawat  I am talking about this button .
![screenshot 84 _li](https://user-images.githubusercontent.com/31209617/48971952-0c081280-f047-11e8-91ed-3c3eac0ce357.jpg)

[2018-11-24 18:49] divyanshu-rawat commented on #150
@Rupeshiya  oh sorry I misunderstood, as this issue was related to prof, signup I think this button needs to be fixed.

[2018-11-24 18:53] Rupeshiya commented on #150
@divyanshu-rawat  Cool !!

[2018-11-27 09:16] Rupeshiya opened #184 "improve mobile view"
@Paarmita  plz look at the mobile view of our site ,and improve it.

**Describe the bug**
Images in the internship ,course etc sections are not responsive.

**To Reproduce**
Steps to reproduce the behavior:
Make images responsive.
**Expected behavior**
Images Should be flexible with size.

[2018-12-03 15:59] aaditya1499 commented on #184
Can I take up this issue and try to make the website fully responsive ?

[2018-12-03 16:48] Paarmita commented on #184
@aaditya1499 Yes, Sure!

[2018-12-04 18:10] aaditya1499 commented on #184
I have made the pull request regarding the fix.

[2018-12-08 20:32] Rupeshiya opened #193 "Not rendering 404 page."
**Describe the bug**
Rendering footer of the site on bad request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.ignitus.org/error/example
2. See error

**Expected behavior**
Expected to render error on bad request

[2018-12-09 04:43] Paarmita opened #194 "Implement Professor and Student SignUp/Login UI"
**Is your feature request related to a problem? Please describe.**
As per the Ignitus open source contributors and current team attached UI Design is looking for graceful and stylish in appearance, then the current one.

**Describe the solution you'd like**
Implementation of attached UI (Professor and Student Login) sections of Signup/Login in terms of components, in client-side library React.js,

[2018-12-09 04:48] Paarmita opened #195 "Implement Dashboard UI"
**Is your feature request related to a problem? Please describe.**
We need to implement the Dashboard UI using static data for now.

**Describe the solution you'd like**
Implementation of attached UI Dashboard in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternatives you've considered**
We have updated out client-side UI design, We are lookin

[2018-12-09 05:17] Paarmita opened #196 "Modify route for Not found page"
**Is your feature request related to a problem? Please describe.**
A 404 error is an HTTP status code that occurs webpage you try to reach a page that could not be found on the server.

**Describe the solution you'd like**
* Implementation of attached of error page in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4 in the [Notfound.js file](https://github.com/I

[2018-12-09 09:12] Rupeshiya commented on #193
cool !! @Paarmita

[2018-12-09 13:19] Paarmita opened #197 "Add contributors to team from Ignitus-rest api repo"
As we added the contributors for Client-side in our [website](http://www.ignitus.org/aboutus), we also need to include the contributors of [Ignitus-rest api](https://github.com/Ignitus/Ignitus-rest-api/graphs/contributors).
You can take the example from:
https://github.com/Ignitus/Ignitus-Client-Side-Development/blob/master/src/ignitus-Api/constants.js

[2018-12-10 15:41] sarthak-sehgal commented on #196
I've opened a PR for this issue. Please review. :)

[2018-12-13 01:16] #196 closed

[2018-12-13 01:16] #193 closed

[2018-12-21 13:37] Trip4077 commented on #29
I can work on this 🙂

[2018-12-21 13:43] divyanshu-rawat commented on #29
@Trip4077 go ahead that's great 👍 even if you want you can suggest your own UI as well.
Or can take inspiration from other web applictions for  `testimonial UI` for instance `https://www.codementor.io/` etc.

[2018-12-24 08:33] #160 closed

[2018-12-24 08:34] divyanshu-rawat commented on #85
@Trip4077 can you look into this? this is the only UI left in homepage 😄

[2018-12-24 11:37] Trip4077 commented on #85
@divyanshu-rawat Sure thing 👍

[2018-12-24 12:58] Paarmita opened #206 "About Us link in the navbar redirect to team section"
**Describe the bug**
When clicked on the About us link in the navbar, it directs to the team component and not the About Us section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About Us' on the navbar
2. Click on 'About Us'
3. Scroll up to 'About' section.
4. See error

**Expected behavior**
It must take to the about section and not the team.

**Screenshots**
![screenshot from 201

[2018-12-24 16:14] Aditya-Kolla commented on #206
Can I work on this?

[2018-12-24 18:17] divyanshu-rawat commented on #206
@Aditya-Kolla sure go ahead 👍

[2018-12-26 10:33] divyanshu-rawat opened #208 "Delay in rendering of testimonials."
**Describe the bug**
First slide of Testimonials is taking time to re-render this is beacuse of the time interval that we set for `automatic` slide change, so 1st slide is poping up after `1700ms` because we have designed it to do so, but that is a software design mistake I think, we wanted to have a interval of `1700ms` between each consecutive slide excluding the 1st one, in summary we didn't wa

[2018-12-26 10:46] divyanshu-rawat opened #209 "Caching Github Api Calls"
**Is your feature request related to a problem? Please describe.**
Even if a new contributor is not added to the project, everytime when we move to `http://www.ignitus.org/aboutus` an api call is made to the `github server` in turn exhausting number of api calls allowed in an hour.

**Describe the solution you'd like**
No consumption of api calls until a new contributor is added, in summary if no

[2018-12-26 11:36] laurent-kouassi commented on #208
Maybe the problem is not the slide @divyanshu-rawat
- Slide Working Fine
- Delay working fine

Are the cards attached to the slide content?
My answer is no. :)

Self Suggested Solution Is To  Render Each Side Inside Each Card.
ps: These might be Boostrap carousel card, what of if the design was implemented with Materialize?

I will try to link the slide to the carousel card first if that would wor

[2018-12-26 11:39] divyanshu-rawat commented on #208
@laurent-kouassi feel free to take as much time as you want that's fine 👍 .

[2018-12-26 14:09] #173 closed

[2018-12-26 14:10] #85 closed

[2018-12-26 14:11] #30 closed

[2018-12-26 14:11] #29 closed

[2018-12-26 17:13] Rupeshiya commented on #184
@aaditya1499  plz add a reference to your PR , so it will be easy to review .

[2018-12-27 16:00] #161 closed

[2018-12-27 16:00] #127 closed

[2018-12-27 16:00] #27 closed

[2018-12-27 16:01] #151 closed

[2018-12-27 16:02] #184 closed

[2018-12-27 19:56] edubey commented on #209
I will look into this, let me come up with possible solutions. Will discuss it then.

[2018-12-29 12:52] divyanshu-rawat commented on #209
@edubey that's great thank you 👍

[2018-12-30 07:20] Aditya-Kolla commented on #209
I'm looking into the HTTP caching solution if that's okay.

[2018-12-30 10:05] divyanshu-rawat commented on #209
@Aditya-Kolla do you really think will it work? even I think `localStrorage` is also there but the we need to minimize the number of calls, so I think optimum solution is to store them in the DB, not updating it until a new contributor is added, now hoe to figure out whether new contributor is added or not we can do it by making use different headers that github provide. We can write the api calls

[2018-12-31 03:56] edubey commented on #209
Github Provides us Header to use and **conditional request returns 304 response but not results.** . They want service consumer to implement caching using these headers

Now we can have two implementation. User browser which is simple but still we will have good number of hits considering no of browser user uses. Also questions comes is when do you validate invalidate localstorage value and where

[2018-12-31 18:16] #206 closed

[2018-12-31 18:17] #194 closed

[2018-12-31 18:18] #150 closed

[2018-12-31 18:18] #71 closed

[2018-12-31 18:22] Paarmita opened #218 "CSS for error in form UI"
**Is your feature request related to a problem? Please describe.**
We need to add the css for the errors in the form UI.

**Describe the solution you'd like**
Implementation of attached UI for errors.

**Additional context**
Refer [UI Toolkit](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=0%3A1) for User-Interface and other style-related issues.

**Expected-Interface**
!

[2018-12-31 20:57] plxity opened #221 "Footer too long in mobile view."
**Describe the bug**
Size of the footer is too much in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.ignitus.org in mobile view

**Expected behavior**
Only limited information should be present in the footer to make it look better.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome
 - Version [e.g. 22]

[2019-01-02 14:44] Paarmita opened #226 "Implement What we provide? UI"
**Is your feature request related to a problem? Please describe.**
We need to implement the given UI as the new version is improved.

**Describe the solution you'd like**
Implementation of attached UI What we provide? in terms of components, in client-side library React.js, and UI Framework Bootstrap 3/4.

**Describe alternatives you've considered**
We have updated out client-side UI design, We ar

[2019-01-02 14:46] #50 closed

[2019-01-02 14:47] #137 closed

[2019-01-17 05:40] Paarmita opened #228 "Transforming an SVG logo on a React Component"
**Is your feature request related to a problem? Please describe.**
As we see the navbar, on the blue background the logo is not visible, because logo color is same as the background one.

**Describe the solution you'd like**
As the navbar class changes the SVG logo color must changes accordingly like for transparent and white background- it should be Hex # 000066 and for white background- # FFFFFF

[2019-01-18 15:07] vinodh99 commented on #228
I would like to look into this issue Paarmita.

[2019-01-18 15:08] divyanshu-rawat commented on #228
Thanks @vindu939 please go ahead 👍 .

[2019-01-21 07:14] karagudisuma commented on #169
Hi,
   I was working on this issue in my local and I am able to display social media icons and enlarge the card on hover. Can you please assign the issue to me, can I raise PR for this?
Let me know if the issue is already fixed or any change in requirements.
-Suma

[2019-01-21 07:20] karagudisuma commented on #169
Adding to message above, the /Ignitus-Client-Side-Development/src/ignitus-CoreTeam/Components/Data.js has facebook link for angellist key. It needs a change.  :)

[2019-01-21 08:01] Paarmita commented on #169
@karagudisuma Thanks for looking into the issue. 🙂
You can send a PR for the issue, and we can then look if more changes are required.
Thanks for pointing out the error. So link has to be changed in it.

[2019-01-21 10:33] karagudisuma commented on #169
Thanks. But when i try to push changes I am getting this error:
 Permission to Ignitus/Ignitus-Client-Side-Development.git denied to karagudisuma.
fatal: unable to access 'https://github.com/Ignitus/Ignitus-Client-Side-Development.git/': The requested URL returned error: 403

Is there any permissions required?

[2019-01-21 16:09] Paarmita commented on #221
@plxity Would you like to work on this issue?

[2019-01-26 08:31] #169 closed

[2019-02-10 09:08] karagudisuma commented on #226
Hi @Paarmita,
  Is this issue open? If so can you please give more details as to what has to be done. I see the section implemented as Card component. What is the improvisation required here? I would like to take up this if I can understand what has to be done.
-Thanks,
 Suma

[2019-02-10 10:30] Paarmita commented on #226
Hey @karagudisuma,
The present design is not up to the card styles that we are following now. As you can see as the position of section and card style are changed.
To have more insights on the issue you can look in the Figma design- https://goo.gl/SPCSCh.

[2019-02-11 05:08] karagudisuma commented on #226
Sure, got it. I will do the changes and raise PR.

[2019-02-12 13:42] sweezy793 commented on #218
@Paarmita but for this don't we need validation messages from server side ?

[2019-02-17 17:11] plxity commented on #221
Yes sure @Paarmita

[2019-02-17 17:16] plxity opened #243 "Join link in navigation bar is not active anymore"
**Describe the bug**
When a user clicks on "Join" in the navigation bar, It redirects to a link which is not active anymore

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://www.ignitus.org/'
2. Click on 'Join'

**Expected behavior**
Should redirect to a valid link.

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Browser [Chrome]
 - Version [e.g. 22

[2019-02-18 04:31] Paarmita commented on #243
@plxity Updated the link!

[2019-02-18 04:31] #243 closed

[2019-02-18 04:31] #226 closed

[2019-02-18 17:40] mpriyadarshini commented on #197
Hi, I want to work on this issue.

[2019-02-19 10:36] Paarmita commented on #197
@mpriyadarshini Yes Sure 🙂

[2019-02-19 18:10] #197 closed

[2019-02-19 18:58] mpriyadarshini commented on #228
Is this issue still open?

[2019-02-19 19:37] Paarmita commented on #228
@mpriyadarshini Yes, feel free to create a PR for it.

[2019-02-23 04:20] lazycipher commented on #221
@plxity any update?
@Paarmita Should I work on this?

[2019-02-24 13:28] Yugandhartripathi opened #248 "Slack Invite Link in Readme is no longer active."
**Describe the bug**
Slack invite link in Readme file is expired.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Click on 'Link to Join Ignitus slack channel'
3. See error

**Expected behavior**
Redirect to Slack login/signup to join Ignitus channel.

**Screenshots**
![image](https://user-images.githubusercontent.com/32102845/53299820-9c800a00-3865-11e9-8ec5-18d4e1bcfb5

[2019-02-24 14:53] divyanshu-rawat commented on #248
@Yugandhartripathi thanks for pointing this out 👍 , here is the new link (https://bit.ly/2SaYXMO)

[2019-02-25 13:01] #248 closed

[2019-02-26 09:21] arc9693 commented on #218
I would like to work on this issue.

[2019-02-26 10:08] divyanshu-rawat commented on #218
@sweezy793 are you still working on this? Yes but server side validations are already there, if you will register via `username` that already exist it will throw an error that username already exists, but as of now `error` is shown like this
![screenshot 2019-02-26 at 11 07 56 am](https://user-images.githubusercontent.com/13464678/53404849-cb59c580-39b6-11e9-8399-92f00b0561ba.png)

So this issue i

[2019-02-26 10:08] divyanshu-rawat commented on #218
@arc9693 you can go ahead 👍

[2019-02-28 05:17] akshataw commented on #54
I would like to work on this if the issue is open.

[2019-03-01 04:55] 9snehal commented on #72
Is the issue still open? I want to work on this issue

[2019-03-01 08:58] pradnyasd commented on #218
Can I work on this issue?

[2019-03-01 09:26] Paarmita commented on #218
@arc9693 @sweezy793 Are you working on this one or I could assign it to @pradnyasd ?

[2019-03-01 10:02] sweezy793 commented on #218
@Paarmita I'm not working in it, you can assign it him

[2019-03-01 11:07] arc9693 commented on #218
@Paarmita I am working on it as well

[2019-03-01 11:08] arc9693 commented on #218
@divyanshu-rawat gave me a thumbs up to go ahead with this.

[2019-03-01 11:10] Paarmita commented on #218
@arc9693 Cool! GO ahead and make a PR.
@pradnyasd You can take up some other issue.

[2019-03-03 01:07] karagudisuma commented on #195
Hi,
   Can I work on this?  If I can work, can you please point out where the design of this page is on the UI Toolkit. The image attached here is getting blurred on zooming.
-Thanks,
  Suma.

[2019-03-04 10:14] Paarmita commented on #195
@karagudisuma You can view the designs here- https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=0%3A1
And we will be using material-ui components, so you need to start with this.

[2019-03-04 17:55] karagudisuma commented on #195
Thanks, I will start working this week.

[2019-03-04 18:26] Paarmita commented on #195
@karagudisuma Yes, Sure! Let me know if you have any questions.
Feel free to ask on the slack.

[2019-03-05 04:11] CDharmateja commented on #209
After looking into this, I found that the browser by default caches the requests with ETag and re-validate them after the max-age which is provided with `Cache-Control` header. So even if we use a local db, we are doing the same thing. But a local db like indexedDB is useful when the website is offline-first. If we make it offline-first with service worker, then we can show contributors list to us

[2019-03-05 07:56] CDharmateja commented on #39
I would like to work on this.

[2019-03-05 10:26] Paarmita commented on #39
@CDharmateja Sure Go ahead!

[2019-03-05 12:48] akshataw commented on #54
@divyanshu-rawat  Can I work on this issue, if it is open?

[2019-03-06 07:37] CDharmateja commented on #109
Service worker and HTTP/2 both need https in order to work. Let's Encrypt website provides free SSL/TLS certificates. We can use it for the website.

[2019-03-08 06:49] 9snehal commented on #72
@divyanshu-rawat Is the issue still open? I would like to work on this issue

[2019-03-08 07:35] Paarmita commented on #72
Hey @9snehal, validation is done for the login you can work on the signup similar to which @agoiabel has worked upon.

[2019-03-08 15:01] #39 closed

[2019-03-12 20:59] #221 closed

[2019-03-13 12:05] CDharmateja commented on #109
Can I lazyload images to improve performance?

[2019-03-13 12:13] CDharmateja commented on #228
I would like to work on this.

[2019-03-13 13:01] Paarmita commented on #228
Yes sure @CDharmateja You can take up if @mpriyadarshini is not working on it.

[2019-03-24 11:05] lazycipher commented on #228
Hello @CDharmateja @mpriyadarshini,
Any updates on this issue?

[2019-03-28 12:54] lazycipher commented on #228
@Paarmita, Should I work on this?

[2019-04-12 20:59] arc9693 opened #285 "Background of navbar in mobile view"
When clicked on the hamburger icon on the navbar, it expands displaying the links. The background of the expanded navbar is transparent and therefore the texts coincide and it's messy.

![Screenshot from 2019-04-13 02-23-08](https://user-images.githubusercontent.com/36061892/56065850-a61ced00-5d93-11e9-8dcc-a07ad5fcdf63.png)

Applying a solid background will solve the problem.

[2019-04-13 02:26] Paarmita commented on #285
@arc9693 Thanks for opening the issue 😀Would you like to work on it?

[2019-04-13 12:15] arc9693 commented on #285
@Paarmita yes. Claiming.

[2019-04-21 14:06] arc9693 commented on #285
@Paarmita  can you please put the label 'gssoc19' on this issue?

[2019-04-21 14:07] arc9693 commented on #218
@Paarmita can you please put the label 'gssoc19' on this issue?

[2019-04-21 15:22] #195 closed

[2019-04-22 00:46] #285 closed

[2019-04-22 09:57] arc9693 opened #298 "Show password feature"
**Describe the solution you'd like**
Javascript funnction to toggle password visiblity on login/signup forms.

[2019-04-22 12:36] Paarmita commented on #298
Hey @arc9693, Good observation, we can add this feature. Can you please create a PR for it?

[2019-04-22 12:41] Paarmita opened #299 "Add Forgot password functionality"
We can add a new feature to reset the password, in case the user has already signed in and forgot the password.

[2019-04-22 12:52] divyanshu-rawat commented on #209
@CDharmateja are you willing to work on this ?

[2019-04-22 13:09] CDharmateja commented on #209
@divyanshu-rawat  Yeah. I will work on it.

[2019-04-22 14:48] divyanshu-rawat commented on #209
Thanks 👍 good luck then @CDharmateja 🚀.

[2019-04-22 15:00] arc9693 commented on #298
Sure. @Paarmita

[2019-04-22 15:23] arc9693 commented on #299
Hey @Paarmita  I would like to work on this issue. It would be helpful if you can guide me through the flow. Is there any function on the server side to support this?

[2019-04-22 15:29] Paarmita commented on #299
@arc9693 No, at present there is no functionality from server side.

[2019-04-22 15:34] #298 closed

[2019-04-22 15:37] divyanshu-rawat commented on #299
hey @arc9693 I will implement it soon not getting much time these days 😅.

[2019-04-22 15:39] Paarmita opened #301 "Add filter for repeated usernames in Contributor's section"
**Describe the bug**
On the contributor's section, as contributors from 2 different repositories(Client and server) are rendered so there are some overlapping Github usernames.

**To Reproduce**
See profiles in this section

<img width="1163" alt="Screenshot 2019-04-22 at 9 08 34 PM" src="https://user-images.githubusercontent.com/26546816/56508786-cf333f80-6542-11e9-9f92-4a0a6afa8a03.png">

**Expe

[2019-04-22 16:02] Paarmita opened #302 "Mobile View of Signup/Signin"
**Is your feature request related to a problem? Please describe.**
We need to implement the given UI in mobile as the new version is improved.

<img width="503" alt="Screenshot 2019-04-22 at 9 31 22 PM" src="https://user-images.githubusercontent.com/26546816/56509947-ffc8a880-6545-11e9-8a60-b3f0c305b21b.png">

**Describe the solution you'd like**
Implementation of attached UI Signup/Sign in (Mobil

[2019-04-22 16:14] arc9693 commented on #299
@divyanshu-rawat  Sure. I can work on it on the server-side. I have my exams currently, but I will send a PR soon. I would recommend opening an issue on the rest API repo as well.

[2019-04-22 16:43] arc9693 commented on #301
Claiming.

[2019-04-23 09:15] #54 closed

[2019-04-23 09:41] CDharmateja commented on #209
Thanks @divyanshu-rawat . I have accepted the invite yesterday. Can you also please add gssoc19 label to this issue?

[2019-04-23 11:57] divyanshu-rawat commented on #209
sure @CDharmateja 👍

[2019-04-24 06:43] CDharmateja commented on #209
@divyanshu-rawat  I am almost done implementing this GitHub API calls. We are also make API Call for testimonials. The ignitus API i.e., `https://ignitusrestapi.herokuapp.com/testimonials` also returning `ETag` but the server need to set the header `Access-Control-Expose-Headers: ETag` in order to access the `ETag` from axios.

[2019-04-24 13:45] divyanshu-rawat commented on #209
COOL @CDharmateja I can set the header once I get spare time. or if you want you can also set the header, here is the server-side repo. https://github.com/Ignitus/Ignitus-rest-api.
I will review you merge-request today.
Thanks ⚡️

[2019-04-24 15:09] CDharmateja commented on #138
@divyanshu-rawat I see that we are using docker. Since the code is static and we are not using server side rendering, I think going serverless would be beneficial both in terms of scalability and cost. Additionally most of the online services provide https and http2 out of the box. If we are going to stick with docker then I think we need to first use certbot which provide free ssl certificate fro

[2019-04-24 18:20] #209 closed

[2019-04-27 14:34] divyanshu-rawat commented on #299
@arc9693 go ahead 👍

[2019-05-06 23:57] arc9693 commented on #301
@Paarmita can you please add a gssoc19 label?

[2019-05-07 11:00] divyanshu-rawat commented on #301
@arc9693 added ⚡️

[2019-05-11 16:24] CDharmateja opened #316 "UI of navigation bar in Sign in / Sign up page"
**Describe the bug**
The background of navigation bar of login/signup page at certain width(for me between 1000-1100px) is white including the links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.ignitus.org/Login
2. Open dev tools(Ctrl + Shift + i)
3. Resize width
4. Bug will be seen somewhere between 1000 to 1200 px width

**Expected behavior**
Navigation bar either show

[2019-05-11 17:26] Paarmita commented on #316
@CDharmateja Thanks for pointing out. Would you like to work on it?

[2019-05-13 03:04] CDharmateja commented on #316
@Paarmita  Yeah I will work on it

[2019-06-08 09:11] #301 closed

[2019-08-19 05:21] edward-hong opened #352 "Small Typo"
**Describe the bug**
Small typo

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screen Shot 2019-08-19 at 5 18 40 PM](https://user-images.githubusercontent.com/16217130/63240850-982d2a80-c2a5-11e9-82af-17cfe32faa60.png)

[2019-08-19 06:11] edward-hong commented on #302
Seems like a fairly simple CSS issue. I can work on this.

[2019-08-19 06:24] edward-hong opened #354 "Broken test and test coverage"
**Describe the bug**
Right now there's a broken test in `src/ignitus-Testimonial/selectors.test.js`

**To Reproduce**
Run command `npm run test`

**Expected behavior**
A passing test

**Screenshots**

![Screen Shot 2019-08-19 at 6 14 34 PM](https://user-images.githubusercontent.com/16217130/63242995-5902d780-c2ad-11e9-98cc-90b0f4c48429.png)

**Desktop (please complete the following information):**

[2019-08-19 09:36] divyanshu-rawat commented on #302
@edward-hong  go ahead, and I must say if you end up finding any other issue in the web app, kindly open an issue for the same,in-case you are having some issues with login auth,  currently we are having some downtime on auth. will fix it soon. 👍

[2019-08-19 09:38] divyanshu-rawat commented on #354
@edward-hong  great go ahead 👍 , keep in mind only contribute if you have spare time :).

[2019-08-19 09:40] #352 closed

[2019-08-19 12:41] edward-hong commented on #354
The individual unit test now passes with the PR I just made. I'll now create a new issue to improve code coverage.

[2019-08-19 12:41] #354 closed

[2019-08-19 12:45] edward-hong commented on #302
Ok @divyanshu-rawat thank you for the heads up :)

[2019-08-19 12:51] ghost opened #356 "Improve Testing Code Coverage"
Continuation of #354

Test coverage is around 18%. I'll write more tests to boost the code coverage.

[2019-08-19 12:52] divyanshu-rawat commented on #356
@edward-hong great 👍

[2019-10-11 14:55] RocktimSaikia opened #379 "Carousel on mobile view does not fit very well."
**Is your feature request related to a problem? Please describe.**
![carousel](https://user-images.githubusercontent.com/33410545/66661354-b6efd380-ebfb-11e9-895d-ee1644f942fd.jpg)

Right now the carousel in the testimonials section does its job but when on mobile view it acts quite weird taking the most the screen view .Which is quite annoying . Plus usage of carousel does not fit in most of the

[2019-10-22 07:30] #379 closed

[2019-12-02 00:16] divyanshu-rawat opened #395 "Migration to react-hooks. ★"
Migration of existing `ES6` based class components to **react-hooks**. ★

Hooks let you use state and other React features without writing a class.

**Reference:**  https://reactjs.org/docs/hooks-overview.html

[2019-12-02 00:35] divyanshu-rawat opened #396 "Careers page design 🎨"
**Is your feature request related to a problem? Please describe.**
Careers page design 🎨

**Describe the solution you'd like**
![Careers- Job](https://user-images.githubusercontent.com/13464678/69923284-f3c1a380-14a3-11ea-8ae2-03ac412b2e2e.png)

[2019-12-02 00:37] divyanshu-rawat opened #397 "Job description page design 🎨."
**Is your feature request related to a problem? Please describe.**
Job description page design 🎨.

**Describe the solution you'd like**
Similar to the attached screenshot ★.

**Additional context**
Add any other context or screenshots about the feature request here. 📸

![Job Description Apply](https://user-images.githubusercontent.com/13464678/69923329-41d6a700-14a4-11ea-8d73-b639a642b223.png)

[2019-12-02 00:45] divyanshu-rawat opened #398 "Job confirmation page design 🎨."
**Is your feature request related to a problem? Please describe.**
Job confirmation pasge design ★

**Describe the solution you'd like**
Similar to the attached screenshot.

**Describe alternatives you've considered**
👨‍💻

**Additional context**
Add any other context or screenshots about the feature request here.

![Job Apply Confirmation](https://user-images.githubusercontent.com/13464678/6992345

[2019-12-04 00:43] divyanshu-rawat opened #399 "Bundle size optimisation."
We are relying on may external modules, which in the end increase the bundle size.
for instance - Imagine a use case of using **lodash**, like in order to _concat 2 arrays_ we can make use of fn offered by **lodash** know as` _.concat(array, [values])`, but if we import **lodash** just for doing this, it doesn't make sense and will can increase the **downloading** time of the application by some `

[2019-12-06 23:11] #316 closed

[2019-12-06 23:17] #148 closed

[2019-12-06 23:24] divyanshu-rawat commented on #109
@CDharmateja sorry for late response, if you want to lazy-load images, then you can do so.

[2019-12-06 23:36] #64 closed

[2019-12-06 23:56] divyanshu-rawat opened #403 "Bootstrap 4 => Pure CSS"
**Is your feature request related to a problem? Please describe.**
I think we should remove our project dependency on Bootstrap 4, as it also utilizes flex based layout, and most of the times we end up not using all the capabilities offered by bootstrap.

**Describe the solution you'd like**
When have also integrated Material Design in the dashboard, so I don't think it makes sense to make use of

[2019-12-07 00:38] divyanshu-rawat opened #404 "Err messages not hiding."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.ignitus.org
2. Click on SignIn,
3. Select student SignIn that will take you here. http://www.ignitus.org/login/student
4. Try authenticating with wrong, credentials, you will see an `err` that say `processing`.
5. Now If you navigate to SignUp let's say, and come

[2019-12-07 11:12] divyanshu-rawat opened #406 "Fix DeepScan static analysis report issue."
Here is the DeepScan report for this repo. reflecting current problems.
They are easy to fix, issue is good for beginners to pick up.

https://deepscan.io/dashboard/#view=project&tid=6382&pid=8386&bid=98497&subview=issues&impact=%5B%22High%22%5D

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #408 "WS-2019-0019 (Medium) detected in braces-1.8.5.tgz"
## WS-2019-0019 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>braces-1.8.5.tgz</b></p></summary>

<p>Fastest brace expansion for node.js, with the most complete support for the Bash 4.3 braces specification.</p>
<p>Library home page: <a href="https://registry.n

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #409 "CVE-2015-9251 (Medium) detected in jquery-2.1.4.min.js, jquery-1.7.1.min.js"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-2.1.4.min.js</b>, <b>jquery-1.7.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-2.1.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #410 "CVE-2019-11358 (Medium) detected in jquery-2.1.4.min.js, jquery-3.3.1.tgz"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-2.1.4.min.js</b>, <b>jquery-3.3.1.tgz</b></p></summary>
<p>

<details><summary><b>jquery-2.1.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page:

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #411 "WS-2016-0090 (Medium) detected in jquery-2.1.4.min.js, jquery-1.7.1.min.js"
## WS-2016-0090 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-2.1.4.min.js</b>, <b>jquery-1.7.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-2.1.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page:

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #412 "WS-2019-0180 (Medium) detected in lodash.mergewith-4.6.1.tgz"
## WS-2019-0180 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash.mergewith-4.6.1.tgz</b></p></summary>

<p>The Lodash method `_.mergeWith` exported as a module.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash.mergewith/-/lodash.mergewit

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #413 "CVE-2019-10742 (High) detected in axios-0.18.0.tgz"
## CVE-2019-10742 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>axios-0.18.0.tgz</b></p></summary>

<p>Promise based HTTP client for the browser and node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/axios/-/axios-0.18.0.tgz">https://registry.n

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #414 "CVE-2019-10744 (High) detected in lodash-4.17.11.tgz"
## CVE-2019-10744 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.11.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.11.tgz">https://registry.npmjs.org/lodash/-/lodas

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #415 "WS-2019-0032 (Medium) detected in js-yaml-3.12.0.tgz"
## WS-2019-0032 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>js-yaml-3.12.0.tgz</b></p></summary>

<p>YAML 1.2 parser and serializer</p>
<p>Library home page: <a href="https://registry.npmjs.org/js-yaml/-/js-yaml-3.12.0.tgz">https://registry.npmjs.org/js-yaml/

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #416 "WS-2019-0063 (High) detected in js-yaml-3.12.0.tgz"
## WS-2019-0063 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>js-yaml-3.12.0.tgz</b></p></summary>

<p>YAML 1.2 parser and serializer</p>
<p>Library home page: <a href="https://registry.npmjs.org/js-yaml/-/js-yaml-3.12.0.tgz">https://registry.npmjs.org/js-yaml/-/

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #417 "CVE-2012-6708 (Medium) detected in jquery-1.7.1.min.js"
## CVE-2012-6708 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.7.1.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js">https://cdnjs.cl

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #418 "WS-2019-0064 (High) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0064 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build sem

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #419 "WS-2019-0103 (Medium) detected in handlebars-4.0.12.tgz"
## WS-2019-0103 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build semantic templates effectively with no frustration</p>
<p>Library home page: <a href="https://regi

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #420 "WS-2019-0291 (High) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0291 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build sem

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #421 "WS-2019-0318 (Medium) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0318 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build s

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #422 "WS-2019-0331 (Medium) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build s

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #423 "WS-2019-0332 (Medium) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0332 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build s

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #424 "WS-2019-0333 (Medium) detected in handlebars-4.0.12.tgz, handlebars-4.1.1.tgz"
## WS-2019-0333 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.0.12.tgz</b>, <b>handlebars-4.1.1.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.0.12.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build s

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #425 "CVE-2018-20834 (High) detected in tar-2.2.1.tgz, tar-4.4.1.tgz"
## CVE-2018-20834 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>tar-2.2.1.tgz</b>, <b>tar-4.4.1.tgz</b></p></summary>
<p>

<details><summary><b>tar-2.2.1.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #426 "CVE-2019-10747 (High) detected in set-value-2.0.0.tgz, set-value-0.4.3.tgz"
## CVE-2019-10747 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>set-value-2.0.0.tgz</b>, <b>set-value-0.4.3.tgz</b></p></summary>
<p>

<details><summary><b>set-value-2.0.0.tgz</b></p></summary>

<p>Create nested values and any intermediaries using dot notation

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #427 "CVE-2019-10746 (High) detected in mixin-deep-1.3.1.tgz"
## CVE-2019-10746 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mixin-deep-1.3.1.tgz</b></p></summary>

<p>Deeply mix the properties of objects into the first object. Like merge-deep, but doesn't clone.</p>
<p>Library home page: <a href="https://registry.npmjs.or

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #428 "WS-2018-0236 (Medium) detected in mem-1.1.0.tgz"
## WS-2018-0236 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mem-1.1.0.tgz</b></p></summary>

<p>Memoize functions - An optimization used to speed up consecutive function calls by caching the result of calls with identical input</p>
<p>Library home page: <a hr

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #429 "WS-2019-0307 (Medium) detected in mem-1.1.0.tgz"
## WS-2019-0307 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mem-1.1.0.tgz</b></p></summary>

<p>Memoize functions - An optimization used to speed up consecutive function calls by caching the result of calls with identical input</p>
<p>Library home page: <a hr

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #430 "CVE-2019-15657 (High) detected in eslint-utils-1.3.1.tgz"
## CVE-2019-15657 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>eslint-utils-1.3.1.tgz</b></p></summary>

<p>Utilities for ESLint plugins.</p>
<p>Library home page: <a href="https://registry.npmjs.org/eslint-utils/-/eslint-utils-1.3.1.tgz">https://registry.npmjs.

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #431 "CVE-2019-13173 (High) detected in fstream-1.0.11.tgz"
## CVE-2019-13173 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>fstream-1.0.11.tgz</b></p></summary>

<p>Advanced file system stream things</p>
<p>Library home page: <a href="https://registry.npmjs.org/fstream/-/fstream-1.0.11.tgz">https://registry.npmjs.org/fstr

[2019-12-07 11:23] whitesource-bolt-for-github[bot] opened #432 "WS-2019-0310 (Medium) detected in https-proxy-agent-2.2.1.tgz"
## WS-2019-0310 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>https-proxy-agent-2.2.1.tgz</b></p></summary>

<p>An HTTP(s) proxy `http.Agent` implementation for HTTPS</p>
<p>Library home page: <a href="https://registry.npmjs.org/https-proxy-agent/-/https-proxy-

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #433 "CVE-2018-11697 (High) detected in CSS::Sass-v3.4.11, opennms-opennms-source-24.1.3-1"
## CVE-2018-11697 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - </p></summary>
<p>

</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/high_vul.png' width=19 height=20> Vulnerability Details</summary>
<p>

An

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #434 "CVE-2018-19797 (Medium) detected in CSS::Sass-v3.4.11, opennms-opennms-source-24.1.3-1"
## CVE-2018-19797 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - </p></summary>
<p>

</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/medium_vul.png' width=19 height=20> Vulnerability Details</summary>
<p>

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #435 "CVE-2018-19827 (High) detected in CSS::Sass-v3.4.11, opennms-opennms-source-24.1.3-1"
## CVE-2018-19827 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - </p></summary>
<p>

</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/high_vul.png' width=19 height=20> Vulnerability Details</summary>
<p>

In

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #436 "CVE-2018-19839 (Medium) detected in CSS::Sass-v3.4.11"
## CVE-2018-19839 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>CSS::Sassv3.4.11</b></p></summary>
<p>

<p>Library home page: <a href=https://metacpan.org/pod/CSS::Sass>https://metacpan.org/pod/CSS::Sass</a></p>
<p>Found in HEAD commit: <a href="https://github.

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #437 "CVE-2018-11499 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11499 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #438 "CVE-2018-11693 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11693 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #439 "CVE-2018-11694 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11694 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #440 "CVE-2018-11695 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11695 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #441 "CVE-2018-11696 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11696 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #442 "CVE-2018-11698 (High) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-11698 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sourc

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #443 "CVE-2018-19826 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-19826 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #444 "CVE-2018-19837 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-19837 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #445 "CVE-2018-19838 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-19838 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #446 "CVE-2018-20190 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-20190 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #447 "CVE-2018-20821 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-20821 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #448 "CVE-2018-20822 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2018-20822 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #449 "CVE-2019-18797 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2019-18797 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sou

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #450 "CVE-2019-6283 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2019-6283 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sour

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #451 "CVE-2019-6284 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2019-6284 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sour

[2019-12-07 11:24] whitesource-bolt-for-github[bot] opened #452 "CVE-2019-6286 (Medium) detected in opennms-opennms-source-24.1.3-1"
## CVE-2019-6286 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>opennmsopennms-source-24.1.3-1</b></p></summary>
<p>

<p>A Java based fault and performance management system</p>
<p>Library home page: <a href=https://sourceforge.net/projects/opennms/>https://sour

[2019-12-07 12:33] divyanshu-rawat opened #453 "LazyLoad Images to enhance perf."
**Is your feature request related to a problem? Please describe.**
It would be great if can lazyLoad images to enhance performance. ★

**Describe the solution you'd like**
https://www.npmjs.com/package/react-lazyload

[2019-12-08 17:35] divyanshu-rawat opened #454 "Add support for username durning registration."
**Is your feature request related to a problem? Please describe.**
Currently during user registration we ask for `email` followed by `password`.

**Describe the solution you'd like**
It would be great if we can ask for username as well, so that we can show it in the header once user logs in.

**Describe alternatives you've considered**
None as of now.

**Additional context**
If you want you can al

[2019-12-08 17:39] whitesource-bolt-for-github[bot] opened #456 "CVE-2019-16769 (Medium) detected in serialize-javascript-1.9.1.tgz"
## CVE-2019-16769 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>serialize-javascript-1.9.1.tgz</b></p></summary>

<p>Serialize JavaScript to a superset of JSON that includes regular expressions and functions.</p>
<p>Library home page: <a href="https://registry.

[2019-12-11 00:09] #68 closed

[2019-12-11 00:09] #56 closed

[2019-12-11 00:09] #40 closed

[2019-12-11 00:09] #44 closed

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #467 "CVE-2016-10531 (Medium) detected in marked-0.3.19.js"
## CVE-2016-10531 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #468 "WS-2015-0049 (Medium) detected in marked-0.3.19.js"
## WS-2015-0049 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.co

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #469 "WS-2019-0025 (Medium) detected in marked-0.3.19.js"
## WS-2019-0025 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.co

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #470 "WS-2019-0026 (Medium) detected in marked-0.3.19.js"
## WS-2019-0026 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.co

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #471 "WS-2019-0027 (Medium) detected in marked-0.3.19.js"
## WS-2019-0027 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.co

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #472 "WS-2019-0169 (Medium) detected in marked-0.3.19.js, marked-0.3.19.tgz"
## WS-2019-0169 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>marked-0.3.19.js</b>, <b>marked-0.3.19.tgz</b></p></summary>
<p>

<details><summary><b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="ht

[2019-12-11 10:35] whitesource-bolt-for-github[bot] opened #473 "WS-2019-0209 (Medium) detected in marked-0.3.19.js"
## WS-2019-0209 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>marked-0.3.19.js</b></p></summary>

<p>A markdown parser built for speed</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js">https://cdnjs.cloudflare.co

[2019-12-13 22:38] #473 closed

[2019-12-13 22:38] #472 closed

[2019-12-13 22:38] #471 closed

[2019-12-13 22:38] #470 closed

[2019-12-13 22:38] #469 closed

[2019-12-13 22:38] #468 closed

[2019-12-13 22:38] #467 closed

[2019-12-13 22:38] #456 closed

[2019-12-13 22:39] #428 closed

[2019-12-13 22:39] #429 closed

[2019-12-13 22:39] #430 closed

[2019-12-13 22:39] #431 closed

[2019-12-13 22:39] #432 closed

[2019-12-13 22:39] #433 closed

[2019-12-13 22:39] #434 closed

[2019-12-13 22:39] #435 closed

[2019-12-13 22:39] #436 closed

[2019-12-13 22:39] #437 closed

[2019-12-13 22:39] #438 closed

[2019-12-13 22:39] #439 closed

[2019-12-13 22:39] #440 closed

[2019-12-13 22:39] #441 closed

[2019-12-13 22:39] #442 closed

[2019-12-13 22:39] #443 closed

[2019-12-13 22:39] #444 closed

[2019-12-13 22:39] #445 closed

[2019-12-13 22:39] #446 closed

[2019-12-13 22:39] #447 closed

[2019-12-13 22:39] #448 closed

[2019-12-13 22:39] #449 closed

[2019-12-13 22:39] #450 closed

[2019-12-13 22:39] #451 closed

[2019-12-13 22:39] #452 closed

[2019-12-13 22:39] #408 closed

[2019-12-13 22:39] #409 closed

[2019-12-13 22:39] #410 closed

[2019-12-13 22:39] #411 closed

[2019-12-13 22:39] #412 closed

[2019-12-13 22:39] #413 closed

[2019-12-13 22:39] #414 closed

[2019-12-13 22:39] #415 closed

[2019-12-13 22:39] #416 closed

[2019-12-13 22:39] #417 closed

[2019-12-13 22:39] #418 closed

[2019-12-13 22:39] #419 closed

[2019-12-13 22:39] #420 closed

[2019-12-13 22:39] #421 closed

[2019-12-13 22:39] #422 closed

[2019-12-13 22:39] #423 closed

[2019-12-13 22:39] #424 closed

[2019-12-13 22:39] #425 closed

[2019-12-13 22:39] #426 closed

[2019-12-13 22:39] #427 closed

[2019-12-13 22:41] divyanshu-rawat commented on #395
#474  Migrates Team & Testimonial Component, Navigation Component is still pending. 👍

[2019-12-13 22:46] divyanshu-rawat opened #476 "Introduce Styled Components 🎨"
**Is your feature request related to a problem? Please describe.**
Once we are done with removal of BS4 and MD from the project, we plan to migrate to https://emotion.sh/docs/styled.

[2019-12-13 22:48] divyanshu-rawat commented on #476
#403 All addresses the similar concern. ✔️

[2019-12-13 22:54] divyanshu-rawat opened #477 "Migration prop-Types => TS ★"
**Is your feature request related to a problem? Please describe.**
We also plan to migrate our Type checking capabilities to TS.

**Describe the solution you'd like**
Migration to TS ★

**Describe alternatives you've considered**
Flow seems good but still TS offer more capabilities.

**Additional context**
https://www.typescriptlang.org/

So, I am adding `RGSoC` label to this issue as well, everyo

[2019-12-14 00:03] #208 closed

[2019-12-14 00:03] #228 closed

[2019-12-14 00:03] #299 closed

[2019-12-14 00:03] #109 closed

[2019-12-14 00:03] #138 closed

[2019-12-14 00:03] #90 closed

[2019-12-14 00:03] #67 closed

[2019-12-14 00:03] #72 closed

[2019-12-14 18:37] divyanshu-rawat opened #479 "Migration FontAwesome => SVG ★"
**Is your feature request related to a problem? Please describe.**
Migration FontAwesome => SVG ★

**Describe the solution you'd like**
 It doesn't make sense to increase the bundle size in production but loading additional library FontAwesome its better to create a component that will take `SVG` and render it.

**Describe alternatives you've considered**
No alternatives yet, @Paarmita will start

[2019-12-15 15:56] divyanshu-rawat opened #481 "Ignitus Student login/signup component re-use."
**Is your feature request related to a problem? Please describe.**
Yes, currently Ignitus professor, login/signup has separate HTML, CSS associated with it, but Ignitus student login/signup component can be re-used to do authentication for professor as well.

**Describe the solution you'd like**
Re-use student login/signup component in => professor login/signup.

**Describe alternatives you've con

[2019-12-20 14:37] divyanshu-rawat commented on #218
I believe validation is buggy, It would be great if someone can have a look on it, I am keeping this issue open.

Current validation to check email validity also seems to be too complex.
Have a look here. https://github.com/Ignitus/Ignitus-client/blob/master/src/ignitus-StudentSignUp/Components/Signup.js.

I believe we can simply use `regex` to check email `format`.
Something like this -` const re

[2019-12-20 15:29] Saumya29 commented on #453
Can I take this up?

[2019-12-21 00:01] divyanshu-rawat commented on #453
Sure :) . feel free to do so 🎉

[2020-01-31 08:40] divyanshu-rawat commented on #403
#478 Addresses similar problem. ⚡️

[2020-02-12 00:14] #302 closed

[2020-02-12 00:14] #356 closed

[2020-02-13 00:15] #406 closed

[2020-02-24 21:51] divyanshu-rawat opened #517 "Misalignment on hover."
**Describe the bug**
As demonstrated in gif once you hover upon team members at http://www.ignitus.org/aboutus, you will notice on hover effect UI distorts or misaligned we need to prevent misalignment of UI on hover.´, earlier it was working fine but not now.
Bug was introduced due to migration to emotion 👩‍🎤some removal of existing logic might have caused the distortion.

Old working version can

[2020-02-24 22:04] divyanshu-rawat commented on #476
#478  already did the migration to emotion from BS4 => Pure CSS => Emotion. 👩‍🎤but issue is still not finished as we need to do it for other components as well.

[2020-02-24 22:14] divyanshu-rawat commented on #477
1st step is to convert any file to TS file, and then replicate the same for other files as well 👍

[2020-02-25 05:00] abhinashgiri commented on #517
Sir, I want to give a try to this issue, if you permit. I'm also a GSSOC 20 participant. I'm a beginner so it might take a little longer. Please assign it to me, Sir.

[2020-02-25 08:55] divyanshu-rawat commented on #517
@abhinashgiri go ahead now worries 👍 .

[2020-02-25 08:57] divyanshu-rawat opened #519 "Write Unit Tests"
**Is your feature request related to a problem? Please describe.**
We are planning to write unit test for most of our components.

**Describe the solution you'd like**
One can have a look on existing unit tests, and write new ones.

[2020-02-25 12:50] divyanshu-rawat commented on #403
#476 is also related.

[2020-02-26 00:14] #453 closed

[2020-02-26 23:06] divyanshu-rawat opened #526 "New testimonial carousel design."
**Is your feature request related to a problem? Please describe.**
We plan to update the current design of our testimonial carousel in Ignitus.

**Describe the solution you'd like**
I have attached the screenshot of design we would like to have.

**Describe alternatives you've considered**
N.A

**Additional context**
<img width="842" alt="Testimonials" src="https://user-images.githubusercontent.co

[2020-02-27 13:10] ashutosh97 commented on #454
I would like to work on it.

[2020-02-27 13:10] ashutosh97 commented on #454
@divyanshu-rawat I am opening an issue on backend repo for the same.

[2020-02-27 15:17] divyanshu-rawat commented on #517
@abhinashgiri sorry to say misalignment of hover is again fixed somehow with code refactoring in this pr #524 , now I must say can you pick up another issue? :)

[2020-02-27 16:50] abhinashgiri commented on #517
Ok . That's good. Sir should I now unassign myself?

[2020-02-27 22:07] divyanshu-rawat opened #530 "Define Types"
**Is your feature request related to a problem? Please describe.**
A lot of places in the codebase type `any` is used, which doesn't make sense, to would be great if any can be replaced with appropriate types.

**Describe the solution you'd like**
Replace `any` types with the actual types.

**Additional context**
Let me know if the issue is still not clear.

[2020-02-29 16:31] steric85 commented on #477
Hey! I am a GSSoC'20 participant. I'd like to work on this.

[2020-02-29 16:31] steric85 commented on #395
Hey! I am a GSSoC'20 participant. I'd like to work on this.

[2020-02-29 20:23] divyanshu-rawat commented on #395
@steric85 sure go ahead 👍 , I did the migration of most of the components you can try with the remaining ones.

[2020-02-29 20:25] divyanshu-rawat commented on #477
sure go ahead 👍 , #524 does migration from some components, feel free to pick some other component, or wait until tom. I will compile here a list of components that I think are in need of migration :)

[2020-02-29 23:13] Paarmita opened #540 "Change the logo color dynamically"
**Describe the bug**
In the Signup/login page, the logo on the left is not visible because of the color.

**Expected behavior**
The logo SVG color needs to be dynamically changed to white or blue based on the background navbar color, to make it visible.

**Screenshots**
Current screen with blue color logo on the blue navbar.
<img width="1440" alt="Screenshot 2020-03-01 at 12 12 31 AM" src="https:/

[2020-02-29 23:19] Paarmita opened #541 "Mobile responsive UI for signup/login page"
**Describe the bug**
Currently, on the mobile view, the title and cards are not aligned according to the expected design.

**Expected behavior**
Make it responsive according to the below-designed screen.
![Mobile View Signup](https://user-images.githubusercontent.com/26546816/75616510-39007a80-5b52-11ea-8b4e-68911bc9ac6f.png)

**Screenshots**
Current screen
<img width="501" alt="Screenshot 2020-03

[2020-02-29 23:24] divyanshu-rawat commented on #397
Job description page can be divided into `two` parts, something like this.

![job_description](https://user-images.githubusercontent.com/13464678/75616572-d78cdb80-5b52-11ea-900d-c0e3da69f26f.png)

One can pick either the `first` part or other can pick the `second` part.

[2020-02-29 23:29] divyanshu-rawat opened #542 "Job description page design 🎨 part 1."
**Is your feature request related to a problem? Please describe.**
Please refer. https://github.com/Ignitus/Ignitus-client/issues/397.

[2020-02-29 23:30] divyanshu-rawat opened #543 "Job description page design 🎨 part 2."
Is your feature request related to a problem? Please describe.
Please refer. #397.

[2020-02-29 23:40] divyanshu-rawat opened #544 "Job confirmation page design 🎨 part 1."
**Is your feature request related to a problem? Please describe.**
Please refer https://github.com/Ignitus/Ignitus-client/issues/398.

[2020-02-29 23:41] divyanshu-rawat opened #545 "Job confirmation page design 🎨 part 2."
**Is your feature request related to a problem? Please describe.**
Please refer https://github.com/Ignitus/Ignitus-client/issues/398.

[2020-02-29 23:42] Paarmita commented on #398
The job confirmation page can be divided into two parts, something like this.

![Group 23 (1)](https://user-images.githubusercontent.com/26546816/75616736-7286b500-5b55-11ea-90eb-83f558174615.png)

One can pick either the first part or others can pick the second part.
The second part is mostly about creating a confirmation card.

[2020-02-29 23:42] divyanshu-rawat commented on #398
The job description page can be divided into two parts, something like this. please refer. #545. #544 to work on this.

[2020-02-29 23:45] divyanshu-rawat opened #546 "Careers page design 🎨 part 1."
**Is your feature request related to a problem? Please describe.**
please refer https://github.com/Ignitus/Ignitus-client/issues/396 for more info.

[2020-02-29 23:46] divyanshu-rawat opened #547 "Careers page design 🎨 part 2."
Is your feature request related to a problem? Please describe.
please refer #396 for more info.

[2020-02-29 23:46] Paarmita commented on #396
The Career page can be divided into two parts, something like this.

![Group 24](https://user-images.githubusercontent.com/26546816/75616782-0f495280-5b56-11ea-87cc-897c4fe1eb64.png)

[2020-03-01 10:31] steric85 commented on #395
Thank you @divyanshu-rawat . I'll start migrating right away.

[2020-03-01 10:31] steric85 commented on #477
Sure, thanks a lot!

[2020-03-01 11:13] steric85 commented on #477
Hey @divyanshu-rawat
I started with the common-auth-student-prof folder. Could you please review the changes in #548  to know if I'm going in the right direction?

[2020-03-01 11:26] divyanshu-rawat commented on #477
Sure will do thanks :) 😊

[2020-03-01 13:08] gittysachin commented on #248
@divyanshu-rawat the new link isn't working.

[2020-03-01 15:55] VibavariG commented on #519
Sir, I would like to work on this issue. I'm a beginner so I would like to start with this issue

[2020-03-01 16:16] debck commented on #519
@VibavariG  You can start working 👍 . Just let us know for which component you will writing the test case.

[2020-03-01 16:37] abhishekjain35 commented on #541
I would like to work on this issue.

[2020-03-01 16:50] divyanshu-rawat commented on #517
@abhinashgiri I will un-assign you thanks :)

[2020-03-01 16:50] #517 closed

[2020-03-01 16:59] Paarmita commented on #541
@abhishekjain35 Sure, give it a shot!

[2020-03-01 17:00] divyanshu-rawat opened #549 "Margin Reduction to half."
**Describe the bug**
Reduce highlighted margin to half, currently it is 10em, reduce it to 5em.

<img width="1372" alt="Screenshot 2020-03-01 at 17 54 09" src="https://user-images.githubusercontent.com/13464678/75629892-65fe6d00-5be6-11ea-9348-ab8d16232e7e.png">

[2020-03-01 17:09] divyanshu-rawat opened #550 "Code refactoring"
**Is your feature request related to a problem? Please describe.**
As we can see in screenshot, we have lot of folders here and I believe we can refactor some of them to make it look more `generic`  and `readable`, `understandable`.

**Describe the solution you'd like**
For instance `ignitus-About` should consist of `ignitus-CoreTeam`,` ignitus-Team` instead of having 2 separate folder for `ignitu

[2020-03-01 17:25] steric85 opened #551 "Update contribution guidelines"
**Describe the bug**
The link for cloning and the name of the root folder present in the contribution guidelines of this repository are incorrect.
Also, the command for linting the code is present twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contribution Guidelines'
2. Scroll down to 'Setup locally' and 'Linting'

**Expected behavior**
Link for cloning should be: `https://gi

[2020-03-01 17:25] steric85 commented on #551
I can take up the task of fixing this.

[2020-03-01 18:27] divyanshu-rawat commented on #551
Sure go ahead thanks 😊

On Sun 1. Mar 2020 at 18:25, Steric <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn]
<https://htmlsig.com/t/000001DKT

[2020-03-01 21:16] divyanshu-rawat opened #552 "Removal of Material UI."
**Is your feature request related to a problem? Please describe.**
I am planning to remove Material UI as a dependency of the project reason being it is increasing the bundle size in production although we already have emotion with pure css, we are indeed not in need of another material UI framework that was added in some PR to design the layout of Dashboard.

**Describe the solution you'd like**

[2020-03-01 22:32] #552 closed

[2020-03-01 22:33] divyanshu-rawat opened #554 "Looking for new issues 👋"
We are opening new issues everyday, please have patience :)

[2020-03-01 22:35] divyanshu-rawat commented on #476
Before working on this issue please read #403  description :)

[2020-03-02 12:41] Paarmita opened #556 "Dashboard: Navbar UI"
**Describe the solution you'd like**
Implementation of the attached UI of the Dashboard navbar based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the design.
- Export

[2020-03-02 12:45] Paarmita opened #557 "Dashboard: Side footer"
**Describe the solution you'd like**
Implementation of the attached UI of the Dashboard footer section based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the design.
-

[2020-03-02 13:00] Paarmita opened #558 "Dashboard: Side Profile section"
**Describe the solution you'd like**
Implementation of the attached UI of the Dashboard side profile section based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the des

[2020-03-02 13:01] Paarmita opened #559 "Dashboard: Side Navigation"
**Describe the solution you'd like**
Implementation of the attached UI of the Dashboard side Navigation section based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the

[2020-03-02 13:14] Paarmita opened #560 "Dashboard: Dropdown UI for navbar"
**Describe the solution you'd like**
Implementation of the attached UI of the dropdown in the Navigation bar based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the des

[2020-03-02 15:48] abhishekjain35 commented on #541
I've submitted pull request, please review it.

[2020-03-02 16:53] steric85 opened #565 "Write reusable code for login and sign up page"
**Is your feature request related to a problem? Please describe.**
Code for `CommonSignUpUI` and `CommonLoginUI` is redundant.

**Describe the solution you'd like**
We can create a single prop-driven component that can achieve both login and sign up functionalities.

[2020-03-02 17:13] divyanshu-rawat commented on #565
hey @steric85 thanks for opening the issue I was also thinking to open one :) , and one more thing could you also use TypeScript when you create a reusable component.

[2020-03-02 17:29] steric85 commented on #565
Yes, sure!
I've made the changes in TS and pushed to #548

[2020-03-02 17:37] msk4862 commented on #549
@divyanshu-rawat I want to work on this issue.

[2020-03-02 19:24] ashishnagpal2498 commented on #549
Hi @divyanshu-rawat , I would like to work on this issue as part of GSSOC'20.

[2020-03-02 19:27] divyanshu-rawat commented on #549
@ashishnagpal2498 , sorry but @msk4862 claimed it first let me assign it to him for 2 days, then if won't revert then I will assign it to you :)

[2020-03-03 06:43] Paarmita opened #567 "404 error page UI: Add lottie animation"
Update the 404 error page with the new design and add the provided Lottie animation.
You can read some blogs for integrating the Lottie with react apps.

New Design

![404 error page](https://user-images.githubusercontent.com/26546816/75749526-4bc9a980-5d22-11ea-9b42-428169155d1a.png)

Download JSON Lottie file-

https://assets9.lottiefiles.com/packages/lf20_Ge1Qcq.json

[2020-03-03 09:57] divyanshu-rawat commented on #565
Thanks :)

[2020-03-03 11:46] APOORVA456 commented on #567
I want to work on this issue.

[2020-03-03 12:30] Paarmita commented on #567
@APOORVA456 Sure, go for it!

[2020-03-03 12:47] #549 closed

[2020-03-03 15:31] debck opened #569 "Make Homepage responsive"
**Describe the solution you'd like**

The homepage isn't responsive for most devices. So task is to make the homepage/ landing page responsive keeping the design

Page: http://www.ignitus.org/

[2020-03-03 15:53] John123Allison commented on #569
Hi, can I take this?

[2020-03-03 20:03] beingKHUSH commented on #567
Is it possible that more than one participant can work on the same issue. Since, I too want to work on this issue.

[2020-03-03 20:09] debck opened #570 "TypeScript Support with Hound"
**Is your feature request related to a problem? Please describe.**

  As we are migrating to TypeScript recently, we will require to update our hound config to support TS.
Currently, we have the configuration for eslint and javascript.

**Describe the solution you'd like**

You have to add the TS support in the ` .hound.yml` file here: https://github.com/Ignitus/Ignitus-client/blob/master/.hound.y

[2020-03-03 20:17] debck commented on #567
Sorry @beingKHUSH but only one person should work on an issue so that there are no duplicate PRs.
If we see no progress on this issue in 2-3 days then we will assign it to you 😃
You can assign yourself other issues in the meantime.

[2020-03-03 22:28] divyanshu-rawat opened #572 "Hide Testimonial on small screen (Mobile devices)"
**Is your feature request related to a problem? Please describe.**
It would be great if we won't show testimonial component on small screen device as it doesn't look good on small screen, so better hide it.

**Approach:**
Writing a media-query will do the job, lets hide for `screen width < 576px`

[2020-03-03 22:31] divyanshu-rawat opened #573 "Implement register/login for professor 🎓."
**Is your feature request related to a problem? Please describe.**
Implement `register/login` for professor.  🎓

**Describe the solution you'd like**
Currently `login/register` for `student` is already implemented, someone just have to replicate the same for `professor`.

**Describe alternatives you've considered**
N.A

**Additional context**
Here are the backend endpoints for the same.
https://gi

[2020-03-03 22:46] divyanshu-rawat opened #574 "Improve code quality 🔨 🧹readability."
**Is your feature request related to a problem? Please describe.**
1 - Fix ESLINT warnings, instead of disabling them, in many files you will comments on the top like this. 🧹 🔨

[code]

These comments are basically suppressing the ESLINT warnings, and if you remove those comments then ESLINT will show you what needs to be fixed in that file to align with ESLINT guidelines, we have added comments i

[2020-03-04 06:17] abhu-A-J commented on #572
@divyanshu-rawat Can I try this. I am GSSoC participant

[2020-03-04 06:54] NVS16 commented on #573
Can I work on this?

[2020-03-04 07:06] vvijayalakshmi21 commented on #574
Hi, I would like to do this.

[2020-03-04 07:11] vvijayalakshmi21 commented on #530
Hi, I would like to work on this,
From what i understand, the term 'any' needs to be replaced with actual types. Is that right?
If that is the case, what should I replace it with?

[2020-03-04 07:22] priyadarshu commented on #526
Hi would like on this issue. But it is not tagged under gssoc20.

[2020-03-04 07:23] gittysachin commented on #574
Sure, go ahead 😊

[2020-03-04 07:26] gittysachin commented on #573
@NVS16, sure. Give it a try 👍

[2020-03-04 07:26] priyadarshu commented on #558
Hi would like to work on this .

[2020-03-04 07:27] gittysachin commented on #572
Sure, give it a shot 👍

[2020-03-04 07:31] gittysachin commented on #526
@priyadarshu surely you can take it up.

[2020-03-04 07:33] debck commented on #572
Yes, sure @abhu-A-J . Go for it

[2020-03-04 09:03] SanthoshBalagur commented on #543
@divyanshu-rawat  I will work on this page

[2020-03-04 09:25] debck commented on #543
@SanthoshBalagur Yes, you can start working :+1:

[2020-03-04 09:39] divyanshu-rawat commented on #543
@SanthoshBalagur thanks for your interest :)

[2020-03-04 09:40] divyanshu-rawat commented on #526
@priyadarshu Thanks for your interest :)

[2020-03-04 09:41] divyanshu-rawat commented on #573
sure @NVS16  ⚡️

[2020-03-04 09:42] divyanshu-rawat commented on #574
Thanks @vvijayalakshmi21 for your interest :) , feel free to give suggestions on code quality, readability to us as well if you have any.

[2020-03-04 09:49] divyanshu-rawat commented on #530
@vvijayalakshmi21 that's good question, any should be replace `any` actual types. Now the question arises by what so its subjective for instance here https://github.com/Ignitus/Ignitus-client/blob/master/src/ignitus-Team/types.ts#L8, we have defined type for git-hub contributors data that we are using here https://github.com/Ignitus/Ignitus-client/blob/master/src/ignitus-Team/Components/Team.tsx#L

[2020-03-04 12:13] Paarmita opened #575 "Signup Flow UI for student"
**Describe the solution you'd like**
Implementation of the attached sign up flow UIfor student based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the design.
- Export

[2020-03-04 15:01] #572 closed

[2020-03-04 15:27] abhu-A-J commented on #574
Hello Mentors, I'll like to work on this particularly on styling aspect. The components I have picked up:
1. Ignitus-Footer (px to rem conversion)
2. Ignitus-Introduction (px to rem, and add standard property of background-clip for compatibility which is missing, so shows error (although not a breaking issue))
3. Ignitus-Getting Started (px to rem)

Also i would like to know if any reset has been

[2020-03-04 16:54] divyanshu-rawat commented on #574
@abhu-A-J thanks a lot for your interest :) No reset is done so `1rem` should be `16px`. let me know if you have any other questions 👍

[2020-03-04 16:57] divyanshu-rawat commented on #574
@vvijayalakshmi21 please don't pick those components that @abhu-A-J has already picked :)

[2020-03-04 17:55] gargshruti30 commented on #575
@Paarmita
I and @AnjaliGarg13 are aspirants of RgSoc'20. We would like to work on this issue.

[2020-03-04 18:02] gargshruti30 commented on #559
@Paarmita
Hey. I would like to work on this issue.

[2020-03-04 18:03] AnjaliGarg13 commented on #560
@Paarmita
Hey, I would like to work on this issue.

[2020-03-04 18:04] gargshruti30 commented on #556
@Paarmita
Hey. I would like to work on this issue.

[2020-03-04 18:07] AnjaliGarg13 commented on #550
@divyanshu-rawat
Hey, I would like to work on this issue.

[2020-03-04 18:35] gittysachin commented on #575
Thanks for your interest @gargshruti30. Go ahead ⚡

[2020-03-04 18:58] ashishnagpal2498 commented on #398
I would like to work on this issue as part of GSSOC'20

[2020-03-04 20:09] divyanshu-rawat commented on #550
@AnjaliGarg13 please go ahead 👍

[2020-03-04 20:15] divyanshu-rawat commented on #398
please go ahead @ashishnagpal2498 👍

[2020-03-04 20:27] Paarmita commented on #559
@gargshruti30 It would be great if you can take up to 2 issues at a time and please make a PR for them and then take up new issues.

[2020-03-04 20:38] Paarmita opened #578 "Error message UI fix."
**Describe the bug**
Text is not aligned correctly when Contributors are not loaded properly and looks something like this.

<img width="1440" alt="Screenshot 2020-03-04 at 9 34 30 PM" src="https://user-images.githubusercontent.com/26546816/75920755-45414c00-5e60-11ea-9b9a-9158d51d3799.png">

**Expected behavior**
It should be aligned properly with proper font size. Try it in your way, or let me k

[2020-03-04 21:03] tanisha03 commented on #559
@Paarmita I would like to give it a try

[2020-03-04 21:07] Paarmita commented on #556
Make the elements of the navbar like the dropdown button, search input box, and online dropdown as a shared component that could be used all over the app to make the app consistent. Text is already defined in the code which should be used in this navbar component.

[2020-03-04 21:09] Paarmita commented on #558
Make the elements of the profile section like the View Profile button as a shared component that could be used all over the app to make the app consistent. Text is already defined in the code which should be used in this component.

[2020-03-04 21:12] Paarmita commented on #560
@AnjaliGarg13 Please keep in mind this could only be done after the #556 is done as it requires to make a UI for the dropdown in the Navbar.

[2020-03-04 21:18] divyanshu-rawat commented on #558
@priyadarshu you can place shared components here - https://github.com/Ignitus/Ignitus-client/tree/master/src/shared :)

[2020-03-04 21:23] divyanshu-rawat commented on #559
@tanisha03 go ahead 👍

[2020-03-04 21:30] divyanshu-rawat opened #579 "Folder structure refactoring."
**Is your feature request related to a problem? Please describe.**
In the project we have too many folders and some of them are doing the same job, what I mean is if you look` ignitus-Helpers` , `ignitus-Internals`, `shared` have files in them that are being used all over the application, so why not merge and place everything into one folder lets say ` ignitus-Helpers` that will consist of `shared

[2020-03-04 21:42] divyanshu-rawat opened #580 "Removal of Bootstrap 4 in Nav-bar. 🎨"
**Is your feature request related to a problem? Please describe.**
Remove `Bootstrap 4` classes used in `navigation-bar` with `custom css`, one way is to copy properties associated with BS4 classes and add those properties to your `custom classes`, or design `navigation-bar` from scratch using your own css.

**Describe the solution you'd like**
Remove `navigation-bar` BS4 => Pure css.

**Describe

[2020-03-05 05:59] AnjaliGarg13 commented on #560
I will coordinate with my teammate (RGSOC 2020) @gargshruti30 regarding #556 before getting started.

[2020-03-05 13:18] aysp-99 commented on #547
Hey! I would like to work on this issue.

[2020-03-05 14:11] divyanshu-rawat commented on #547
hey sound good @aysp-99  go ahead 👍

[2020-03-05 15:54] divyanshu-rawat opened #583 "Improve page insights."
Please find attached google page insights repot for `http://www.ignitus.org/`.
It looks good, but still we have some problem with rendering of images.
It would be great if someone can find a way to optimise it.

![screencapture-developers-google-speed-pagespeed-insights-2020-03-05-16_52_32](https://user-images.githubusercontent.com/13464678/75998877-c43a9100-5f01-11ea-92a7-b36ca0e8a31b.png)

@Paar

[2020-03-05 16:01] divyanshu-rawat opened #584 "Optimise app as per light-house report."
Please find attached google light-house repot for http://www.ignitus.org.

Screenshot won't show you everything.

![screencapture-googlechrome-github-io-lighthouse-viewer-2020-03-05-16_58_44](https://user-images.githubusercontent.com/13464678/75999633-cfda8780-5f02-11ea-9f00-3b8f1b69e0f7.png)

So, I would suggest to navigate [here](https://googlechrome.github.io/lighthouse/viewer/?psiurl=http%3A%2

[2020-03-05 16:38] abhishekjain35 commented on #580
I would like to work on this issue, kindly assign it to me.

[2020-03-05 16:40] John123Allison commented on #569
I'm not sure exactly what you're looking for - I tested the website on a few devices and it seemed fine as is. Could you please elaborate?

Thanks (:

[2020-03-05 17:29] divyanshu-rawat commented on #580
sure go ahead 👍 .

[2020-03-05 20:02] #574 closed

[2020-03-05 20:53] divyanshu-rawat opened #585 "Restrict Contributors count. ★"
**Is your feature request related to a problem? Please describe.**
Currently if you navigate to `http://www.ignitus.org/aboutus` and scroll down you will see a list of contributors that keeps on growing with passage of time.
we would like to restrict it to lets say something like `14+ contributors` instead of showing all of them.

**Describe the solution you'd like**
Please find attached screensho

[2020-03-05 21:04] divyanshu-rawat commented on #569
@John123Allison sure I respect your opinion, we plan to close this issue as website already seems quite responsive maybe because of some recent contributions after opening this issue.
Feel free to pick another issue to work on. 👍

[2020-03-05 21:04] #569 closed

[2020-03-06 10:44] ashishnagpal2498 commented on #585
I would like to work on this issue - GSSOC 20.

[2020-03-06 10:45] ashishnagpal2498 commented on #578
I would like to work on this issue.

[2020-03-06 11:06] gittysachin commented on #585
Sure @ashishnagpal2498, go for it ⚡

[2020-03-06 11:33] shreyakapoor08 commented on #578
Hey, I want to work on this issue

[2020-03-06 12:32] divyanshu-rawat commented on #578
@ashishnagpal2498 you are already assigned to https://github.com/Ignitus/Ignitus-client/issues/585. So, I am assigning this to @shreyakapoor08.

[2020-03-06 16:54] abhu-A-J commented on #583
@divyanshu-rawat Sir, found this [medium article](https://medium.com/@albertjuhe/an-easy-to-use-performant-solution-to-lazy-load-images-in-react-e6752071020c#:~:text=Introducing%20react%2Dlazy%2Dload%2Dimage%2Dcomponent&text=It%20will%20load%20the%20image,when%20a%20filter%20is%20applied.), I think this can be something??

[2020-03-06 17:19] abhu-A-J commented on #570
@debck can I work with this? It looks straightforward. Thanks!

[2020-03-06 17:47] gittysachin commented on #570
Go ahead @abhu-A-J 👍

[2020-03-06 18:00] divyanshu-rawat commented on #583
@abhu-A-J solution sounds goof to me, but can you check if we can optimise images sizes as well :), like showing low resolution pictures initially when application loads and then high resolution after some  time, or maybe lazy loading might be doing the same thing, so feel free to explore and let me know.

[2020-03-06 18:03] abhu-A-J commented on #583
Sure, I'll let you know by tomorrow. I will search up on few things.

[2020-03-06 18:43] #570 closed

[2020-03-06 18:54] gittysachin commented on #583
@divyanshu-rawat @abhu-A-J PNG files are consuming more data. So we can use [WebP](https://developers.google.com/speed/webp/) format instead of png. It provides better compression with lossless quality and is 26% smaller in size. The downside of using WebP images is that Safari and IE don't support WebP format. So we can load png for both and WebP for the rest of the browsers. But for loading low-

[2020-03-06 19:01] abhu-A-J commented on #583
One can also use picture tag to specify different size images, rather than just one . Something like these:
[code]

The combination of lazy image loading and this can be used? Also media queries exits for css to change images based on screen resolution , something like this:
[code]
and using this in combination with `@supports` will help it degrade gracefully on browsers as well

[2020-03-07 06:21] ashishnagpal2498 commented on #579
I would like to work on this issue.

[2020-03-07 09:37] priyadarshu commented on #558
I had edited src/ignitus-Dashboard-Profile-Section/Components/dashBoardProfileSection.js file based on the Figma design. But couldn't check if its actually working, may i directly send a push request

[2020-03-07 10:09] debck commented on #579
Hey @ashishnagpal2498 , You have still two unmerged PR's. So once they are verified and merged, we will assign you with this one.

[2020-03-07 12:50] gittysachin commented on #558
@priyadarshu please link your pull request to this issue.

[2020-03-07 15:37] divyanshu-rawat commented on #477
once @steric85 is done migrating some components, they we are taking this issue out of `gssoc20` to `rgsoc20`.

[2020-03-07 17:57] hudlerr commented on #557
Hi! Could I have a go at this issue?

[2020-03-07 18:24] Paarmita commented on #557
@hudlerr Sure!

[2020-03-07 18:30] Saumya-Mishra9129 commented on #530
Hey!! I want to work on this issue.

[2020-03-08 04:56] abhu-A-J commented on #583
@divyanshu-rawat @gittysachin should I work on this, and use a similar technique based on the discussion above (lazy loading images)

[2020-03-08 08:01] adityasanil commented on #584
Can I take up this?

[2020-03-08 09:54] Paarmita commented on #584
@adityasanil Sure go for it.

[2020-03-08 12:32] Saumya-Mishra9129 commented on #530
Can I start working with this issue?

[2020-03-08 13:32] steric85 commented on #551
Hey! @divyanshu-rawat I've clod

[2020-03-08 13:52] gittysachin commented on #583
@abhu-A-J you can start working on this issue. But use lazy-loading-images instead of using different size images. We probably don't wanna use different size images for each and every image.

[2020-03-08 14:04] abhu-A-J commented on #583
@gittysachin  Thanks! I'll get started then.

[2020-03-08 14:29] gittysachin commented on #583
You're welcome! Hope to see your contribution soon :)

[2020-03-08 15:32] debck commented on #530
@Saumya-Mishra9129 Go for it.

[2020-03-08 23:16] Paarmita opened #594 "Site under build page UI"
On the develop branch, currently, no dashboard UI has been built, so I wanted a site under build banner message for the users who register.

Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the design.
- Export the

[2020-03-08 23:18] #545 closed

[2020-03-08 23:19] #544 closed

[2020-03-08 23:19] #398 closed

[2020-03-09 00:36] divyanshu-rawat commented on #543
@SanthoshBalagur are you still working on this? if yes you only need to design form as a separate component as jobConfirmation(#397 )/jobDescription are similar except the application form, so please create the UI and logic for application form :)

[2020-03-09 06:36] SanthoshBalagur commented on #543
@divyanshu-rawat  Yes I'm working on it . Will do.

[2020-03-09 08:53] Paarmita commented on #551
@steric85 @divyanshu-rawat  Closing this one!

[2020-03-09 08:53] #551 closed

[2020-03-09 15:05] suraj111999 commented on #403
I want to do work on this issue

[2020-03-09 15:07] ShauryaBhandari commented on #565
Hi! Has this issue been resolved? Or is some help still needed?
Thanks.

[2020-03-09 15:08] ShauryaBhandari commented on #580
Hi! I would like to work on this issue if it has still not been resolved.
Thanks!

[2020-03-09 16:20] Paarmita commented on #565
@steric85 Are you still working on this issue?

[2020-03-09 16:48] gittysachin commented on #580
@abhishekjain35 are you still working on this issue?

[2020-03-09 19:02] shreyakapoor08 commented on #580
I want to work on this issue. @gittysachin @divyanshu-rawat

[2020-03-09 21:47] #585 closed

[2020-03-09 23:09] Paarmita commented on #578
@shreyakapoor08 Sorry, I couldn't provide a proper UI for this, but here it is, can you please add this text with defined spacing.

<img width="781" alt="Screenshot 2020-03-10 at 12 07 58 AM" src="https://user-images.githubusercontent.com/26546816/76264894-5ecd0400-6263-11ea-82ce-b1c3e823159a.png">

[2020-03-10 01:48] marylicious commented on #476
I want to work on this as part of GSSOC

[2020-03-10 04:37] shreyakapoor08 commented on #578
Hey @Paarmita I have made the appropriate changes. Please check. I am attaching the snippet below

![Capture](https://user-images.githubusercontent.com/31164665/76280141-e98b1e80-62b6-11ea-9281-096485809bd3.JPG)

[2020-03-10 10:34] kamal-kaur04 commented on #546
Hii @divyanshu-rawat, do this issue wants to convert one career page into two pages(as the #396 has one long career page) ?

[2020-03-10 10:45] gittysachin commented on #476
Sure @marylicious, go ahead 👍

[2020-03-10 10:54] gittysachin commented on #546
Hi @kamal-kaur04, the Careers page can be divided into two parts as described [here](https://github.com/Ignitus/Ignitus-client/issues/396#issuecomment-593006837). So this issue covers the 1st part of the Careers page design.

[2020-03-10 10:58] kamal-kaur04 opened #601 "After Signing Up, it produces the Sign Up page only."
**Is your feature request related to a problem? Please describe.**
When I press Sign up (as student/Professor) button after filling information to sign up, it opens the sign up page again.

**Describe the solution you'd like**
I feel that after sign up, it should redirect the user to Sign In page.

![ignitus_feature_1](https://user-images.githubusercontent.com/38219887/76305940-0ee64f80-62ec-11ea-

[2020-03-10 11:08] kamal-kaur04 commented on #546
@gittysachin two parts means division of one page?

[2020-03-10 11:09] kamal-kaur04 commented on #546
@gittysachin two parts means division of one page?

[2020-03-10 11:09] gittysachin commented on #546
Yes 😊

[2020-03-10 11:11] APOORVA456 commented on #540
@Paarmita  I would Like to work on this issue .

[2020-03-10 11:16] gittysachin commented on #540
Sure @APOORVA456, Go ahead 👍

[2020-03-10 11:16] kamal-kaur04 commented on #546
Okay, So a new design has to be made. Can I work on this?

[2020-03-10 11:27] divyanshu-rawat commented on #476
Hello @marylicious first of all thanks for your interest in the ticket :) , would like to let you know before you proceed `styled components `are already been introduced, what you need to do is to migrate any component that is not yet migrated #478 adds [emotion](https://emotion.sh/docs/styled) to the project, some this issue can be divided into 2 parts.

1 - Migrate Bootstrap 4 based component to

[2020-03-10 11:27] gittysachin commented on #546
The design has to be implemented in a single file for both parts.

Sure @kamal-kaur04 go for it ⚡️

No, once you work on this issue and make the changes, part 2 will also be added in the same file.

[2020-03-10 11:34] kamal-kaur04 commented on #546
Okay sure. But won't it lead to design inconsistency for single file?

[2020-03-10 11:49] gittysachin commented on #546
@kamal-kaur04 if you can make the whole design for both the parts then you can do this way too. This way both the issues will be solve using one single PR and you won't have to deal with the design inconsistency.

[2020-03-10 11:53] gittysachin commented on #601
Thanks for opening this issue @kamal-kaur04. But it should also flash the message `Success! Please Login!` on the login page.

[2020-03-10 12:01] divyanshu-rawat commented on #546
Sure to avoid design inconsistencies if you want you can go ahead with
designing the entire page :) .

On Tue 10. Mar 2020 at 12:49, Sachin Jangid <notifications@github.com>
wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <

[2020-03-10 12:25] kamal-kaur04 commented on #546
Okay, sure! :+1:

[2020-03-10 13:34] Xtremilicious commented on #579
@divyanshu-rawat @debck Would like to work on this one :)

[2020-03-10 13:35] divyanshu-rawat commented on #579
Go ahead :)

On Tue 10. Mar 2020 at 14:34, Nilarjun Das <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn]
<https://htmlsig.com/t/000001DKT8C6>

[2020-03-10 14:38] Xtremilicious commented on #579
I'm having a problem while committing the code. Help is appreciated.

<img width="335" alt="ScreenShot_20200310200727" src="https://user-images.githubusercontent.com/47635607/76323536-da35c080-630a-11ea-94af-57a9e2b65f80.png">
<img width="284" alt="ScreenShot_20200310200731" src="https://user-images.githubusercontent.com/47635607/76323540-dbff8400-630a-11ea-9c3d-87f4c3b4c05a.png">

[2020-03-10 14:40] divyanshu-rawat commented on #579
@Xtremilicious try removing `CI=true` from your `package.json` and then try committing.

[2020-03-10 14:46] Xtremilicious commented on #579
Well, now it tells this:
<img width="491" alt="ScreenShot_20200310201430" src="https://user-images.githubusercontent.com/47635607/76324273-c6d72500-630b-11ea-8965-37fd8360345e.png">

I searched a bit about this issue, maybe there was a fix that involves [cross-env](https://github.com/kentcdodds/cross-env)

Let me know if I should try using that package.

[2020-03-10 14:54] divyanshu-rawat commented on #579
@Xtremilicious leave it for now, focus on the current issue just bypass it using `--no-verify`

[2020-03-10 14:54] divyanshu-rawat commented on #579
which machine or OS are you using it on? if it is windows then I suppose we need cross-env else it is fine.

[2020-03-10 15:15] Xtremilicious commented on #579
@divyanshu-rawat I got it to work on my OS(Windows) by changing the syntax a bit; tests were performed successfully. I think this should be added in the contributing docs so that others using Windows OS have no problems committing in the future:)

<img width="305" alt="ScreenShot_20200310204306" src="https://user-images.githubusercontent.com/47635607/76327361-ea03d380-630f-11ea-970a-8eaed83174ff.p

[2020-03-10 15:16] divyanshu-rawat commented on #579
Great 👍 please create an issue and add it there :)

On Tue 10. Mar 2020 at 16:16, Nilarjun Das <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedI

[2020-03-10 18:13] gittysachin commented on #580
@ShauryaBhandari you can start working on this issue 👍

[2020-03-10 19:47] Paarmita commented on #578
@shreyakapoor08 Looks good! Thanks for the changes, it would be great if you can also add a bit more margin on top and bottom of this section similar to what other sections have.

[2020-03-10 20:31] divyanshu-rawat commented on #550
@AnjaliGarg13 are you still working on it? :)

[2020-03-10 23:31] divyanshu-rawat opened #605 "IMP! Keep in mind before sending PR."
IMP: Please create a new branch from develop not from master, and also create a pull request to develop not to master.

[2020-03-10 23:32] divyanshu-rawat commented on #580
@ShauryaBhandari Please go through #605 before staring this issue.

[2020-03-10 23:32] divyanshu-rawat commented on #584
Please go through #605 before staring this issue.

[2020-03-10 23:33] divyanshu-rawat commented on #583
Please go through #605 before staring this issue.

[2020-03-10 23:33] divyanshu-rawat commented on #578
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-10 23:33] divyanshu-rawat commented on #575
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-10 23:33] divyanshu-rawat commented on #573
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-10 23:33] divyanshu-rawat commented on #565
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-10 23:34] divyanshu-rawat commented on #560
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-10 23:34] divyanshu-rawat commented on #559
Please go through #605 before staring this issue, ignore if you have already created a branch out of master.

[2020-03-11 01:13] #579 closed

[2020-03-11 01:13] divyanshu-rawat commented on #565
#548 Resolves it.

[2020-03-11 01:13] #565 closed

[2020-03-11 01:13] #559 closed

[2020-03-11 01:23] divyanshu-rawat commented on #519
@VibavariG are you still working on it?

[2020-03-11 06:27] gargshruti30 commented on #575
![Screenshot from 2020-03-09 01-08-07](https://user-images.githubusercontent.com/34654829/76388513-58d44180-638f-11ea-9406-46c31e31cd51.png)
@divyanshu-rawat I have designed the first page. Please approve. Then I will go ahead with the other pages.

[2020-03-11 06:39] gargshruti30 commented on #556
@Paarmita  What will be the content of the online dropdown and what's the need for it?

[2020-03-11 07:22] Paarmita commented on #556
Content of dropdown will be like this, and it contains various options. You can see Figma designs to better understand all the options.

<img width="785" alt="Screenshot 2020-03-11 at 8 21 14 AM" src="https://user-images.githubusercontent.com/26546816/76392176-4ea34a80-6371-11ea-9f31-47b18bdc15d1.png">

[2020-03-11 07:28] Paarmita commented on #575
@gargshruti30 UI looks good, just a small suggestion. Make the input background color as white and add more padding in the box.

[2020-03-11 07:31] gargshruti30 commented on #556
@Paarmita Do we have to position the elements according to the CSS given in Figma?

[2020-03-11 07:32] gargshruti30 commented on #575
Ok. I will do that. By the way which box are you talking about?

[2020-03-11 07:36] Paarmita commented on #575
Country region, province and time zone dropdown inputs

[2020-03-11 07:37] divyanshu-rawat commented on #575
Hey Shruti, I think she meant the input box?

On Wed 11. Mar 2020 at 08:33, Shruti Garg <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn]
<htt

[2020-03-11 07:38] Paarmita commented on #556
Not exactly I would say, but you can try to use the same spacing if it works well.

[2020-03-11 08:52] AnjaliGarg13 commented on #550
@divyanshu-rawat
Yeah, I was trying to go through the project folder by folder.
What I'm understanding by this issue is that I have to work on the folder structure without making any major changes to the code.
Lmk if the requirement is something different.

[2020-03-11 09:10] divyanshu-rawat commented on #550
@AnjaliGarg13 yes, It is all about putting folder into each other, no changes to code at all.

[2020-03-11 09:14] AnjaliGarg13 commented on #550
Okay :)

[2020-03-11 09:17] divyanshu-rawat commented on #550
It would be great if we can have some structure like this create a new folder with a name` ignitus-AboutPage` should consist of i`gnitus-About`,` ignitus-CoreTeam`, `ignitus-Team`

I would like to give you one tip if you have. a-powerful IDE like visual studio, if you move folders inside it by dragging it will automatically update the imports, doing much of the heavy lifting for you :).

[2020-03-11 09:31] AnjaliGarg13 commented on #550
Thanks @divyanshu-rawat
I will take care of the folder structure.

[2020-03-11 09:54] gargshruti30 commented on #575
@Paarmita Oh yeah! Thanks.

[2020-03-11 11:00] BhuwanChandra commented on #542
@divyanshu-rawat I want to work on this. please assign this to me

[2020-03-11 11:58] gittysachin commented on #542
Sure @BhuwanChandra. Go ahead 👍

[2020-03-11 12:16] divyanshu-rawat commented on #542
I think someone else is already working on this.

On Wed 11. Mar 2020 at 12:58, Sachin Jangid <notifications@github.com>
wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn

[2020-03-11 13:34] divyanshu-rawat commented on #542
@BhuwanChandra please see here #543, someone is already working on this issue. :)

[2020-03-11 13:38] Paarmita opened #607 "Dashboard: Profile Main section UI"
**Describe the solution you'd like**
Implementation of the attached UI of the Profile Section in the Profile screen based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement

[2020-03-11 13:45] Paarmita opened #608 "Dashboard: Settings Page Side Navigation"
**Describe the solution you'd like**
Implementation of the attached UI of the Side navigation in the Settings screen based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement

[2020-03-11 14:16] shreyakapoor08 commented on #578
I have done the corrections. Kindly check

[2020-03-11 14:18] ashishnagpal2498 commented on #607
Hey @Paarmita  can I work on this issue ?

[2020-03-11 14:20] ashishnagpal2498 commented on #608
Can I work on this issue ?

[2020-03-11 14:29] Paarmita opened #609 "Dashboard: Opportunities Filters"
**Describe the solution you'd like**
Implementation of the attached Opportunity based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Templates](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Templates) which is displayed in the [ignitus-UIKit](https://githu

[2020-03-11 14:31] Paarmita commented on #607
@ashishnagpal2498 Sure, go for it!

[2020-03-11 14:32] Paarmita commented on #608
@ashishnagpal2498 Please provide a PR for #607, then take up new issues.

[2020-03-11 14:53] Paarmita opened #610 "Design Feedback"
It would be great for us if you could spare some time ⏰ to provide the UX feedback 📋 on the designs.
It will also help you to better understand what you will be building and working on.

View Screens in [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) and comment 💬 on the screens to provide feedback 📋. You can also comment below in this issue. 👊

Do let me

[2020-03-11 15:03] shreyakapoor08 commented on #608
can i take up this issue?

[2020-03-11 15:09] chhavikirtani2000 commented on #610
Hi!
I am a member of cdTech team and we are planning on participating in RGSoC'20. We would like to start making small contributions to this project. Please guide us further
Thanks for your time.

[2020-03-11 15:13] Paarmita commented on #610
@chhavikirtani2000 Welcome! You can join the slack (https://igniteus.slack.com/join/shared_invite/enQtNDE2MzM1MTg1NDczLWM1NzAzYzhlYmU3ODRkMjIyZjE3YjFlMzQ2ODljYzhhMjdiNzZjZDc3OTIyNGEwNjE4NDYwMGM0NjExZDE0ZjE ) and can contact @divyanshu-rawat for further contribution.

[2020-03-11 15:27] BhuwanChandra commented on #542
Ok then, I will check for some other issue.

[2020-03-11 16:02] adityasanil commented on #584
Sure.

[2020-03-11 19:01] #578 closed

[2020-03-11 19:14] divyanshu-rawat opened #612 "Code readability 🧹"
**Is your feature request related to a problem? Please describe.**
As we can see in screenshot, we have lot of folders here and I believe we can refactor some of them to make it look more `generic`  and `readable`, `understandable`.

**Describe the solution you'd like**
For instance `ignitus-HomePage` should consist of `ignitus-GetStarted`,` ignitus-Introduction`,   `ignitus-Contributors`,` ignitu

[2020-03-11 21:42] divyanshu-rawat commented on #550
@AnjaliGarg13 if you haven't started with this yet , then please let me know if I have already improved lot fo folder related structure in this pr #613, except refactoring for this issue, I can do it as well, but if you have started working on it then it is fine :)

[2020-03-11 21:47] divyanshu-rawat commented on #612
#613 resolves this.

[2020-03-12 03:42] BhuwanChandra commented on #594
@Paarmita I would like to work on this issue. please assign this to me

[2020-03-12 05:25] gittysachin commented on #594
@BhuwanChandra Sure, go ahead. Please remember to create pull request from `develop` branch.

[2020-03-12 06:14] AnjaliGarg13 commented on #550
@divyanshu-rawat You can work on this issue as well, it took me time to get familiar with the repository. It would be easier for you to refractor for this issue as well. I'll work on the other issue assigned to me.

[2020-03-12 09:21] divyanshu-rawat commented on #550
Sure Thanks :)

On Thu 12. Mar 2020 at 07:14, AnjaliGarg13 <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn]
<https://htmlsig.com/t/000001DKT8

[2020-03-12 14:05] kamal-kaur04 commented on #601
@gittysachin then we can show that in alert box that can popup after submitting the sign-up form.

[2020-03-12 14:18] Paarmita opened #615 "Dashboard: Opportunity details page"
**Describe the solution you'd like**
Implementation of the attached UI of the Opportunity details page section based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the d

[2020-03-12 15:49] abhu-A-J commented on #404
@divyanshu-rawat  I was just trying to work on this issue so see if I can figure it out, and it seems the problem was with the reducer in **LOG_IN_RESPONSE** where the message key was not reset to `' '`.

This would the solution but that creates a new problem on the UI which is the loader component and the message `Processing...` is kind of equivalent to what they offer. So I overcame the solution

[2020-03-12 15:58] kamal-kaur04 opened #616 "Improvement in CONTRIBUTION.md"
**Describe the bug**
CONTRIBUTION.md says,

1. Fork the repository.
`https://github.com/your_username/Ignitus-client.git`

2. Clone the repository.
`git clone https://github.com/Ignitus/Ignitus-client.git`

**To Reproduce**
`Ignitus-client/.github/CONTRIBUTION/CONTRIBUTION.md`

**Expected behavior**
I guess this should be like.
1. Fork the repository.
`https://github.com/Ignitus/Ignitus-client.git

[2020-03-12 16:12] #612 closed

[2020-03-12 16:20] debck commented on #616
@kamal-kaur04 If you want, you can solve the issue

[2020-03-12 16:42] mySTRiouscoder commented on #575
is this issue open for GSSOC students ?

[2020-03-12 16:43] kamal-kaur04 commented on #616
Yes, I would like to solve. Thanks.

[2020-03-12 17:06] divyanshu-rawat commented on #575
Hey harsh thanks for your interest but as of now it’s for RGSOC students :)

On Thu 12. Mar 2020 at 17:42, Harsh Mehta <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001

[2020-03-12 20:04] Paarmita opened #618 "Navbar after signup does not show that the user is logged in"
**Describe the bug**
After Signup or login, if you go back to the homepage, the navigation doesn't show that you are logged in or do not have any link to view the dashboard.

**Expected behaviour**
The Navbar should change if the user is signed in already, just for now till the dashboard is not fully developed.

**Screenshots**
After signup Navbar should look like this

<img width="1440" alt="Scre

[2020-03-12 20:18] Paarmita opened #619 "Dashboard: Internship List view"
**Describe the solution you'd like**
Implementation of the attached UI of a list view of opportunities based on code guidelines.

**Additional context**
Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8) for User-Interface and other styles-related issue.

- You can view all the CSS, colors, typography, shadow effects, required to implement the design.
-

[2020-03-13 08:14] kamal-kaur04 commented on #546
@gittysachin @divyanshu-rawat I have a query, Do I have design it using typescript as programming language?

[2020-03-13 08:37] divyanshu-rawat commented on #546
Hey thanks for the question :), actually we are migrating entire codebase
to TS already but it depends on you as your language of choice nevertheless
if you design it in JS we will migrate it to TS in the future , but if you
are more comfortable with js go ahead with it, TS is nothing it a superset
of js that basically adds typings to js do migrating from js to TS can be
done in 30 minutes for car

[2020-03-13 08:47] kamal-kaur04 commented on #546
@divyanshu-rawat Thank you. I will use Js for now as I am familiar with it.

[2020-03-13 08:49] divyanshu-rawat commented on #546
Sounds good to me :)

On Fri 13. Mar 2020 at 09:47, Kamalpreet Kaur <notifications@github.com>
wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmlsig.com/t/000001DCV8RZ>  [image: LinkedIn]
<https://htmlsig.com/t/0

[2020-03-13 09:01] BhuwanChandra commented on #594
@gittysachin in which folder do I need to create this site under build banner component?

[2020-03-13 09:46] Paarmita commented on #546
@kamal-kaur04 Are you working on the whole page design, so I can assign #396 issue to you?

[2020-03-13 10:59] Saumya-Mishra9129 commented on #618
I would like to work on this issue!!

[2020-03-13 12:55] kamal-kaur04 commented on #546
Yes @Paarmita

[2020-03-13 13:15] gittysachin commented on #601
No @kamal-kaur04, make that same as we did on the signup page, as it showed `Success! Please Login!` above the form. But it should redirect to login page and show that same flash there. No alert box or popup.

[2020-03-13 13:47] gittysachin commented on #594
@BhuwanChandra make this component inside `Ignitus-client/src/ignitus-Dashboard/
` folder. @Paarmita do we want to make this for `master` or `develop`? Because we recently updated our guidelines for contribution.

[2020-03-13 13:49] gittysachin commented on #618
Sure @Saumya-Mishra9129. Go ahead 👍

[2020-03-13 13:53] divyanshu-rawat commented on #594
@gittysachin everything should be merged to `master` in the end, so every new branch will be created out fo `develop`, and eventually everything from `develop` will be merged to master once we are ready for release, So, it should be for develop, we will never create a PR to `master` directly :)

[2020-03-13 13:55] gittysachin commented on #594
Thanks @divyanshu-rawat :)

[2020-03-13 13:58] divyanshu-rawat commented on #396
**FYI:** This issue is already assigned to @kamal-kaur04  as of now :)

[2020-03-13 14:39] kamal-kaur04 commented on #396
Hey, @divyanshu-rawat Can you provide these images for careers page?

[2020-03-13 15:34] divyanshu-rawat commented on #396
hey @kamal-kaur04 Refer [Figma](https://www.figma.com/file/BrP5RowC7va50HyETZQUDA/Ignitus-Design?node-id=121%3A8)  for User-Interface, Images and other styles-related issue.

[2020-03-13 19:21] ashishnagpal2498 commented on #607
Hi @Paarmita  , I am facing a bit issue in putting "chat" and "resume - page" icon as font-awesome are paid and svg is not working. Can you please help regarding this ?

[2020-03-13 22:18] divyanshu-rawat commented on #404
Thanks replied in slack :)

[2020-03-13 23:10] Paarmita commented on #607
@ashishnagpal2498 In which format do you need them?

[2020-03-14 01:20] divyanshu-rawat opened #628 "Announcement 🚨"
Today we have migrated our `mlab` database from `GCP` to `AWS`.
So, we have lost lot of user registration data, if anyone of you is working on any feature inside the `database`, then you can `re-register` yourself, and then `login` with new credentials to continue access to dashboard.

[2020-03-14 03:23] Paarmita opened #629 "Make the white background navbar as constant"
**Describe the bug**
Currently, the navbar is not visible until we scroll and then the navbar background changes to white which is visible on grey backgrounds.

**Expected behaviour**
The white background navbar should remain constant and not change on the scroll.

**Screenshots**
![ezgif-6-dc87eef1079f](https://user-images.githubusercontent.com/26546816/76674026-7120a800-65ab-11ea-94d4-c7db7d5f6e

[2020-03-14 04:42] vishnupriyareddy12 commented on #615
we would like to work on this issue.

[2020-03-14 04:53] vishnupriyareddy12 commented on #615
we already discussed about this issue in slack

[2020-03-14 05:25] debck commented on #615
@vishnupriyareddy12 Go for it :+1:

[2020-03-14 05:44] abhu-A-J commented on #629
@Paarmita Am  I allowed to  work on this??

[2020-03-14 10:08] ashishnagpal2498 commented on #607
@Paarmita the one supported by font-awesome as Icon.

[2020-03-14 11:09] kamal-kaur04 commented on #396
@divyanshu-rawat I have some queries regarding the flow of source code. Should I ask you here or can ping on slack?

[2020-03-14 11:19] toshihidetagami commented on #477
Hi! This is cool project so I want to take part.
I picked `ignitus-Introduction` and just made a pull request.

[2020-03-14 11:29] divyanshu-rawat commented on #396
@kamal-kaur04 ping me on slack 👍

[2020-03-14 11:31] divyanshu-rawat commented on #477
Thanks @toshihidetagami for your Interest, you can also join our [slack](https://bit.ly/JoinIgnitusSlack) if you are interested to contribute further :).

[2020-03-14 12:41] vishnupriya123-marri commented on #615
please instruct what are the root points for this .And from where onwards we should start our work.
please guide us what to do.

[2020-03-14 13:00] Paarmita commented on #629
@abhu-A-J  Sure!

[2020-03-14 13:56] toshihidetagami commented on #477
@divyanshu-rawat Thanks for the invitation. I will definitely join!

[2020-03-14 14:14] ashishnagpal2498 commented on #619
Hi @Paarmita , I have raised the PR for the other issue , I'll be doing the changes side by side. Can I work on this issue ?

[2020-03-14 14:38] aysp-99 commented on #477
Hi! I'd like to work on `ignitus-GetStarted`, sub folder of `ignitus-HomePage`. But `GSSoC` label was removed so can I still work on it?

[2020-03-14 15:12] gargshruti30 commented on #575
I am working on this. 4 pages are done. 2 are left. I will send a PR in a day or two.

[2020-03-14 15:33] divyanshu-rawat commented on #575
You can send the PR today itself and continue to work on it until that we
can review it :)

On Sat 14. Mar 2020 at 16:12, Shruti Garg <notifications@github.com> wrote:

--

Thanks and have a great day!
Best
Divyanshu Rawat
Currently *@Bayrischer Rundfunk* (Govt. of Germany).
Previously Research* @Stanford*,
Product Design @*Harvard* Innovation Labs.
+49 17658817481
*[image: Twitter] <https://htmls

[2020-03-14 16:34] ShauryaBhandari commented on #580
Hi! I am so sorry for replying late, I will be starting tonight. Thanks for assigning it to me and apologies.

[2020-03-14 16:57] abhu-A-J commented on #629
@Paarmita  Soory  I didn't really check this message before . You can close the [PR](https://github.com/Ignitus/Ignitus-client/pull/632) .

[2020-03-14 18:24] gittysachin commented on #615
@vishnupriya123-marri please create a new component for Opportunity details page using the given Figma design.

[2020-03-14 18:45] gittysachin commented on #619
Sure @ashishnagpal2498, go for it ⚡. But please make sure to work on the previous PR as well.

[2020-03-14 18:49] gittysachin commented on #477
@aysp-99 you can check other issues that have GSSoC labeled issues. We've specifically labeled this issue for RGSoC participants. Thanks :)

[2020-03-14 20:07] aysp-99 commented on #547
As kamalkaur is working on careers page part 1 and 2 as well, can you please unassign me the issue, to avoid confusions.

[2020-03-14 20:10] divyanshu-rawat commented on #547
@aysp-99 sure :)

[2020-03-14 20:14] divyanshu-rawat commented on #477
@aysp-99 you can go ahead 👍 , @gittysachin the problem is that new all the new PRS, that we have merged have JS written on them instead of TS leaving lot of work for migration, so even if @aysp-99 will work on migrating some components new contributors will add more JS files which Implies we always have to migrate to TS leaving migration to TS as `IN-PROGRESS` task always, nevertheless after somet

[2020-03-14 20:20] aysp-99 commented on #477
Sure. Thanks :)

[2020-03-14 20:20] gittysachin commented on #477
Thanks @divyanshu-rawat, I'll keep that in mind. @aysp-99 please go ahead :+1:

[2020-03-15 23:37] divyanshu-rawat commented on #628
We have added code conventions that needs to be followed while working on any feature.
https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions

Please have a look before starting to work on any feature. 🔨

[2020-03-16 07:18] Paarmita commented on #540
@APOORVA456 Are you still working on this one, because as I plan to make the navbar constant so this issue doesn't make sense now.

[2020-03-16 07:19] #550 closed

[2020-03-16 07:31] APOORVA456 commented on #540
Oh Okay

[2020-03-16 10:12] gittysachin commented on #540
@Paarmita I think that navbar should not be constant for each page and every scroll position. That would be cool if we can identify the background color of the page then we can make keep changing the colors inside the navbar and its logo. It should work like this. If the background color of the page at starting is `#010066` then we should change the logo color to `white` otherwise the color as it

[2020-03-16 10:24] Paarmita commented on #540
@gittysachin Good point. But for pages like `UIkit`, `Notfound`, `Site under construction`, `Careers`,  `Authentication- login signup` We need the navbar constant as initially, it has a transparent background which is not visible on these pages.
@divyanshu-rawat What could be a good workaround for this issue?

[2020-03-16 13:47] Saumya-Mishra9129 commented on #629
I would like to work on this issue

[2020-03-16 13:56] Paarmita commented on #629
@Saumya-Mishra9129 Sure go-ahead

[2020-03-16 14:15] Paarmita commented on #629
@Saumya-Mishra9129 Do wait for some time, as we need to discuss whether to make it constant or not. See discussion here #540

[2020-03-16 17:18] kamal-kaur04 commented on #601
Okay @gittysachin Can I take this up?

[2020-03-16 17:19] #616 closed

[2020-03-16 17:35] gittysachin commented on #601
Sure @kamal-kaur04, go for it ⚡️

[2020-03-16 17:46] AnjaliGarg13 commented on #556
@Paarmita @divyanshu-rawat
I started working on this issue as @gargshruti30 was busy with the other issue.
What would the UI be after collapsing the navbar button?
Can we use react bootstrap components?

[2020-03-16 20:51] kritika12298 commented on #397
Hello, I am Kritika Gupta and am looking forward to apply for Job Description Page. If no one is working on this issue then can you assign it to me?

[2020-03-18 03:02] BhuwanChandra commented on #609
@Paarmita I would like to work on this issue. please assign this to me.

[2020-03-18 13:05] gittysachin commented on #609
Go for it @BhuwanChandra ⚡️

[2020-03-18 18:53] #594 closed

[2020-03-18 18:58] BhuwanChandra commented on #609
@gittysachin in which folder do I need to create opportunities filters?

[2020-03-18 21:36] Paarmita commented on #629
@Saumya-Mishra9129 make the navbar constant for these pages, `UIkit`, `Notfound`, `Site under construction`, `Careers`,  `Authentication- login signup`  and for `Home` and `About`. it remains the same.

[2020-03-18 21:37] Paarmita commented on #540
@APOORVA456 You can take up this one now, as we discussed that it makes sense.

[2020-03-18 21:37] #619 closed

[2020-03-18 21:38] #608 closed

[2020-03-18 21:39] #567 closed

[2020-03-19 10:36] Paarmita commented on #556
@AnjaliGarg13 We are migrating bootstrap to styled CSS, so please don't use bootstrap.
For the collapsing navbar, I could provide you the UI by today.

[2020-03-19 11:02] Paarmita commented on #556
@AnjaliGarg13 We are migrating bootstrap to styled CSS, so please don't use bootstrap.
For the collapsing navbar, don't think about it now, just make it responsive till iPad.

I have an idea like this for the navigation in mobile - Combination of side and bottom menu.
You can try working on it, but it's not important at the moment.

![Bottom menu](https://user-images.githubusercontent.com/26546816

[2020-03-19 11:22] Paarmita opened #644 "Dashboard: Toggle button UI"
**Describe the solution you'd like**
Implementation of the attached Toggle button based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UIKit](https://git

[2020-03-19 11:32] akansha006 commented on #644
I would like to take up this issue. Please assign this to me.

[2020-03-19 12:48] divyanshu-rawat commented on #644
go ahead 👍

[2020-03-19 12:58] Paarmita commented on #609
@BhuwanChandra I have updated the issue description with all the details.

[2020-03-19 15:04] divyanshbhowmick commented on #629
I would like to fix up this issue. Please assign it to me!

[2020-03-19 15:09] Paarmita commented on #629
@Saumya-Mishra9129 Are you still working on this issue?
@divyanshbhowmick Let's wait for Saumya#s reply, otherwise you can take this up.

[2020-03-19 15:34] divyanshbhowmick commented on #629
Okay I will wait!

[2020-03-19 15:40] divyanshbhowmick commented on #610
I would like to fix this up!

[2020-03-20 03:00] FrozenGirl-spd commented on #629
@Paarmita  Can i work on the issue please?!

[2020-03-20 07:28] Saumya-Mishra9129 commented on #629
@Paarmita I have worked on this issue and send you a pull request

[2020-03-20 08:29] Paarmita opened #649 "Dashboard: Input fields UI"
**Describe the solution you'd like**
Implementation of all the Input fields based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Atoms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms) which is displayed in the [ignitus-UIKit](https://github.com/Ignitu

[2020-03-20 14:28] abhu-A-J commented on #399
@divyanshu-rawat I'll take this one. Functions I'm planning to replace are:
1. isEmpty
2. isObject
3. isString
4. isEqual

I could find only these as of now, I'll update others as well if I find them

[2020-03-20 15:37] divyanshu-rawat commented on #399
Thanks sounds good to me 😀

[2020-03-21 18:05] divyanshu-rawat commented on #628
### Design-kit (http://www.ignitus.org/interface)

**IMP:**  Please use `buttons`, `typography`, `colors`, `navigation` `components` etc. defined in the design-kit.

cc @gittysachin , @debck , @Paarmita please mention this as well while assigning issues to anyone.

[2020-03-21 20:12] BhuwanChandra commented on #609
@gittysachin but @Paarmita said in the issue description that it should be under ignitus-UserInterfaceKit folder. in which should I create that?

[2020-03-22 09:51] gittysachin commented on #609
Oh, My bad! @BhuwanChandra I didn't see the updated version of the description.

Yes Exactly, you need to create the folder under [/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Templates](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Templates). Create a new folder here `ignitus-FilterComponents/Opportunity`.

[2020-03-22 15:17] aysp-99 commented on #477
Can I work on `testimonial` component or any other component that you'd suggest me to work on?

[2020-03-22 15:48] Paarmita commented on #477
@aysp-99 We want to change the UI for testimonials, so if you want to migrate the component then you also need to change the UI, are you willing to work on that as well?

[2020-03-22 15:51] Paarmita commented on #526
@aysp-99 Here

[2020-03-22 17:39] aysp-99 commented on #477
@Paarmita Yes, Sure. I shall do that. :)

[2020-03-22 17:40] Paarmita commented on #477
@aysp-99 Okay, I will assign you the issue.

[2020-03-22 17:51] aysp-99 commented on #526
Okay. I'll start working on it! 👍

[2020-03-23 16:36] Paarmita opened #663 "Add icons: Notification, Profile, Search Icons"
Add the mentioned icons similar to the ones here
https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Assets/ignitus-Icons

We are using Material Rounded icons, anyways take SVG icons from here
Notification Icon-
https://material.io/resources/icons/?search=Notification&icon=notifications&style=round
Profile- https://material.io/resources/icons/?sear

[2020-03-23 16:42] Paarmita opened #664 "Add icons: Location, Clear, Create"
Add the mentioned icons similar to the ones here
https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Assets/ignitus-Icons

We are using Material Rounded icons, anyways take SVG icons from here
Location Icon-
https://material.io/resources/icons/?search=location&icon=location_on&style=round
Clear Icon- https://material.io/resources/icons/?icon=clear&

[2020-03-23 16:54] Paarmita commented on #663
@gargshruti30 @AnjaliGarg13 Let me know who wants to take up this issue.

[2020-03-23 16:57] gargshruti30 commented on #664
@Paarmita
I would like to work on this issue.

[2020-03-23 16:58] AnjaliGarg13 commented on #663
@Paarmita I'll take up this issue.

[2020-03-23 17:45] gargshruti30 commented on #664
@divyanshu-rawat @Paarmita do we have to create a branch from master or develop?

[2020-03-23 17:50] gittysachin commented on #664
@gargshruti30 you need to create a branch from `develop`.

[2020-03-23 17:53] divyanshu-rawat commented on #664
`Develop`

[2020-03-23 20:56] gargshruti30 commented on #575
@Paarmita 7 different icons are being used in these pages so can I send a separate PR containing SVG icons for them?

[2020-03-23 21:06] Paarmita commented on #575
@gargshruti30  Yes, you can do that. Can you provide a list of all the icons that are being used here, so I could provide the SVG icons for those?

[2020-03-23 21:13] gargshruti30 commented on #575
![75878307-b6114580-5e19-11ea-8b97-760c7ff3c56c](https://user-images.githubusercontent.com/34654829/77363576-fd378a00-6d78-11ea-8bd0-8dfc2a33ae02.png)
![75878309-b6a9dc00-5e19-11ea-9e3b-63aaf07549f8](https://user-images.githubusercontent.com/34654829/77363577-fdd02080-6d78-11ea-9079-11f6c1bf4263.png)
The icons used in these pages. Github, Facebook, Google plus.
The others that are used in the head

[2020-03-23 21:55] divyanshu-rawat commented on #575
@gargshruti30 we already have fb icon, you can go ahead by adding the remaining icons :)

[2020-03-24 04:45] yj2303 commented on #397
I would like to work on this issue as part of GSSOC'20

[2020-03-24 04:46] yj2303 commented on #403
I would like to work on this issue.

[2020-03-24 13:57] yj2303 commented on #554
changes in "about us" page

[2020-03-24 16:36] Paarmita commented on #554
@yj2303 What suggestions do you have for about us page?

[2020-03-24 17:01] divyanshu-rawat commented on #615
@vishnupriyareddy12 are you still working on this? :)

[2020-03-24 17:06] Paarmita opened #668 "Signup flow Progress Bar UI"
**Describe the solution you'd like**
Implementation of the attached Progress bar based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UIKit](https://gith

[2020-03-24 17:07] yj2303 commented on #554
I think we can make it more attractive

overall website is nicely designed but I found that page not upto the mark so I commented.

[2020-03-24 17:16] Paarmita opened #669 "Dashboard: Tags UI"
**Describe the solution you'd like**
Implementation of the attached UI for tags component based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Atoms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms) which is displayed in the [ignitus-UIKit](https://git

[2020-03-24 17:27] yj2303 commented on #554
would you like to assign this issue to me?

[2020-03-24 17:29] Paarmita commented on #554
@yj2303 Thanks for the suggestion, but for now, can you take up some other issues that are opened related to dashboard as we are mainly focusing on that.

[2020-03-24 17:34] Paarmita opened #671 "Dashboard: Scroll Bar UI"
**Describe the solution you'd like**
Implementation of the attached Scrollbar UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UIKit](https://gith

[2020-03-24 17:47] Paarmita opened #672 "Dashboard: Opportunities saved UI"
**Describe the solution you'd like**
Implementation of the attached Opportunities saved UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Layouts](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Layout) which is displayed in the [ignitus-UIKit](https:/

[2020-03-24 18:09] arpita-in commented on #669
@Paarmita I would like to work on this Issue . Kindly assign it to me and guide me for the same

[2020-03-24 18:14] Paarmita commented on #669
@arpita-in Sure. I have added the folders where you need to add the tags component and you need to develop mainly 2 types of tags, one with icon and other with only text. Also, in 4 colors white, grey, blue and orange.

[2020-03-24 18:16] Paarmita commented on #672
@arpita-in I have assigned you Tags issue, it would be great if you could provide a PR for that and then take up this one.

[2020-03-24 18:20] arpita-in commented on #672
No problem @Paarmita .. I will make PR then I will come to this

[2020-03-24 18:52] Prahitha commented on #649
I would like to work on this issue. Thanks.

[2020-03-24 19:13] Paarmita commented on #649
@Prahitha Sure. Just start a PR with the basic input UI for this

![sdvf](https://user-images.githubusercontent.com/26546816/77467211-de360800-6e0b-11ea-971a-3dcf24502069.PNG)

And then I could help you to add other inputs that we need in the UIkit.

[2020-03-24 19:44] Meghana-12 commented on #649
I would like to work on this issue too as prahitha and I belong to the same team. Thanks.

[2020-03-24 21:57] Paarmita opened #675 "Change shadow of Navbar"
**Is your feature request related to a problem? Please describe.**
White navbar shadow is too dark.

**Describe the solution you'd like**
Put the shadow to `box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;`

<img width="1440" alt="Screenshot 2020-03-24 at 10 57 00 PM" src="https://user-images.githubusercontent.com/26546816/77480868-cb7afd80-6e22-11ea-9871-81317da02905.png">

[2020-03-25 05:23] vishnupriyareddy12 commented on #615
yes sir

On Tue, Mar 24, 2020 at 10:32 PM Divyanshu Rawat <notifications@github.com>
wrote:

[2020-03-25 07:12] abhu-A-J commented on #672
@Paarmita Can I try this, if the issue is free to take??

[2020-03-25 07:26] Marvin9 commented on #481
@divyanshu-rawat
Close this issue.

[2020-03-25 08:11] yj2303 commented on #671
I would like to fix this issue. Please assign it to me!

[2020-03-25 08:30] Paarmita opened #676 "Dashboard: Button with icon"
**Describe the solution you'd like**
Implementation of the attached Button with icon component based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Atoms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms)->Buttons->Buttons with icons which is displayed

[2020-03-25 08:59] divyanshu-rawat commented on #481
@Marvin9 if you get time can you create components out of login/signup, what I mean is sharedLogin & sharedSignup also share lot of html between them , like except confirm password everything the UI is almost same in both of them, I will split kit out if I get time, if you have you can give it a try.

[2020-03-25 09:23] Paarmita commented on #649
@Meghana-12 You can add the search input box in the same way
https://user-images.githubusercontent.com/26546816/77146791-2e1f7280-6a8c-11ea-8f3f-91bbb03ac6a4.png

[2020-03-25 09:47] Marvin9 commented on #481
I would love to do that. However I am working on GSOC proposals, I will resolve this issue as soon as I got buffer time.

[2020-03-25 10:35] Meghana-12 commented on #649
Sure, thank you.

[2020-03-25 13:24] abhu-A-J commented on #580
@divyanshu-rawat  Can I do this task?? No PR seems to be made this now?

[2020-03-25 13:28] divyanshu-rawat commented on #580
@abhu-A-J please go ahead, and let me know if you need any help or struck anywhere :)

[2020-03-25 13:29] divyanshu-rawat commented on #672
@abhu-A-J this is only for RGSOC 2020 applicants thanks :) 🙏

[2020-03-25 13:31] abhu-A-J commented on #672
Oh okay!!! Not a problem ! :)

[2020-03-25 14:17] yj2303 commented on #676
I would like to fix up this issue . Kindly assign it to me.

[2020-03-25 15:00] Paarmita commented on #676
@yj2303 Sutre, go for it.

[2020-03-25 15:07] Paarmita opened #682 "Overlay screen on Logout UI"
**Describe the solution you'd like**
Implementation of the attached logout overlay message UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Layouts](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Layout) which is displayed in the [ignitus-UserInterfa

[2020-03-25 15:18] Paarmita opened #683 "Dashboard: Hooray Overlay UI"
**Describe the solution you'd like**
Implementation of the attached Overlay UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Molecules](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Molecules) which is displayed in the [ignitus-UserInterfaceBook](ht

[2020-03-25 15:19] #663 closed

[2020-03-25 15:41] Paarmita opened #684 "Dashboard: Separator UI"
**Describe the solution you'd like**
Implementation of the attached Separator with text UI based on [code guidlines](https://github.com/Ignitus/Ignitus-client/wiki/CodeGuidelines-And-Conventions).

This component needs to be under [Atoms](https://github.com/Ignitus/Ignitus-client/tree/master/src/ignitus-Shared/ignitus-DesignSystem/ignitus-Atoms) which is displayed in the [ignitus-UserInterfaceKit]

[2020-03-26 08:40] PravallikaKura commented on #218
I and my teammate @HarshiniKarumuri want to work on this project for RGSoC. We have experience in HTML, CSS, JavaScript,React.We would like to work on this issue.Please guide us through this.

[2020-03-26 09:25] HarshiniKarumuri commented on #675
I would like to work on this issue. Is this a part of RGSoC?

[2020-03-26 09:41] Prahitha commented on #672
I would like to work in this issue. Thanks

[2020-03-26 09:54] Paarmita commented on #672
@Prahitha Sure

[2020-03-26 13:03] dibakar95 commented on #395
Hi, @divyanshu-rawat is this issue fixed. If not, I can give it a go.
- Participant GSsoC20

[2020-03-26 13:15] divyanshu-rawat commented on #395
@dibakar95 Hey, thanks for your interest,

Some components are still using class based implementation instead of react-hooks I don't exactly what components you can search for  something like `extends`  in the code base in your editor, to see which components are extending parent react class React.Component or Component if your import is like this import { Component } from 'react'. see and replce

[2020-03-26 15:18] Paarmita commented on #672
@Prahitha You need to make this kind of card with title, subtitle, and description.

<img width="445" alt="Screenshot 2020-03-26 at 4 17 07 PM" src="https://user-images.githubusercontent.com/26546816/77663538-74d60680-6f7d-11ea-9001-541386fa116a.png">

[2020-03-26 18:23] Paarmita commented on #675
@HarshiniKarumuri This already has been resolved in migration PR. You can take up another issue.

[2020-03-26 18:23] #675 closed

[2020-03-26 18:24] Paarmita commented on #671
@yj2303 Sure go for it.

[2020-03-27 08:40] Paarmita opened #695 "Add Interface link in Footer"
As we have UI kit under` /interface`, so I suggest we need to have a link to it in the footer under **Links** section.

And the new order will be

![sdgde](https://user-images.githubusercontent.com/26546816/77737649-afd44a80-700e-11ea-8edd-55103855044a.PNG)

[2020-03-27 09:35] Adyasha8105 commented on #695
I want to work on this issue @Paarmita

[2020-03-27 09:36] Adyasha8105 commented on #695
Is this for GSsoc participants?

[2020-03-27 11:21] Paarmita commented on #695
@Adyasha8105 You can take thi

[2020-03-27 14:39] Adyasha8105 commented on #695
@Paarmita Could you point me?

[2020-03-27 14:50] Paarmita commented on #695
I didn't got you.

[2020-03-27 14:56] Adyasha8105 commented on #695
sorry, my mistake. I couldn't able to find the /interface. Now I got it.

[2020-03-28 07:50] siddhishree commented on #668
I'd like to work on this issue.

[2020-03-28 14:44] abhu-A-J commented on #403
@divyanshu-rawat Can I refactor the `footer` from `BS4` to `custom CSS` on this issue. Also I just finished learning `CSS-in-JS` using Emotion and I'll like to include that while working on this . So may I try this out, please?

[2020-03-28 15:04] divyanshu-rawat commented on #403
cool @abhu-A-J  go ahead, I would also like to highlight one learning opportunity for you to learn hooks & passing props to emotion.
If you will use emotion then the behaviour attached in the gif, needs to be in emotion way.
It would be great if you can do something like this on smaller screen, see the arrow `collapsing & expanding` here http://www.ignitus.org/interface.

We can hide/show the cont

[2020-03-28 15:09] divyanshu-rawat commented on #403
@yj2303 which component would you like to convert into pure css? :)

[2020-03-28 16:13] Adyasha8105 commented on #695
If I am getting it right, you want to remove "what we provide?" from the link section in footer?

[2020-03-28 16:58] Meghana-12 commented on #684
I would like to work on this.